<div class="pd-17">
  <h1 style="margin-top: 9px">Zahlungs<span style="font-weight: 100">status</span></h1>
  <div class="mt-47">
    <div class="left-border-div">
      <p class="p-272140">12.09.2020 09:00 - 10:15</p>
      <p class="p-576E82">Check-Up: Männergesundheit</p>
      <p class="p-272140">Marienstraße 4, 15387 Berlin</p>
    </div>
    <div class="mt-47">
      <p class="p-272140">150.95 €</p>
      <p class="p-272140">Zahlungsdatum: 23.09.2020</p>
      <p class="p-272140">Zahlungsart: Heidelpay</p>
    </div>
    <div
      class="d-flex ml-20"
      style="margin-top: 43px"
    >
      <mat-icon class="green-0">lens</mat-icon>
      <p class="p-green ml-10">Erfolgreich bezahlt.</p>
    </div>
    <div class="mt-47 float-right">
      <div class="d-flex">
        <button
          mat-stroked-button
          class="custom-button-384"
        >
          Rechnung ansehen
        </button>
        <button
          mat-stroked-button
          class="custom-button ml-10">
          Schließen
        </button>
      </div>
    </div>
  </div>
</div>
