<div class="left-side-container">
  <button mat-icon-button class="close" (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
  <div class="main-div">
    <h1>Anamnese <span style="font-weight: 100"> bogen</span></h1>
    <p class="mt-47">Sebastian Naumann Männlich,<br/> 39 Jahre, 1,83 m, 95 kg</p>
    <p class="mt-24">Rauchen Sie? <br/>Nein</p>
    <p class="mt-24">Trinken Sie täglich Alkohol? <br/>Nein</p>
    <p class="mt-24">Nehmen Sie regelmäßig Medikamente<br/> ein? <br/>Ja<br/> Gegen Diabetes</p>
    <p class="mt-24">Gibt es in Ihrer Familie Herzinfarkte /<br/> Schlaganfälle?<br/>Nein</p>
    <p class="mt-24">Sind bei Ihnen relevante<br/> Vorerkrankungen bekannt?<br/>Nein</p>
    <p class="mt-24">Wollen Sie uns noch zusätzliche<br/> Informationen zukommen lassen?<br/>Nein</p>
  </div>
</div>
