<div class="left-side-container">
  <button mat-icon-button class="close" (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
  <div class="main-div" *ngIf="medicalQuestion">
    <h1>Anamnese <span style="font-weight: 100;"> bogen</span></h1>
    <p class="mt-47">{{medicalQuestion.patientFirstName}} {{medicalQuestion.patientLastName}},
      <br/> {{medicalQuestion.age}} Jahre, {{medicalQuestion.height / 100}} m, {{medicalQuestion.weight}} kg</p>
    <p class="mt-20">Rauchen Sie?<br/>{{medicalQuestion?.smoking ? 'Ja' : 'Nein'}}</p>
    <p class="mt-20">Trinken Sie täglich Alkohol?<br/>{{medicalQuestion?.alcohol ? 'Ja' : 'Nein'}}</p>
    <p class="mt-20">Nehmen Sie regelmäßig Medikamente ein?<br/>{{medicalQuestion?.takeMedication ? 'Ja' : 'Nein'}}</p>
    <p class="mt-20">Gibt es in Ihrer Familie Herzinfarkte / Schlaganfälle?<br/>{{medicalQuestion?.heartAttack ? 'Ja' : 'Nein'}}</p>
    <p class="mt-20">Sind bei Ihnen relevante Vorerkrankungen bekannt?<br/>{{medicalQuestion?.previousIllness ? 'Ja' : 'Nein'}}</p>
    <p *ngIf="medicalQuestion?.previousIllness">{{medicalQuestion?.disease}}</p>
    <p class="mt-20">Wollen Sie uns noch zusätzliche Informationen<br/> zukommen lassen?<br/>{{medicalQuestion?.additionalInfo ? 'Ja': 'Nein'}}</p>
  </div>
  <div *ngIf="!medicalQuestion" class="main-div">
    <h1>Anamnese <span style="font-weight: 100;"> bogen</span></h1>
    <p class="mt-47">Keine Daten verfügbar</p>
  </div>
</div>
