<form [formGroup]="userForm" class="p-2">
  <h1>Benutzer neu</h1>

  <div class="d-flex flex-wrap user-form">
    <mat-form-field class="mt-4">
      <mat-label>Vorname</mat-label>
      <input formControlName="firstName" autocomplete="off" matInput>
    </mat-form-field>
    <mat-form-field class="mt-4">
      <mat-label>Nachname</mat-label>
      <input formControlName="lastName" autocomplete="off" matInput>
    </mat-form-field>
    <mat-form-field class="mt-4">
      <mat-label>E-Mail-Adresse</mat-label>
      <input formControlName="email" autocomplete="off" matInput>
    </mat-form-field>
    <mat-form-field class="mt-4">
      <mat-label>Mobilnummer</mat-label>
      <input formControlName="phoneNumber" autocomplete="off" matInput>
    </mat-form-field>
  </div>

  <mat-accordion class="position-relative">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar pink">
            <div class="round">
              <mat-icon>group</mat-icon>
            </div>
            <div>Zuweisung</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-wrap expansion-panel-container">
        <button
          type="button"
          mat-stroked-button
          *ngFor="let allocation of allocations"
          [ngClass]="{'primary': selectedAllocation===allocation.id}"
          (click)="selectAllocation(allocation.id)">
          {{allocation.name}}
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar green">
            <div class="round">
              <mat-icon>settings</mat-icon>
            </div>
            <div>Rolle</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-wrap expansion-panel-container">
        <button
          type="button"
          mat-stroked-button
          *ngFor="let role of roles"
          [ngClass]="{'primary': selectedRole===role.id}"
          (click)="selectRole(role.id)">
          {{role.name}}
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle disabled>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar yellow justify-content-between">
            <div class="d-flex align-items-center">
              <div class="round">
                <mat-icon>stop_circle</mat-icon>
              </div>
              <div>Aktiv</div>
            </div>
            <div class="d-flex">
              <mat-slide-toggle formControlName="isActive"></mat-slide-toggle>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="d-flex flex-column mt-4">

  </div>

  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center" style="width: 50%;">
      <mat-form-field class="mt-4" style="width: 60%;">
        <mat-label>Passwort</mat-label>
        <input formControlName="password" autocomplete="off" matInput>
      </mat-form-field>
      <button class="custom-button mr-3" type="button" (click)="generateRandomPassword()" mat-stroked-button>Generieren</button>
    </div>
    <div class="d-flex align-items-center">
      <button class="custom-button mr-3" mat-stroked-button (click)="close()">
        Abbrechen
      </button>
      <button class="custom-button primary" mat-stroked-button (click)="createUser()">
        {{this.data ? 'Edit User' : 'Add New User'}}
      </button>
    </div>
  </div>
</form>
