<div class="tablet-left-container">
  <button mat-icon-button class="close" (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
  <div class="main-message-div">
    <h1>
      Nachricht
    </h1>
    <p class="p-272140-tablet mt-38">
      Patienten-Nachricht via<br/> E-Mail beantworten
    </p>
    <div class="text-area">
    </div>
    <div class="mt-47 text-center">
      <button
        mat-stroked-button
        class="custom-button-384"
        >
        Nachricht versenden
      </button>
    </div>
  </div>
</div>


