<form [formGroup]="moveForm">
  <div class="patient-popup-container">
    <button mat-icon-button class="close" (click)="close()">
      <mat-icon>clear</mat-icon>
    </button>
    <div class="main-side-container" *ngIf="!success">
      <h1 *ngIf="isTablet">Termin <span style="font-weight: 100">verschieben</span></h1>
      <div class="left-border-div mt-38 position-relative">
        <p class="p-272140">
          {{getTimeDuration(displayData?.startTime, displayData?.duration)}}
        </p>
        <p class="p-576E82">Check-Up: {{displayData?.packageName}}</p>
        <p class="p-272140" *ngIf="!displayData?.differentPlace">
          {{displayData?.addressStreet}} {{displayData?.addressPlz}}, {{displayData?.addressOrt}}
        </p>
        <p class="p-272140" *ngIf="displayData?.differentPlace">
          {{displayData?.otherStreet}} {{displayData?.otherPostalCode}}, {{displayData?.otherCity}}
        </p>
      </div>
      <div class="mt-47">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar pink">
                  <div class="round">
                    <mat-icon>place</mat-icon>
                  </div>
                  <div>Adresse ändern</div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-wrap expansion-panel-container">
              <div style="margin-left: 55px">
                <div class="d-flex-between w-100">
                  <mat-form-field class="w-45">
                    <mat-label>PLZ</mat-label>
                    <input formControlName="plz" autocomplete="off" matInput (keyup)="checkPostalCode()">
                    <mat-icon *ngIf="f.plz.touched && !f.plz.errors" style="color: greenyellow" matSuffix>done</mat-icon>
                    <mat-icon *ngIf="f.plz.touched && f.plz.errors" style="color: red" matSuffix>close</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="w-45">
                    <mat-label>Ort</mat-label>
                    <input formControlName="ort" autocomplete="off" matInput>
                  </mat-form-field>
                </div>
                <mat-form-field class="full-width">
                  <mat-label>Straße Hausnummer</mat-label>
                  <input formControlName="street" autocomplete="off" matInput>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar green">
                  <div class="round">
                    <img src="/assets/images/clock_icon.svg" alt="clock">
                  </div>
                  <div>Neuen Termin auswählen</div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-wrap expansion-panel-container">
              <div class="text-center mt-4 w-100" style="margin-left: 76px">
                <app-booking-time-picker [data]="allTimes" (setSelectedTime)="selectedPTime = $event"></app-booking-time-picker>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar yellow justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="round">
                      <mat-icon>stop_circle</mat-icon>
                    </div>
                    <div>Nachricht hinzufügen</div>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-wrap expansion-panel-container">
              <mat-form-field
                appearance="outline"
                style="width: 100%;margin-left:55px"
              >
                <mat-label></mat-label>
                <textarea
                  matInput
                  formControlName="message"
                  placeholder=""
                  rows="13"
                ></textarea>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="text-center" style="margin-top: 30px">
        <button
          mat-stroked-button
          class="custom-button-C7D"
          [ngClass]="{'primary': moveForm.valid}"
          [disabled]="moveForm.invalid"
          (click)="submit()"
        >
          Termin verschieben
        </button>
      </div>
    </div>
    <div class="main-side-container" *ngIf="success">
      <h1>Termin <span style="font-weight: 100">stornieren</span></h1>
      <div class="d-flex mt-38">
        <mat-icon class="green-0">lens</mat-icon>
        <p
          class="p-green ml-10"
          style="margin-top: 3px"
        >Ihr Termin wurde storniert.</p>
      </div>
    </div>
  </div>
</form>
