.order-icon-container {
  display: flex;
  flex-direction: column;
  height: 20px;
  width: 20px;
  mat-icon {
    position: absolute;
  }
  .less-icon {
    top: -6px;
  }
  .more-icon {
    bottom: -6px;
  }
}
