<form [formGroup]="messageForm">
  <h1 style="margin-top: 9px">Patientenrückfrage <span style="font-weight: 100"> beantworten</span></h1>
  <div class="main-answer-modal-container">
    <div class="modal-left-div">
      <div class="des-div">
        <p class="p-272140">{{getTimeDuration(displayData?.startTime, displayData?.duration)}}</p>
        <p class="p-576E82">Check-Up: Männergesundheit</p>
        <p class="p-272140">{{displayData?.addressStreet + '' + displayData?.addressOrt}}, {{displayData?.addressPlz}} Berlin</p>
      </div>
      <div class="option-buttons-div">
        <div class="option-button-div">
          <button
            type="button"
            class="doctor-search-button"
            [ngClass]="{'active-button': isMedicalHistory}"
          >
            <mat-icon [ngClass]="{'active-icon':isMedicalHistory}">search</mat-icon>
          </button>
          <button
            type="button"
            class="custom-button-default ml-10"
            (click)="openMedicalHistory()"
            mat-stroked-button
            [ngClass]="{'active-button': isMedicalHistory}"
          >
            Anamnesedaten ansehen
          </button>
        </div>
        <div class="option-button-div mt-14">
          <button
            type="button"
            class="doctor-search-button"
            [ngClass]="{'active-button': isContactHistory}"
          >
            <mat-icon [ngClass]="{'active-icon':isContactHistory}">search</mat-icon>
          </button>
          <button
            type="button"
            class="custom-button-default ml-10"
            (click)="openContactHistory()"
            mat-stroked-button
            [ngClass]="{'active-button': isContactHistory}"
          >
            Kontakthistorie ansehen
          </button>
        </div>
        <div class="option-button-div mt-14">
          <button
            type="button"
            class="doctor-search-button"
            style="background: #89DF8C;color:#FFFFFF"
          >
            <mat-icon>phone</mat-icon>
          </button>
          <button
            type="button"
            class="custom-button-default ml-10"
            style="margin-left: 10px;background: #89DF8C;color:#FFFFFF"
            mat-stroked-button
            (click)="openPatientCall()"
          >
            {{displayData?.patientFirstName}} {{displayData?.patientLastName}}
          </button>
        </div>
      </div>
      <p class="p-272140">{{displayData?.schedule}}</p>
      <p class="p-272140">{{displayData?.date}}</p>
      <p class="p-272140" *ngIf="displayData?.time === 'morning'">Vormittags 09:00 - 12:00</p>
      <p class="p-272140" *ngIf="displayData?.time === 'afternoon'">Nachmittags (12:00 - 16:00)</p>
      <p class="p-272140" *ngIf="displayData?.time === 'evening'">Abends (16:00 - 19:00)</p>
    </div>
    <div class="modal-middle-div">
      <p style="margin-top: 56px">
        Kundennachricht {{formatTime(displayData?.createdAt)}}
      </p>
      <p style="margin-top: 57px">{{displayData?.schedule}}</p>
      <div class="faq-text">
        <p class="mt-24">
          {{displayData?.message}}
        </p>
      </div>
    </div>
    <div class="modal-right-div">
      <p class="p-A9BBC9" style="margin-top: 56px">
        Patienten-Nachricht via E-Mail beantworten
      </p>
      <ckeditor
        [editor]="Editor" formControlName="message" [config]="{ toolbar: [ 'bold', 'italic' ] }" data=""></ckeditor>
      <button
        type="button"
        class="custom-button"
        mat-stroked-button
        (click)="sendMessage()"
        style="margin-top: 24px;float: right"
      >
        Nachricht versenden
      </button><br/>
      <div class="determine-buttons">
        <div class="d-flex">
          <button
            type="button"
            class="custom-button"
            (click)="close()"
            mat-stroked-button
          >
            Patientenrückfrage schließen
          </button>
          <button
            class="custom-button primary ml-10"
            mat-stroked-button
          >
            Anfrage beantwortet
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
