<h1 style="margin-top: 9px">Patientenrückfrage <span style="font-weight: 100"> beantworten</span></h1>
<div class="main-answer-modal-container">
  <div class="modal-left-div">
    <div class="des-div">
      <p class="p-272140">03.10.2020 09:00 - 10:15</p>
      <p class="p-576E82">Check-Up: Männergesundheit</p>
      <p class="p-272140">Marienstraße 4, 15387 Berlin</p>
    </div>
    <div class="option-buttons-div">
      <div class="option-button-div">
        <button
          class="doctor-search-button"
          [ngClass]="{'active-button': isMedicalHistory}"
        >
          <mat-icon [ngClass]="{'active-icon':isMedicalHistory}">search</mat-icon>
        </button>
        <button
          class="custom-button-default ml-10"
          style="margin-left: 10px"
          (click)="openMedicalHistory()"
          mat-stroked-button
          [ngClass]="{'active-button': isMedicalHistory}"
        >
          Anamnesedaten ansehen
        </button>
      </div>
      <div class="option-button-div mt-14">
        <button
          class="doctor-search-button"
          [ngClass]="{'active-button': isContactHistory}"
        >
          <mat-icon [ngClass]="{'active-icon':isContactHistory}">search</mat-icon>
        </button>
        <button
          class="custom-button-default ml-10"
          style="margin-left: 10px"
          (click)="openContactHistory()"
          mat-stroked-button
          [ngClass]="{'active-button': isContactHistory}"
        >
          Kontakthistorie ansehen
        </button>
      </div>
      <div class="option-button-div mt-14">
        <button
          class="doctor-search-button"
          style="background: #89DF8C;color:#FFFFFF"
        >
          <mat-icon>phone</mat-icon>
        </button>
        <button
          class="custom-button-default ml-10"
          style="margin-left: 10px;background: #89DF8C;color:#FFFFFF"
          mat-stroked-button
          (click)="openPatientCall()"
        >
          Sebastian Naumann
        </button>
      </div>
    </div>
    <p class="p-272140">Rückrufwunsch</p>
    <p class="p-272140">28.09.2020</p>
    <p class="p-272140">Vormittags 09:00 - 12:00</p>
  </div>
  <div class="modal-middle-div">
    <p style="margin-top: 56px">
      Kundennachricht 29.09.2020 18:10
    </p>
    <p style="margin-top: 57px">Terminablauf</p>
    <div class="faq-text">
      <p style="margin-top: 23px">Hallo,</p>
      <p style="margin-top: 30px">
        ich habe Rückfragen zum Terminablauf, muss ich<br/>
        irgendwas vorbereiten? Oder muss ich<br/>
        vor der Blutentnahme auf etwas achten?
      </p>
      <p style="margin-top: 30px">
        Vielen Dank.<br/>
        Mit freundlichen Grüßen<br/>
        Sebastian Naumann
      </p>
    </div>
  </div>
  <div class="modal-right-div">
    <p class="p-A9BBC9" style="margin-top: 56px">
      Patienten-Nachricht via E-Mail beantworten
    </p>
    <ckeditor
      [editor]="Editor" [(ngModel)]="customText" [config]="{ toolbar: [ 'bold', 'italic' ] }" data=""></ckeditor>
    <button
      class="custom-button"
      mat-stroked-button
      style="margin-top: 24px;float: right"
    >
      Nachricht versenden
    </button><br/>
    <div class="determine-buttons">
      <div class="d-flex">
        <button
          class="custom-button"
          mat-stroked-button
        >
          Patientenrückfrage schließen
        </button>
        <button
          class="custom-button ml-10"
          mat-stroked-button
          (click)="openSuccess()"
          style="background: #384C61;color:#ffffff"
        >
          Anfrage beantwortet
        </button>
      </div>
    </div>
  </div>
</div>
