:host {
  position: relative;
  height: 100%;
  background-color: var(--primary-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  p {
    color: white;
  }
}

.main-content {
  display: flex;
  div:first-child {
    width: 35%;
  }
  div:last-child {
    width: 65%;
  }
}

.pfad-image-background {
  position: absolute;
  right: 0;
  top: 50px;
  width: 50% !important;
  height: 55%;
  //background-size: 100% 500px;
  background: transparent url('/assets/images/booking/step1-1.svg') 0 0 no-repeat padding-box;
  zoom: 60%;
}
