<form [formGroup]="appointmentForm">
  <div class="pd-17">
    <h1 style="margin-top: 9px">Neuer  <span style="font-weight: 100"> Termin</span></h1>
    <div class="main-container-div">
      <div class="w-100 d-flex-between">
        <div class="col-md-2">
          <mat-form-field appearance="fill" class="w-99">
            <mat-label></mat-label>
            <input formControlName="plz" autocomplete="off" matInput>
          </mat-form-field>
        </div>
        <div class="col-md-10">
          <mat-form-field appearance="fill" class="w-99">
            <mat-label></mat-label>
            <input formControlName="ort" autocomplete="off" matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="notify-container">
        <div class="d-flex-between flex-wrap">
          <div class="notify-board mt-15"
               *ngFor="let item of displayData"
               (click)="selectBoard(item.id)"
               [ngStyle]="{'background': selectedBoard === item.id ? '#4A90E2' : '#ffffff'}"
          >
            <div class="d-flex a-center">
              <div class="n-circle" [ngStyle]="{'background': selectedBoard === item.id ? '#ffffff' : '#4A90E2'}">
                <img src="/assets/images/male.svg" alt="male" *ngIf="selectedBoard !== item.id">
                <img src="/assets/images/blue-male.svg" alt="male" *ngIf="selectedBoard === item.id">
              </div>
              <p style="margin-left: 15px" [ngClass]="{'p-white':selectedBoard === item.id}">{{item.name}}</p>
            </div>
            <mat-icon class="p-0" *ngIf="selectedBoard !== item.id">more_horiz</mat-icon>
            <mat-icon class="p-white" *ngIf="selectedBoard === item.id">done</mat-icon>
          </div>
        </div>
      </div>
      <div class="detail-options">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar pink">
                  <div class="round">
                    <mat-icon>group_work</mat-icon>
                  </div>
                  <div>Zusatzpakete</div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-wrap expansion-panel-container">
              <div style="margin-left: 76px">
                <button
                  type="button"
                  mat-stroked-button
                  class="select-button"
                  *ngFor="let item of packages"
                  [ngClass]="{'primary': selectedPackage === item.id}"
                  (click)="selectPackage(item.id)">
                  {{item.name}}
                </button>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar green">
                  <div class="round">
                    <img src="/assets/images/clock_icon.svg" alt="clock">
                  </div>
                  <div>Neuen Termin auswählen</div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-wrap expansion-panel-container">
              <div class="text-center w-100" style="margin-left: 76px">
                <app-booking-time-picker [data]="allTimes" (setSelectedTime)="selectedPTime = $event"></app-booking-time-picker>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar yellow justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="round">
                      <mat-icon>euro_symbol</mat-icon>
                    </div>
                    <div>Zahlungsmittel</div>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-wrap expansion-panel-container">
              <mat-form-field appearance="fill" style="margin-left: 76px">
                <mat-label></mat-label>
                <mat-select formControlName="payment" [disabled]="!(userInfo?.alternative && userInfo?.customerStore)">
                  <mat-option
                    [value]="payment.value"
                    *ngFor="let payment of paymentOptions"
                  >
                    {{payment.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar blue justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="round">
                      <mat-icon>lens</mat-icon>
                    </div>
                    <div>Nachricht hinzufügen</div>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-wrap expansion-panel-container">
              <mat-form-field
                appearance="outline"
                style="width: 100%;margin-left:76px"
              >
                <mat-label></mat-label>
                <textarea
                  matInput
                  formControlName="message"
                  placeholder=""
                  rows="10"
                ></textarea>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="d-flex-between mt-15">
        <div></div>
        <div class="d-flex">
          <button
            mat-stroked-button
            (click)="close()"
            class="custom-button"
          >
            Abbrechen
          </button>
          <button
            mat-stroked-button
            class="custom-package-button ml-10"
            [disabled]="appointmentForm.invalid"
            [ngClass]="{'primary': appointmentForm.valid}"
          >
            Termin buchen
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
