<form [formGroup]="groupForm" class="p-2" #formView>
  <h1>Termin neu</h1>

  <mat-form-field class="w-100 mt-4">
    <mat-label>PLZ</mat-label>
    <input formControlName="name" autocomplete="off" matInput>
  </mat-form-field>

  <mat-accordion class="position-relative">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar pink">
            <div class="round">
              <mat-icon>group</mat-icon>
            </div>
            <div>Zuweisung</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-wrap admin-container">
        <button
          type="button"
          mat-stroked-button
          *ngFor="let doctor of doctors"
          [ngClass]="{'primary': selectedDoctors.includes(doctor.id)}"
          (click)="selectAdmin(doctor.id)"
        >
          Dr. med. {{doctor.firstName}} {{doctor.lastName}}
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar green">
            <div class="round">
              <img src="assets/images/cube.png" alt="cube">
            </div>
            <div>Paket</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-wrap calendar-source-container">
        <button
          type="button"
          mat-stroked-button
          *ngFor="let group of groups"
          [ngClass]="{'primary': selectedGroup===group.id}"
          (click)="selectCalendar(group.id)">
          {{group.name}} <br> {{group.range}}
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar yellow">
            <div class="round">
              <mat-icon svgIcon="time-icon" aria-hidden="false" aria-label="time">person</mat-icon>
            </div>
            <div>Termin</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-wrap admin-container">
        <button
          type="button"
          mat-stroked-button
          *ngFor="let doctor of doctors"
          [ngClass]="{'primary': selectedDoctors.includes(doctor.id)}"
          (click)="selectAdmin(doctor.id)"
        >
          Dr. med. {{doctor.firstName}} {{doctor.lastName}}
        </button>
      </div>
    </mat-expansion-panel>
    <button (click)="showAppointmentPopup($event)" *ngIf="!isAppointmentPopup && !isPatientPopup" mat-stroked-button class="add-calendar">
      <img src="assets/images/dark-calendar.svg" alt="calendar">
    </button>
    <div class="add-admin-popup" *ngIf="isAppointmentPopup">
      <div class="position-relative">
        <div class="d-flex avatar yellow">
          <div class="round">
            <mat-icon svgIcon="time-icon" aria-hidden="false" aria-label="time">person</mat-icon>
          </div>
          <div class="text-white">Alle Termine</div>
        </div>
        <button
          (click)="showAppointmentPopup($event)"
          *ngIf="isAppointmentPopup"
          mat-stroked-button
          class="add-calendar white-yellow"
        >
          <img src="assets/images/white-calendar.svg" alt="calendar">
        </button>
      </div>
      <div class="text-center mt-4">
        <app-datetime-picker></app-datetime-picker>
      </div>

    </div>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar blue">
            <div class="round">
              <mat-icon>person</mat-icon>
            </div>
            <div>Patient</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-wrap admin-container">
        <div class="search-field-container">
          <input type="text" placeholder="Suchen...">
          <mat-icon>search</mat-icon>
        </div>
      </div>
    </mat-expansion-panel>
    <button (click)="showPatientPopup($event)" *ngIf="!isPatientPopup" mat-stroked-button class="add-button">
      <mat-icon>add</mat-icon>
    </button>
    <div class="add-patient-popup" [ngStyle]="{'height.px': formView.offsetHeight + 48}" *ngIf="isPatientPopup">
      <div class="position-relative background-primary">
        <div class="d-flex avatar blue">
          <div class="round">
            <mat-icon>person</mat-icon>
          </div>
          <div class="text-white">Neu</div>
        </div>
        <button (click)="showPatientPopup($event)" *ngIf="isPatientPopup" mat-stroked-button class="add-button white-blue">
          <mat-icon>add</mat-icon>
        </button>
        <div class="d-flex mt-2">
          <mat-form-field class="w-100 input-blue mr-3 ml-3">
            <mat-label>E-Mail-Adresse</mat-label>
            <input autocomplete="off" matInput>
          </mat-form-field>
          <mat-form-field class="w-100 input-blue mr-3 ml-3">
            <mat-label>Handynummer</mat-label>
            <input autocomplete="off" matInput>
          </mat-form-field>
        </div>
        <div class="d-flex">
          <mat-form-field class="input-blue mr-3 ml-3" style="width: 175px;">
            <mat-label>Passwort</mat-label>
            <input type="password" autocomplete="off" matInput>
          </mat-form-field>
          <mat-form-field class="input-blue mr-3 ml-3" style="width: 175px;">
            <mat-label>Passwort Wdhlg</mat-label>
            <input type="password" autocomplete="off" matInput>
          </mat-form-field>
          <button type="button" class="custom-button mr-3 ml-4">Generieren</button>
        </div>
      </div>
      <div class="mt-3">
        <div class="d-flex">
          <mat-form-field class="width-50 mr-3 ml-3">
            <mat-label>Anrede</mat-label>
            <mat-select>
              <mat-option *ngFor="let value of values; let index = index" [value]="index">
                {{value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-100 mr-3 ml-3">
            <mat-label>Vorname</mat-label>
            <input autocomplete="off" matInput>
          </mat-form-field>
          <mat-form-field class="w-100 mr-3 ml-3">
            <mat-label>Nachname</mat-label>
            <input autocomplete="off" matInput>
          </mat-form-field>
        </div>
        <div class="d-flex">
          <mat-form-field class="w-100 mr-3 ml-3">
            <mat-label>Straße Hausnummer</mat-label>
            <input autocomplete="off" matInput>
          </mat-form-field>
          <mat-form-field class="w-100 mr-3 ml-3">
            <mat-label>PLZ</mat-label>
            <input autocomplete="off" matInput>
          </mat-form-field>
          <mat-form-field class="w-100 mr-3 ml-3">
            <mat-label>Ort</mat-label>
            <input autocomplete="off" matInput>
          </mat-form-field>
        </div>
        <div class="d-flex">
          <mat-form-field class="w-100 mr-3 ml-3">
            <mat-label>Alter</mat-label>
            <input autocomplete="off" matInput>
          </mat-form-field>
          <mat-form-field class="width-50 mr-3 ml-3">
            <mat-label>Geschlecht</mat-label>
            <mat-select>
              <mat-option *ngFor="let value of values; let index = index" [value]="index">
                {{value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex mt-3 ml-3">
          <div class="width-50 ml-3 d-flex align-items-center">
            <div class="checkbox-container">
<!--              <div class="check-mark"></div>-->
            </div>
            <span>Abweichender Abnahmeort</span>
          </div>
        </div>
        <div class="d-flex mt-3 ml-3">
          <div class="width-50 ml-3 d-flex align-items-center">
            <div class="checkbox-container">
              <!--              <div class="check-mark"></div>-->
            </div>
            <span>Kunde hinterlegt Zahlungsmittel</span>
          </div>
          <div class="width-50 ml-3 d-flex align-items-center">
            <div class="checkbox-container">
              <!--              <div class="check-mark"></div>-->
            </div>
            <span>Alternatives Zahlungsmittel</span>
          </div>
        </div>
        <div class="mt-3 ml-3">
          <div class="width-50 ml-3 d-flex align-items-center">
            <div class="checkbox-container">
              <!--              <div class="check-mark"></div>-->
            </div>
            <span>Code via SMS senden</span>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </mat-accordion>
  <div class="d-flex flex-column mt-4">

  </div>

  <div class="d-flex justify-content-end">
    <button class="custom-button" mat-stroked-button (click)="close()">Abbrechen</button>
    <button class="custom-button primary" mat-stroked-button (click)="onSubmit()">Neue Agentur anlegen</button>
  </div>
</form>
