h1 {
  font-size: 36px;
}

.custom-button {
  padding-left: 30px;
  padding-right: 30px;
}

.add-button {
  position: absolute;
  left: calc(100% + 2px);
  top: 320px;
  transform: translateY(-50%);
}

.add-calendar {
  position: absolute;
  left: calc(100% + 2px);
  top: 240px;
  transform: translateY(-50%);
}

mat-expansion-panel {
  overflow: visible;
}

.add-admin-popup {
  width: 300px;
  height: auto;
  background-color: var(--primary-color);
  position: absolute;
  left: calc(100% + 32px);
  top: 40px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.white-pink {
  background-color: #F389CC;
  color: white;
  top: 30px;
  left: calc(100% - 16px);
}

.white-blue {
  background-color: #4A90E2;
  color: white;
  top: 15px;
  left: 100%;
  transform: translateX(-50%);
}

.white-yellow {
  background-color: #F5A623;
  color: white;
  top: 30px;
  left: calc(100% - 16px);
}

.search-field-container {
  width: 100%;
  padding-left: 55px;
}

.add-patient-popup {
  width: 650px;
  height: 100%;
  background-color: #E5ECF3;
  position: absolute;
  left: calc(100% + 22px);
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: -121px;
  z-index: -1;
}

.background-primary {
  background-color: #384C61;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 16px 16px 16px 24px;
}

.checkbox-container {
  border: 1px solid #CFDCE6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 16px;
  cursor: pointer;
  .check-mark {
    width: 12px;
    height: 12px;
    background-color: var(--primary-color);
    border-radius: 50%;
  }
}

form {
  display: inline;
}
