<div class="p-2" #formView>
  <h1>Termin neu</h1>

  <form [formGroup]="appointmentForm">
    <mat-form-field class="w-100 mt-4">
      <mat-label>PLZ</mat-label>
      <input formControlName="name" autocomplete="off" matInput (keyup)="checkPostalCode('appointment')">
      <mat-icon *ngIf="f.name.touched && !f.name.errors" style="color: greenyellow" matSuffix>done</mat-icon>
      <mat-icon *ngIf="f.name.touched && f.name.errors" style="color: red" matSuffix>close</mat-icon>
    </mat-form-field>
  </form>

  <mat-accordion class="position-relative w-100">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar pink">
            <div class="round">
              <mat-icon>group</mat-icon>
            </div>
            <div>Zuweisung</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-wrap admin-container">
        <button
          type="button"
          mat-stroked-button
          class="select-button"
          *ngFor="let agency of agencies"
          [ngClass]="{'primary': selectedAgency === agency.id}"
          (click)="selectAgency(agency)"
        >
          {{agency.name}}
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar green">
            <div class="round">
              <img src="assets/images/cube.png" alt="cube">
            </div>
            <div>Paket</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-wrap calendar-source-container">
        <button
          type="button"
          mat-stroked-button
          class="select-button"
          *ngFor="let item of packages"
          [ngClass]="{'primary': selectedPackage === item.id}"
          (click)="selectPackage(item.id)">
          {{item.name}}
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar yellow">
            <div class="round">
              <mat-icon svgIcon="time-icon" aria-hidden="false" aria-label="time">person</mat-icon>
            </div>
            <div>Termin</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-wrap admin-container">
        <button
          type="button"
          mat-stroked-button
          class="select-button"
          *ngFor="let item of randomTimes"
          [ngClass]="{'primary': selectedTime === item}"
          (click)="selectTime(item)"
        >
          {{getDate(item)}}
        </button>
      </div>
    </mat-expansion-panel>
    <button (click)="showAppointmentPopup()" *ngIf="!isAppointmentPopup && !isPatientPopup" mat-stroked-button
            class="add-calendar">
      <img src="assets/images/dark-calendar.svg" alt="calendar">
    </button>
    <div class="add-admin-popup" *ngIf="isAppointmentPopup">
      <div class="position-relative">
        <div class="d-flex avatar yellow">
          <div class="round">
            <mat-icon svgIcon="time-icon" aria-hidden="false" aria-label="time">person</mat-icon>
          </div>
          <div class="text-white">Alle Termine</div>
        </div>
        <button
          (click)="showAppointmentPopup(); addTime();"
          *ngIf="isAppointmentPopup"
          mat-stroked-button
          class="add-calendar white-yellow"
        >
          <img src="assets/images/white-calendar.svg" alt="calendar">
        </button>
      </div>
      <div class="text-center mt-4">
        <app-datetime-picker [data]="allTimes" (setSelectedTime)="selectedPTime = $event"></app-datetime-picker>
      </div>

    </div>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar blue">
            <div class="round">
              <mat-icon>person</mat-icon>
            </div>
            <div>Patient</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-wrap admin-container">
        <div class="search-field-container">
<!--          <input type="text" placeholder="Suchen...">-->
<!--          <mat-icon>search</mat-icon>-->
          <form [formGroup]="appointmentForm">
            <mat-form-field class="w-100 mt-4">
              <mat-label>Patient wählen</mat-label>
              <mat-select formControlName="patient">
                <mat-option>
                  <ngx-mat-select-search [formControl]="patientSearchControl"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let patient of allPatient" [value]="patient.user_id">
                  {{patient.firstName}} {{patient.lastName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
      </div>
    </mat-expansion-panel>
    <button (click)="showPatientPopup()" *ngIf="!isPatientPopup" mat-stroked-button class="add-button">
      <mat-icon>add</mat-icon>
    </button>
    <form [formGroup]="patientForm" class="add-patient-popup" [ngStyle]="{'height.px': formView.offsetHeight + 48}"
          *ngIf="isPatientPopup">
      <div class="position-relative background-primary">
        <div class="d-flex avatar blue">
          <div class="round">
            <mat-icon>person</mat-icon>
          </div>
          <div class="text-white">Neu</div>
        </div>
        <button (click)="addPatient();" *ngIf="isPatientPopup" mat-stroked-button class="add-button white-blue">
          <mat-icon>add</mat-icon>
        </button>
        <div class="d-flex mt-2">
          <mat-form-field class="w-100 input-blue mr-3 ml-3">
            <mat-label>E-Mail-Adresse</mat-label>
            <input autocomplete="off" matInput formControlName="email">
            <mat-icon *ngIf="pf.email.touched && !pf.email.errors" style="color: greenyellow" matSuffix>done</mat-icon>
            <mat-icon *ngIf="pf.email.touched && pf.email.errors" style="color: red" matSuffix>close</mat-icon>
          </mat-form-field>
          <mat-form-field class="w-100 input-blue mr-3 ml-3">
            <mat-label>Handynummer</mat-label>
            <input autocomplete="off" matInput formControlName="phoneNumber">
            <mat-icon *ngIf="pf.phoneNumber.touched && !pf.phoneNumber.errors" style="color: greenyellow" matSuffix>done</mat-icon>
            <mat-icon *ngIf="pf.phoneNumber.touched && pf.phoneNumber.errors" style="color: red" matSuffix>close</mat-icon>
          </mat-form-field>
        </div>
        <div class="d-flex">
          <mat-form-field class="input-blue mr-3 ml-3" style="width: 175px;">
            <mat-label>Passwort</mat-label>
            <input type="text" autocomplete="off" matInput formControlName="password">
          </mat-form-field>
          <mat-form-field class="input-blue mr-3 ml-3" style="width: 175px;">
            <mat-label>Passwort Wdhlg</mat-label>
            <input type="text" autocomplete="off" matInput formControlName="confirmPassword">
            <mat-error *ngIf="pf.confirmPassword.errors?.mustMatch">Password must match.</mat-error>
          </mat-form-field>
          <button type="button" class="custom-button mr-3 ml-4" (click)="generatePassword()">Generieren</button>
        </div>
      </div>
      <div class="mt-3">
        <div class="d-flex">
          <mat-form-field class="width-50 mr-3 ml-3">
            <mat-label>Anrede</mat-label>
            <mat-select formControlName="salutation">
              <mat-option value="Herr">Herr</mat-option>
              <mat-option value="Frau">Frau</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-100 mr-3 ml-3">
            <mat-label>Vorname</mat-label>
            <input autocomplete="off" matInput formControlName="firstName">
          </mat-form-field>
          <mat-form-field class="w-100 mr-3 ml-3">
            <mat-label>Nachname</mat-label>
            <input autocomplete="off" matInput formControlName="lastName">
          </mat-form-field>
        </div>
        <div class="d-flex">
          <mat-form-field class="w-100 mr-3 ml-3">
            <mat-label>Straße Hausnummer</mat-label>
            <input autocomplete="off" matInput formControlName="street">
          </mat-form-field>
          <mat-form-field class="w-100 mr-3 ml-3">
            <mat-label>PLZ</mat-label>
            <input autocomplete="off" type="number" matInput formControlName="plz" (keyup)="checkPostalCode('patient')">
            <mat-icon *ngIf="pf.plz.touched && !pf.plz.errors" style="color: greenyellow" matSuffix>done</mat-icon>
            <mat-icon *ngIf="pf.plz.touched && pf.plz.errors" style="color: red" matSuffix>close</mat-icon>
          </mat-form-field>
          <mat-form-field class="w-100 mr-3 ml-3">
            <mat-label>Ort</mat-label>
            <input autocomplete="off" matInput formControlName="ort">
          </mat-form-field>
        </div>
        <div class="d-flex">
          <mat-form-field class="w-100 mr-3 ml-3">
            <mat-label>Geburtsdatum</mat-label>
            <input matInput autocomplete="off" disabled formControlName="ageView" />
            <input style="display: none;" matInput [matDatepicker]="picker" formControlName="age" autocomplete="off" (dateChange)="setDateAndAge($event)" disabled>
            <mat-icon matSuffix (click)="picker.open()">event</mat-icon>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="width-50 mr-3 ml-3">
            <mat-label>Geschlecht</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="Female">Weiblich</mat-option>
              <mat-option value="Male">Männlich</mat-option>
              <mat-option value="Divers">Divers</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex mt-3 ml-3 flex-column">
          <div class="width-50 ml-3 d-flex align-items-center cursor-pointer" (click)="changeCheckboxValue('differentPlace')">
            <div class="checkbox-container">
              <div *ngIf="pf.differentPlace.value" class="check-mark"></div>
            </div>
            <span>Abweichender Abnahmeort</span>
          </div>
          <mat-checkbox *ngIf="false" formControlName="differentPlace">Abweichender Abnahmeort</mat-checkbox>
          <div *ngIf="pf.differentPlace.value" class="mt-3 d-flex justify-content-between pl-3 pr-3">
            <mat-form-field>
              <mat-label>Street</mat-label>
              <input autocomplete="off" type="text" matInput formControlName="otherStreet">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Postal Code</mat-label>
              <input autocomplete="off" type="number" matInput formControlName="otherPostalCode">
            </mat-form-field>
            <mat-form-field>
              <mat-label>City</mat-label>
              <input autocomplete="off" type="text" matInput formControlName="otherCity">
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex mt-3 ml-3">
          <div class="width-50 ml-3 d-flex align-items-center cursor-pointer" (click)="changeCheckboxValue('customerStore')">
            <div class="checkbox-container">
              <div *ngIf="pf.customerStore.value" class="check-mark"></div>
            </div>
            <span>Kunde hinterlegt Zahlungsmittel</span>
            <mat-checkbox *ngIf="false" formControlName="customerStore">Kunde hinterlegt Zahlungsmittel</mat-checkbox>
          </div>
          <div class="width-50 ml-3 d-flex align-items-center cursor-pointer" (click)="changeCheckboxValue('alternative')">
            <div class="checkbox-container">
              <div *ngIf="pf.alternative.value" class="check-mark"></div>
            </div>
            <span>Alternatives Zahlungsmittel</span>
            <mat-checkbox *ngIf="false" formControlName="alternative">Alternatives Zahlungsmittel</mat-checkbox>
          </div>
        </div>
        <div class="mt-15 ml-3" *ngIf="paymentSelectionError">
          <p class="p-14" style="color: red;margin-left: 20px">Please select at least one payment method</p>
        </div>
      </div>
      <div>
      </div>
    </form>
  </mat-accordion>
  <div class="d-flex flex-column mt-4">

  </div>

  <div class="d-flex justify-content-end mt-5">
    <button class="custom-button" mat-stroked-button (click)="close()">Abbrechen</button>
    <button class="custom-button primary primary-button" mat-stroked-button (click)="onSubmit()">Termin neu
    </button>
  </div>
</div>
