<form [formGroup]="templateForm" class="p-2">
  <h1>Textvorlage <span style="font-weight: 100" *ngIf="!data">neu</span><span style="font-weight: 100" *ngIf="data">editieren</span></h1>

  <div class="row">
    <div class="col-md-6">
      <div class="d-flex flex-wrap">
        <mat-form-field class="mt-4 w-100">
          <mat-label>Betreff</mat-label>
          <input formControlName="name" autocomplete="off" matInput>
        </mat-form-field>
      </div>

      <mat-accordion class="position-relative">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="d-flex avatar pink">
                <div class="round">
                  <mat-icon>insert_comment</mat-icon>
                </div>
                <div>Art des Versands</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="d-flex flex-wrap expansion-panel-container">
            <button
              type="button"
              mat-stroked-button
              class="select-button"
              *ngFor="let shipment of shipments"
              [ngClass]="{'primary': selectedShipment===shipment.id}"
              (click)="selectShipment(shipment.id)">
              {{shipment.name}}
            </button>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="d-flex avatar green">
                <div class="round">
                  <mat-icon>group</mat-icon>
                </div>
                <div>Empfänger</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="d-flex flex-wrap expansion-panel-container">
            <button
              type="button"
              mat-stroked-button
              class="select-button"
              *ngFor="let receiver of receivers"
              [ngClass]="{'primary': selectedReceiver===receiver.id}"
              (click)="selectReceiver(receiver.id)"
            >
              {{receiver.name}}
            </button>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="d-flex avatar yellow">
                <div class="d-flex align-items-center">
                  <div class="round">
                    <mat-icon>stop_circle</mat-icon>
                  </div>
                  <div>Zuweisen zu einer Aktion</div>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="d-flex flex-wrap w-100">
            <mat-form-field class="mt-4 w-100">
              <mat-label>{{f.assign.value ? '' : 'Registrierung durch Patient'}}</mat-label>
              <mat-select formControlName="assign">
                <mat-option *ngFor="let action of actions" [value]="action.name">
                  {{action.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-md-6">
      <div class="mt-4">Nachricht</div>
      <ckeditor
        [editor]="Editor" formControlName="message" data=""></ckeditor>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-5">
    <div class="d-flex align-items-center" style="width: 50%;">
    </div>
    <div class="d-flex align-items-center">
      <button class="custom-button mr-3" mat-stroked-button (click)="close()">Abbrechen</button>
      <button class="custom-button primary primary-button" (click)="create()" mat-stroked-button>
        {{data ? 'Textvorlage editerien' : 'Textvorlage neu'}}
      </button>
    </div>
  </div>
</form>
