<div class="doctor-left-sidebar">
  <div class="float-left">
    <button
      mat-icon-button
      (click)="close()"
      class="back-button"
      style="margin-top: 11px;margin-right: 10px"
    >
      <mat-icon class="p-white">keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <div class="float-left" style="margin-top: 60px;margin-left: -40px">
    <ul>
      <li>Dashboard</li>
      <li>Laborberichte</li>
      <li>Archiv</li>
      <li class="sub-menu">Patientenrückfragen</li>
      <li class="sub-menu">Anamnesefreigaben</li>
      <li class="sub-menu">Termine</li>
    </ul>
  </div>
</div>
