<mat-sidenav-container (backdropClick)="closeRightSide($event)">
  <mat-sidenav
    [opened]="isOpen"
    [mode]="isMobile || isTablet ? 'over' : 'side'"
    (closed)="isOpen = false"
    #sidenav
  >
    <app-patient-left-sidebar *ngIf="isMobile || isTablet else desktopView;" (closeSide)="closeLeftSide($event)"></app-patient-left-sidebar>
    <ng-template  #desktopView>
      <app-sidebar-patient (menuClick)="menuClick($event)"></app-sidebar-patient>
    </ng-template>
  </mat-sidenav>
  <mat-sidenav
    [opened]="isRightSidebarOpen && currentUser.role === 'Patient'"
    [mode]="'over'"
    #rightSide
    [ngClass]="{'mobile-mat-sidenav': isMobile && !menuOpen}"
    position="end"
    (closed)="isRightSidebarOpen = false"
  >
    <app-patient-sidebar (closeSide)="closeRightSide($event)" *ngIf="menuOpen"></app-patient-sidebar>
    <app-popup-cancel-appointment
      (closeSide)="closeRightSide($event)"
      *ngIf="openCancelAppointment"
      [isMobile]="isMobile"
      [isTablet]="isTablet"
    ></app-popup-cancel-appointment>
    <app-popup-call-sister
      (closeSide)="closeRightSide($event)"
      *ngIf="openCallSister"
      [isMobile]="isMobile"
      [isTablet]="isTablet"
    ></app-popup-call-sister>
    <app-popup-callback-doctor
      (closeSide)="closeRightSide($event)"
      *ngIf="openCallback"
      [isMobile]="isMobile"
      [isTablet]="isTablet"
    ></app-popup-callback-doctor>
    <app-popup-change-package
      (closeSide)="closeRightSide($event)"
      *ngIf="openPackage"
      [isMobile]="isMobile"
      [isTablet]="isTablet"
    ></app-popup-change-package>
    <app-popup-edit-anamnes
      (closeSide)="closeRightSide($event)"
      *ngIf="openEdit"
      [isMobile]="isMobile"
      [isTablet]="isTablet"
    ></app-popup-edit-anamnes>
    <app-popup-payment-status
      (closeSide)="closeRightSide($event)"
      *ngIf="openPayment"
      [isMobile]="isMobile"
      [isTablet]="isTablet"
    ></app-popup-payment-status>
    <app-popup-shift-schedule
      (closeSide)="closeRightSide($event)"
      *ngIf="openMove"
      [isMobile]="isMobile"
      [isTablet]="isTablet"
    ></app-popup-shift-schedule>
    <app-popup-new-appointment
      (closeSide)="closeRightSide($event)"
      *ngIf="openNewPopup"
    ></app-popup-new-appointment>
    <app-popup-arrange-appointment
      (closeSide)="closeRightSide($event)"
      *ngIf="openArrange"
    ></app-popup-arrange-appointment>
    <app-popup-history
      (closeSide)="closeRightSide($event)"
      *ngIf="openHistory"
      [isMobile]="isMobile"
      [isTablet]="isTablet"
    ></app-popup-history>
  </mat-sidenav>
  <mat-sidenav-content
    class="page-wrapper"
    [ngStyle]="{'background' : currentUser.role === 'Patient' ? '#F2F7FB' : '#fafafa'}">
    <div class="background-container" *ngIf="!isMobile && !isTablet"></div>
    <app-patient-header (setOpen)="setOpen($event)" [isMobile]="isMobile" (setRightOpen)="setRightOpen($event)"></app-patient-header>
    <div class="main-content-container">
      <div class="subheader">
        <h1 *ngIf="isTablet || (isMobile && title === 'dashboard')"><b>Hallo {{currentUser.role}}</b>, Dashboard</h1>
        <h1 *ngIf="!isTablet && !isMobile">Hallo, <b>{{currentUser.role}}</b>.</h1>
        <h1 *ngIf="isMobile && title !== 'dashboard'">{{title}} <span style="font-weight: 100">{{titleEnd}}</span></h1>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>




