<h3 class="header-title">Benutzer</h3>
<div class="main-container mt-5">
  <div class="table-toolbar">
    <div class="search-field-container">
      <input type="text" placeholder="Search..." [(ngModel)]="filterValue" (ngModelChange)="filter()">
      <mat-icon>search</mat-icon>
    </div>
    <button class="custom-button" [routerLink]="'/user/new'" mat-stroked-button>Neuen Benutzer anlegen</button>
  </div>
  <div class="table-container mt-5">
    <mat-card class="table-card mat-card-radius">
      <div>
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)">

          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{currentPage * pageSize + i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Vorname
              <app-order-icon columnName="firstName" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Nachname
              <app-order-icon columnName="lastName" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              E-Mail-Adresse
              <app-order-icon columnName="email" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Mobil
              <app-order-icon columnName="phoneNumber" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="allocation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Zuweisung
              <app-order-icon columnName="allocation" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.allocation === 0 ? 'Keine' : element.working_group?.name}} </td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Rolle
              <app-order-icon columnName="role" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
          </ng-container>

          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Aktiv
              <app-order-icon columnName="active" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex">
                <mat-slide-toggle (change)="setActive($event, element.id)" [checked]="element.isActive"></mat-slide-toggle>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="text-align: right"> Aktionen </th>
            <td mat-cell *matCellDef="let element" style="text-align: right" class="position-relative">
              <button mat-icon-button aria-label="more" (click)="editItem(element.id)">
                <img src="/assets/images/edit.svg" alt="edit">
              </button>
              <button (click)="delete(element.id)" aria-label="more"
                      mat-icon-button>
                <mat-icon class="delete-icon" [ngClass]="{'warning-color': selectedDeleteItem === element.id}">delete</mat-icon>
              </button>
              <div class="d-flex align-items-center delete-dialog" *ngIf="selectedDeleteItem === element.id">
                <span>Wirklich löschen?</span>
                <button mat-button class="ja-button" (click)="deleteItem()">JA</button>
                <button mat-button class="nein-button" (click)="selectedDeleteItem = null">NEIN</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator (page)="onPaginateChange($event)" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card>
  </div>
</div>
