<div class="patient-popup-container">
  <button mat-icon-button class="close" (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
  <div class="main-side-container">
    <h1>Rückrufbitte <span style="font-weight: 100">Arzt</span></h1>
    <div class="left-border-div mt-38">
      <p class="p-272140">12.09.2020 09:00 - 10:15</p>
      <p class="p-576E82">Check-Up: Männergesundheit</p>
      <p class="p-272140">Marienstraße 4, 15387 Berlin</p>
    </div>
    <div class="mt-45 d-flex">
      <button
        mat-stroked-button
        class="custom-button-384">
        Ab heute
      </button>
      <button
        mat-stroked-button
        class="custom-button ml-10">
        Ab morgen
      </button>
    </div>
    <div class="mt-47">
      <div class="time-board">
        <mat-icon>radio_button_unchecked</mat-icon>
        <p class="ml-10 p-0">Vormittags (09:00 - 12:00)</p>
      </div>
      <div class="time-board mt-15">
        <mat-icon>radio_button_unchecked</mat-icon>
        <p class="ml-10">Nachmittags (12:00 - 16:00)</p>
      </div>
      <div class="time-board mt-15">
        <mat-icon>radio_button_unchecked</mat-icon>
        <p class="ml-10">Abends (16:00 - 19:00)</p>
      </div>
    </div>
    <div class="mt-45">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="d-flex avatar pink">
                <div class="round">
                  <mat-icon> stay_current_portrait</mat-icon>
                </div>
                <div>0178 536247885</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="d-flex flex-wrap expansion-panel-container">
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="d-flex avatar green">
                <div class="round">
                  <mat-icon>lens</mat-icon>
                </div>
                <div>Nachricht hinzufügen</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="mt-47 text-center">
      <button
        mat-stroked-button
        class="custom-button-C7D"
        >
        Rückrufbitte senden
      </button>
    </div>
  </div>
</div>
