<form [formGroup]="cancelForm" (ngSubmit)="submit()">
<div class="patient-popup-container">
  <button mat-icon-button class="close" (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
  <div class="main-side-container" *ngIf="!success">
    <h1 *ngIf="isTablet">Termin <span style="font-weight: 100">stornieren</span></h1>
    <div class="left-border-div mt-38 position-relative">
      <p class="p-272140">
        {{getTimeDuration(displayData?.startTime, displayData?.duration)}}
      </p>
      <p class="p-576E82">Check-Up: {{displayData?.packageName}}</p>
      <p class="p-272140" *ngIf="!displayData?.differentPlace">
        {{displayData?.addressStreet}} {{displayData?.addressPlz}}, {{displayData?.addressOrt}}
      </p>
      <p class="p-272140" *ngIf="displayData?.differentPlace">
        {{displayData?.otherStreet}} {{displayData?.otherPostalCode}}, {{displayData?.otherCity}}
      </p>
      <div class="d-flex">
        <div class="warning-div">
          <img src="/assets/images/warning-t.svg" alt="warning" class="warning-icon">
        </div>
        <p class="p-272140-10 ml-16">Bei einer Terminstornierung mit weniger als 48h Vorlauf vor<br/> Terminbeginn fallen 30€ Aufwandsentschädigung an.</p>
      </div>
    </div>
    <div class="add-message">
      <div
        class="d-flex avatar red-yellow justify-content-between"
        (click)="openMessage()"
      >
        <div class="d-flex align-items-center">
          <div class="round">
            <mat-icon>stop_circle</mat-icon>
          </div>
          <div>Nachricht hinzufügen</div>
        </div>
      </div>
      <div class="message-div" *ngIf="showMessage">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label></mat-label>
          <textarea
            matInput
            formControlName="message"
            placeholder=""
            rows="13"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="mt-47 text-center">
      <button
        mat-stroked-button
        class="redYellow-custom-button"
        (click)="submit()"
        >
        Termin verbindlich stornieren
      </button>
    </div>
  </div>
  <div class="main-side-container" *ngIf="success">
    <h1>Termin <span style="font-weight: 100">stornieren</span></h1>
    <div class="d-flex mt-38">
      <mat-icon class="green-0">lens</mat-icon>
      <p
        class="p-green ml-10"
        style="margin-top: 3px"
      >Ihr Termin wurde storniert.</p>
    </div>
  </div>
</div>
</form>
