<h3 class="header-title">{{title}} Termine</h3>
<div class="main-container mt-5">
  <div class="table-toolbar">
    <div>
      <button class="custom-button mr-3" [ngClass]="{'selected': selectedButton === 0}" (click)="selectButton(0)" mat-stroked-button>Alle</button>
      <button class="custom-button mr-3"
              *ngFor="let agency of agencies"
              [ngClass]="{'selected': selectedButton === agency.id}"
              (click)="selectButton(agency.id)"
              mat-stroked-button
      >{{agency.name}}</button>
    </div>
    <div class="d-flex">
      <div class="search-field-container">
        <input type="text" placeholder="Search..." [(ngModel)]="filterValue" (ngModelChange)="filter()">
        <mat-icon>search</mat-icon>
      </div>
      <button class="custom-button ml-3" mat-stroked-button [routerLink]="'/appointment/new'">Neuen Termin anlegen</button>
    </div>
  </div>
  <div class="table-container mt-5">
    <mat-card class="table-card mat-card-radius">
      <div>
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)">

          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{currentPage * pageSize + i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Datum
              <app-order-icon columnName="date" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{getDate(element.time)}} </td>
          </ng-container>

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Uhrzeit
              <app-order-icon columnName="time" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{getTime(element.time)}} </td>
          </ng-container>

          <ng-container matColumnDef="patient">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Patient
              <app-order-icon columnName="patient" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.user.firstName}} {{element.user.lastName}} </td>
          </ng-container>

          <ng-container matColumnDef="nurse">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Schwester
              <app-order-icon columnName="nurse" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.nurse.firstName}} {{element.nurse.lastName}} </td>
          </ng-container>

          <ng-container matColumnDef="lastDoctor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Arzt zuletzt
              <app-order-icon columnName="lastDoctor" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              Dr. med. {{element.doctors[0].firstName}} {{element.doctors[0].lastName}}
              <span *ngIf="element.doctors.length > 1">
                (+{{element.doctors.length - 1}})
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Status
              <app-order-icon columnName="status" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.adminStatus === 'upcoming'">
                <span *ngIf="element.anamnesisStatus === 'open'">Patientenrückfrage</span>
                <span *ngIf="element.anamnesisStatus === 'close'">Buchung vorgemerkt</span>
              </span>
              <span *ngIf="element.adminStatus === 'confirmed'">Anamnesebogen freigegeben</span>
              <span *ngIf="element.adminStatus === 'canceled'">
                <span *ngIf="element.reason.type === 'doctor_not_approve'">Anamnesebogen storniert</span>
                <span *ngIf="element.reason.type === 'patient_cancel'">Durch Patient storniert</span>
                <span *ngIf="element.reason.type === 'nurse_shift'">Durch Schwester verschoben</span>
                <span *ngIf="element.reason.type === 'nurse_not_there'">Durch Schwester verschoben</span>
              </span>
              <span *ngIf="element.adminStatus === 'successful'">Termin wahrgenommen</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="text-align: right"> Aktionen </th>
            <td mat-cell *matCellDef="let element" style="text-align: right" class="position-relative text-center">
              <button mat-icon-button aria-label="more" (click)="detail(element)">
                <mat-icon>search</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator (page)="onPaginateChange($event)" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card>
  </div>
</div>
