<div class="p-2 position-relative">
  <h1>Termin ansehen</h1>
  <div class="item-container">
    <div class="label">PLZ</div>
    <div class="value">{{data.patient.plz}}</div>
  </div>
  <div class="item-container">
    <div class="label">Zuweisung</div>
    <div class="value">{{data.agency.name}}</div>
  </div>
  <div class="item-container">
    <div class="label">Paket</div>
    <div class="value">{{data.package.name}}</div>
  </div>
  <div class="item-container">
    <div class="label">Termin</div>
    <div class="value">{{getDate(data.time)}}</div>
  </div>
  <div class="item-container">
    <div class="label">Patient</div>
    <div class="value">{{data.user.firstName}} {{data.user.lastName}}, {{data.patient.street}}, {{data.patient.plz}}, Berlin</div>
    <button (click)="isShowPatient = !isShowPatient; isShowSchedule = false;" *ngIf="!isShowPatient" mat-stroked-button class="add-button detail-patient white-blue">
      <mat-icon>person</mat-icon>
    </button>
  </div>
  <div class="item-container">
    <div class="label">Anamnesebogen</div>
    <div class="value d-flex justify-content-between" style="width: calc(100% - 120px);">
      <span>anamnese-checkup-{{data.user.firstName}}-{{data.user.lastName}}.pdf</span>
      <mat-icon class="search-icon" (click)="showMedicalQuestion()">search</mat-icon>
<!--      <button mat-icon-button aria-label="more">-->
<!--        -->
<!--      </button>-->
    </div>

  </div>
  <div class="item-container">
    <div class="label">Schwester</div>
    <div class="value">{{data.nurse.firstName}} {{data.nurse.lastName}}</div>
  </div>
  <div class="item-container">
    <div class="label">Letzter Arzt</div>
    <div class="value">Dr. med. {{data.doctors[0].firstName}} {{data.doctors[0].lastName}}</div>
  </div>
  <div class="item-container">
    <div class="label">Status</div>
    <div class="value">
      <span *ngIf="data.adminStatus === 'upcoming'">1</span>
      <span *ngIf="data.adminStatus === 'confirmed'">Anamnesebogen freigegeben</span>
      <span *ngIf="data.adminStatus === 'canceled'">
        <span *ngIf="data.reason.type === 'doctor_not_approve'">Anamnesebogen storniert</span>
        <span *ngIf="data.reason.type === 'patient_cancel'">Durch Patient storniert</span>
        <span *ngIf="data.reason.type === 'nurse_shift'">Durch Schwester verschoben</span>
        <span *ngIf="data.reason.type === 'nurse_not_there'">Durch Schwester verschoben</span>
      </span>
      <span *ngIf="data.adminStatus === 'successful'">Termin wahrgenommen</span>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-5">
    <button class="custom-button" mat-stroked-button (click)="close()">Abbrechen</button>
  </div>

  <div class="detail-patient-popup" *ngIf="isShowPatient">
    <div class="position-relative">
      <button
        (click)="isShowPatient = !isShowPatient;"
        *ngIf="isShowPatient"
        mat-stroked-button
        class="add-button white-blue"
      >
        <mat-icon>person</mat-icon>
      </button>
      <div class="patient-item-container">
        <div class="label">E-Mail-Address</div>
        <div class="value">{{data.user.email}}</div>
      </div>
      <div class="patient-item-container">
        <div class="label">Handynummer</div>
        <div class="value">{{data.user.phoneNumber}}</div>
      </div>
      <div class="patient-item-container">
        <div class="label">Name</div>
        <div class="value">{{data.user.firstName}} {{data.user.lastName}}</div>
      </div>
      <div class="patient-item-container">
        <div class="label">Adresse</div>
        <div class="value">{{data.patient.street}}, {{data.patient.plz}} Berlin</div>
      </div>
      <div class="patient-item-container">
        <div class="label">Alter</div>
        <div class="value">{{data.patient.age}} Jahre</div>
      </div>
      <div class="patient-item-container">
        <div class="label">Geschlecht</div>
        <div class="value">{{data.patient.gender}}</div>
      </div>
      <div class="d-flex" style="padding-bottom: 20px;">
        <div class="d-flex align-items-center">
          <div class="checkbox-container">
            <div *ngIf="data.patient.customerStore" class="check-mark"></div>
          </div>
          <span>Kunde hinterlegt Zahlungsmittel</span>
        </div>
      </div>
    </div>
  </div>

  <button (click)="isShowSchedule = !isShowSchedule; isShowPatient = false" *ngIf="!isShowSchedule" mat-stroked-button class="add-button detail-schedule">
    <img src="assets/images/timeicon-dark.svg" alt="dark">
  </button>

  <div class="detail-schedule-popup" *ngIf="isShowSchedule">
    <div class="position-relative">
      <button
        (click)="isShowSchedule = !isShowSchedule"
        *ngIf="isShowSchedule"
        mat-stroked-button
        class="add-button detail-schedule-button"
      >
        <img src="assets/images/timeicon-light.svg" alt="light">
      </button>
      <div *ngFor="let history of contactHistoryData">
        <div class="schedule-item-container">
          <div class="label">{{getDate(history.createdAt)}}</div>
          <p class="p-14" *ngIf="history.type === 'callback_created'">
            Arztrückruf angefragt
          </p>
          <p class="p-14" *ngIf="history.type === 'callback_answer'">
            Arztrückruf erledigt
          </p>
          <p class="p-14" *ngIf="history.type === 'appointment_created'">
            Terminreservierung online
          </p>
          <p class="p-14" *ngIf="history.type === 'appointment_cancel'">
            Termin abgesagt
          </p>
          <p class="p-14" *ngIf="history.type === 'appointment_confirmed'">
            Termin bestätigt
          </p>
          <p class="p-14" *ngIf="history.type === 'appointment_archived'">
            Termin archiv
          </p>
          <p class="p-14" *ngIf="history.type === 'medical_question_created'">
            Anamnese erstellt
          </p>
          <p class="p-14" *ngIf="history.type === 'medical_question_answer'">
            Anamnese freigegeben
          </p>
          <p class="p-14" *ngIf="history.type === 'recall_created'">
            Patienten rückruf
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
