:host {
  display: flex;
  justify-content: center;
}
.login-form {
  width: 375px;
  //height: 300px;
  align-items: center;
  justify-content: center;

  button {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.welcome {
  margin-bottom: 48px;
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
  color: var(--primary-color);
}

mat-card {
  height: 254px!important;
  border-radius: 23px;
  align-items: center;
}

button {
  margin-top: 20px;
}

mat-form-field {
  width: 290px;
  margin-top: 15px;
}

mat-card-title, mat-card-header {
  display: flex;
  justify-content: center;
}
mat-card-content {
  display: flex;
  flex-direction: column;
  margin-top: 40px!important;
  margin-left: 26px!important;
}

