<form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form" *ngIf="!showVerifyForm">
  <div class="welcome">Herzlich Willkommen, wir wünschen Ihnen einen erfolgreichen Tag.</div>
  <mat-card>
    <mat-card-content>
        <mat-form-field>
          <mat-label>E-Mail-Adresse</mat-label>
          <input matInput formControlName="email" placeholder="Email">
          <mat-error *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="loginForm.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Passwort</mat-label>
          <input type="password" matInput formControlName="password" placeholder="Password">
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="error">{{error}}</mat-error>
    </mat-card-content>
  </mat-card>
  <button mat-stroked-button class="custom-button-384 mt-47">Einloggen</button><br/>
  <button mat-stroked-button class="custom-button mt-15">Passwort vergessen?</button>
</form>

<!--verify code form area-->

<form [formGroup]="verificationForm" (ngSubmit)="submit()" class="login-form" *ngIf="showVerifyForm">
  <div class="welcome">Bitte geben Sie den SMS-Code ein, den wir Ihnen soeben auf Ihr Handy zur Verifizierung geschickt haben.</div>
  <mat-card style="height: 180px!important;">
    <mat-card-content>
      <mat-form-field>
        <mat-label>SMS-Code</mat-label>
        <input matInput formControlName="code" placeholder="">
      </mat-form-field>
      <mat-error *ngIf="codeError">{{codeError}}</mat-error>
    </mat-card-content>
  </mat-card>
  <button mat-stroked-button class="custom-button-384 mt-47">Einloggen</button><br/>
</form>
