.period-button {
  width: 300px;
  height: 50px;
  font-size: 16px;
  text-align: left;
  padding-left: 34px;
  border-radius: 25px;
  box-shadow: 0 0 4px #E5ECF3;
  background-color: white;
  color: var(--primary-color);
  margin-left: 15px;

  mat-icon {
    color: #C3C6D1;
    margin-top: 5px;
  }
}
button.period-button mat-icon {
  margin-top: 5px!important;
}

::ng-deep .mat-form-field-infix {
  padding-top: 4px!important;
}

mat-form-field.period-button {
  padding-right: 10px;
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}
.select-agency {
  button {
    padding: 0 25px;
  }
}


.ticket-container {
  padding: 30px 27px 54px 24px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 20px #E5ECF33D;
  //max-width: 360px;
  min-width: 430px;
  min-height: 580px;
  text-align: center;

  .ticket-header {
    width: 100%;
    color: var(--light-dark-color);
    display: flex;
    justify-content: space-between;
  }

  .chart-container {
    display: flex;
    flex-direction: column;
  }
}

.summary-button {
  border-radius: 30px;
  height: 60px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 4px 16px #E3E8F4;
  width: 100%;
  margin-bottom: 1rem;
}

.white-button {
  border-radius: 30px;
  height: 60px;
  background-color: #ffffff;
  width: 260px;
}

.button-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.summary {
  color: #272140;
  font-size: 14px;
}

.green-color {
  color: #89DF8C;
}

.pink-color {
  color: #F389CC;
}

.red-color {
  color: #E87C60;
}

.blue-color {
  color: #4A90E2;
}

.yellow-color {
  color: #F5A623;
}

.light-green-color {
  color: #50E3C2;
}

.package {
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 30px 24px;
}

.custom-box-shadow {
  box-shadow: 0 4px 16px #293746;
}

.bar-chart-container {
  border-radius: 20px;
  background-color: var(--primary-color);
  padding: 70px 40px;
}

.current-month-container {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;

  .item-container {
    border-radius: 20px;
    padding: 40px 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .value {
    font-size: 41px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .label {
    font-size: 16px;
  }

  .pink-white {
    color: white;
    background-color: #F389CC;
  }

  .white-pink {
    color: #F389CC;
    background-color: white;
    border: 1px solid #F389CC;
  }

  .green-white {
    background-color: #89DF8C;
    color: white;
  }

  .white-green {
    background-color: white;
    color: #89DF8C;
    border: 1px solid #89DF8C;
  }
}

.line-chart-container {
  background-color: #4A90E2;
  border-radius: 20px;
  padding: 40px 50px;
  margin-top: 34px;
  display: flex;
  justify-content: space-between;

  .current-container {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;

    .mat-icon {
      font-size: 40px;
      width: 40px;
      height: 50px;
    }

    .value {
      padding: 10px 0;
      font-size: 41px;
      font-weight: bold;
      text-align: center;
    }

    .label {
      font-size: 16px;
    }
  }

  .line-chart {
    min-width: 550px;
  }
}
