<h3 class="header-title">Terminstatistik</h3>

<div class="d-flex justify-content-between flex-wrap">
  <div class="select-agency" [ngClass]="{'invisible': showDetailPeriod}">
    <button class="custom-button mr-3" mat-stroked-button (click)="selectAgency(0)">Alle</button>
    <button class="custom-button mr-3" mat-stroked-button *ngFor="let item of allAgency" (click)="selectAgency(item.id)">{{item.name}}</button>
  </div>
  <div class="float-right">
    <button *ngIf="!showDetailPeriod" mat-raised-button class="period-button" (click)="showDetailPeriod = true">
      Gesamtzeitraum
      <mat-icon class="float-right">expand_more</mat-icon>
    </button>
    <button *ngIf="showDetailPeriod" mat-raised-button class="period-button" (click)="showDetailPeriod = false">
      Gesamtzeitraum
      <mat-icon class="float-right">expand_more</mat-icon>
    </button>
    <mat-form-field *ngIf="showDetailPeriod" class="period-button">
      <input matInput [matDatepicker]="pickerFrom" (dateChange)="changeDateFrom($event)">
      <mat-datepicker-toggle matSuffix [for]="pickerFrom">
        <mat-icon svgIcon="custom-calendar" aria-hidden="false" aria-label="calendar" matDatepickerToggleIcon style="margin-top: -5px"></mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="showDetailPeriod" class="period-button">
      <input matInput [matDatepicker]="pickerTo" (dateChange)="changeDateTo($event)">
      <mat-datepicker-toggle matSuffix [for]="pickerTo">
        <mat-icon svgIcon="custom-calendar" aria-hidden="false" aria-label="calendar" matDatepickerToggleIcon style="margin-top: -5px"></mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<div class="d-flex justify-content-between flex-wrap mt-5">
  <div class="ticket-container" *ngFor="let dataItem of data">
    <div class="ticket-header">
      <span><b class="text-black">00</b>%</span>
      <p class="text-center position-relative">
        12.08.2020 - 12.10.2020
      </p>
      <mat-icon class="ticket-header-icon" svgIcon="custom-calendar" aria-hidden="false" aria-label="calendar"
                matDatepickerToggleIcon></mat-icon>
    </div>
    <div class="chart-container mt-3">
      <app-donut-chart [items]="dataItem.detailData" [label]="dataItem.label"></app-donut-chart>
      <button *ngFor="let item of dataItem.detailData; let index = index" mat-raised-button class="summary-button">
        <span class="button-content">
          <span>
            <img [src]="'assets/images/chart-icon/' + item.icon + '.svg'" [alt]="item.icon">
            <span class="ml-3 summary">{{label[index]}}</span>
          </span>
          <span [ngClass]="labelClass[index]">{{item.value}}</span>
        </span>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="package" *ngIf="packageData.length > 0">
      <div class="text-white">00 %</div>

      <app-donut-chart [items]="packageData" label="Gebuchte Pakete" labelColor="white"></app-donut-chart>
      <button *ngFor="let item of packageData; let index = index" mat-raised-button
              class="summary-button custom-box-shadow">
        <span class="button-content">
          <span>
            <img [src]="'assets/images/chart-icon/' + item.icon + '.svg'" [alt]="item.icon">
            <span class="ml-3 summary">{{packageLabel[index]}}</span>
          </span>
          <span [ngClass]="packageLabelClass[index]">{{item.value / packageTotal * 100}}%</span>
        </span>
      </button>
    </div>
  </div>

  <div class="col-md-8 pl-4">
    <div class="bar-chart-container">
      <div>
        <app-bar-chart *ngIf="barChartData.length > 0" [data]="barChartData"></app-bar-chart>
      </div>

      <div class="d-flex justify-content-center mt-3">
        <button mat-raised-button class="white-button custom-box-shadow">
          <span class="button-content">
            <span>
              <img [src]="'assets/images/chart-icon/plus-pink.svg'" [alt]="'plus'">
              <span class="ml-3 summary">Neuer Termineingang</span>
            </span>
          </span>
        </button>
        <button mat-raised-button class="white-button custom-box-shadow ml-3">
          <span class="button-content">
            <span>
              <img [src]="'assets/images/chart-icon/thumb-up.svg'" [alt]="'plus'">
              <span class="ml-3 summary">Abgeschlossene Termine</span>
            </span>
          </span>
        </button>
      </div>
    </div>

    <div class="current-month-container">
      <div class="item-container pink-white">
        <span class="value">{{averageData?.monthPositiveAverage}}</span>
        <span class="label">Ø Monat</span>
      </div>
      <div class="item-container white-pink">
        <span class="value">{{averageData?.weekPositiveAverage}}</span>
        <span class="label">Ø Woche</span>
      </div>
      <div class="item-container green-white">
        <span class="value">{{averageData?.monthNegativeAverage}}</span>
        <span class="label">Ø Monat</span>
      </div>
      <div class="item-container white-green">
        <span class="value">{{averageData?.weekNegativeAverage}}</span>
        <span class="label">Ø Woche</span>
      </div>
    </div>

    <div class="line-chart-container">
      <div class="current-container">
        <mat-icon>person</mat-icon>
        <span class="value">311</span>
        <span class="label">Patienten gesamt</span>
      </div>
      <div class="line-chart" *ngIf="dataPerPatient">
        <ngx-charts-line-chart
          [results]="lineChartData"
          [curve]="curve"
          [xAxis]="true"
          [showXAxisLabel]="true"
          [customColors]="customColors"
        ></ngx-charts-line-chart>
      </div>
    </div>
  </div>
</div>
