<div class="left-side-container">
  <button mat-icon-button class="close" (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
  <div class="main-div">
    <h1>Kontakt <span style="font-weight: 100"> historie</span></h1>
    <div class="mt-47">
      <div class="left-border-div">
        <p class="p-16 ml-20">{{getTimeDuration(appointmentData?.startTime, appointmentData?.duration)}}</p>
        <p class="p-576E82">Check-up: <span>{{appointmentData?.packageName}}</span></p>
        <p class="p-14 ml-20" *ngIf="!appointmentData?.differentPlace">{{appointmentData?.addressStreet}} {{appointmentData?.addressPlz}}, {{appointmentData?.addressOrt}}</p>
        <p class="p-14 ml-20" *ngIf="appointmentData?.differentPlace">{{appointmentData?.otherStreet}} {{appointmentData?.otherPostalCode}}, {{appointmentData?.otherCity}}</p>
        <div *ngFor="let history of historyData">
          <div class="d-flex mt-24">
            <mat-icon class="dot">lens</mat-icon>
            <div class="d-block ml-20">
              <p class="p-16">{{formatTime(history.createdAt)}}</p>
              <div class="p-14" *ngIf="history.type === 'callback_created'">
                <span *ngIf="currentUser.role === 'Doctor'">Patientenrückfrage</span>
                <span *ngIf="currentUser.role === 'Patient'">Arztrückruf angefragt</span>
                <br>
                <button
                  mat-icon-button
                  *ngIf="history.callback"
                  (click)="expandedId ? expandedId = null : expandedId = history.id">
                  <mat-icon>expand_more</mat-icon>
                </button>
                <div *ngIf="expandedId === history.id">
                  <p style="max-width: 250px;" class="pre-wrap">
                    {{history.callback.message}}
                  </p>
                </div>
              </div>
              <div class="p-14" *ngIf="history.type === 'callback_answer'">
                <span *ngIf="currentUser.role === 'Doctor'">Arztrückruf erledigt</span>
                <span *ngIf="currentUser.role === 'Patient'">Patientenrückfrage beantwortet</span>
                <br>
                <button
                  mat-icon-button
                  *ngIf="history.callback_answer"
                  (click)="expandedId ? expandedId = null : expandedId = history.id">
                  <mat-icon>expand_more</mat-icon>
                </button>
                <div *ngIf="expandedId === history.id">
                  <p style="max-width: 250px;" class="pre-wrap">
                    {{history.callback_answer.answer}}
                  </p>
                </div>
              </div>
              <p class="p-14" *ngIf="history.type === 'appointment_created'">

              </p>
              <p class="p-14" *ngIf="history.type === 'appointment_cancel'">
                Termin abgesagt
              </p>
              <p class="p-14" *ngIf="history.type === 'appointment_confirmed'">
                Termin bestätigt
              </p>
              <p class="p-14" *ngIf="history.type === 'appointment_archived'">
                Termin archiv
              </p>
              <p class="p-14" *ngIf="history.type === 'medical_question_created'">

              </p>
              <p class="p-14" *ngIf="history.type === 'medical_question_answer'">

              </p>
              <p class="p-14" *ngIf="history.type === 'recall_created'">
                Patienten rückruf
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

