<div class="left-side-container">
  <button mat-icon-button class="close" (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
  <div class="main-div">
    <h1>Kontakt <span style="font-weight: 100"> historie</span></h1>
    <div class="left-border-div position-relative mt-47">
      <p class="p-272140">12.09.2020 09:00 - 10:15</p>
      <p class="p-576E82">Check-Up: Männergesundheit</p>
      <p class="p-272140">Marienstraße 4, 15387 Berlin</p>
      <p class="p-272140" style="margin-top: 34px">11.09.2020 07:12<br/> Arztrückruf angefragt</p>
      <p class="p-272140" style="margin-top: 43px">09.09.2020 14:15<br/> Termin bestätigt</p>
      <p class="p-272140" style="margin-top: 21px">09.09.2020 14:12<br/> Anamnese freigegeben</p>
      <p class="p-272140" style="margin-top: 21px">04.09.2020 10:47</p>
      <div class="before-dot location-a"></div>
      <div class="before-dot location-b"></div>
      <div class="before-dot location-c"></div>
      <div class="before-dot location-d"></div>
    </div>
    <p class="p-272140">Terminreservierung online</p>
  </div>
</div>

