<div class="side-container">
  <button mat-icon-button class="close" (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
  <div class="main-side-container">
    <h1>Patienten <span style="font-weight: 100">rückfrage</span></h1>
    <div class="left-border-div mt-38">
      <p class="p-272140">{{getTimeDuration(displayData?.startTime, displayData?.duration)}}</p>
      <p class="p-576E82">Check-Up: {{displayData?.packageName}}</p>
      <p class="p-272140">{{displayData?.addressStreet}} {{displayData?.addressPlz}}, {{displayData?.addressOrt}}</p>
    </div>
    <div class="option-buttons-div mt-47">
      <div class="option-button-div">
        <button
          type="button"
          class="doctor-search-button"
          [ngClass]="{'active-button': isAnamnes}"
        >
          <mat-icon [ngClass]="{'active-icon':isAnamnes}">search</mat-icon>
        </button>
        <button
          type="button"
          class="custom-button-default ml-10"
          (click)="openAnamneses()"
          mat-stroked-button
          [ngClass]="{'active-button': isAnamnes}"
        >
          Anamnesedaten ansehen
        </button>
      </div>
      <div class="option-button-div mt-14">
        <button
          type="button"
          class="doctor-search-button"
          [ngClass]="{'active-button': isSideHistory}"
        >
          <mat-icon [ngClass]="{'active-icon':isSideHistory}">search</mat-icon>
        </button>
        <button
          type="button"
          class="custom-button-default ml-10"
          (click)="openSideHistory()"
          mat-stroked-button
          [ngClass]="{'active-button': isSideHistory}"
        >
          Kontakthistorie ansehen
        </button>
      </div>
    </div>
    <p class="p-272140-tablet mt-47">
      Kundennachricht {{formatTime(displayData?.createdAt)}}
    </p>
    <p style="margin-top: 57px">{{displayData?.schedule}}</p>
    <p class="p-14 mt-24">
      {{displayData?.message}}
    </p>
    <span class="org-text d-flex mt-47">
        <img src="/assets/images/info_icon.svg" alt="info" class="mr-10">
      {{"In Bearbeitung durch Dr. Med. "}} {{editingDoctorData.doctorFirstName}} {{editingDoctorData.doctorLastName}}
    </span>
  </div>
</div>
