<div class="side-container">
  <button mat-icon-button class="close" (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
  <div class="main-side-container">
    <h1>Patienten <span style="font-weight: 100">rückfrage</span></h1>
    <div class="left-border-div mt-38">
      <p class="p-272140">12.09.2020 09:00 - 10:15</p>
      <p class="p-576E82">Check-Up: Männergesundheit</p>
      <p class="p-272140">Marienstraße 4, 15387 Berlin</p>
    </div>
    <div class="option-buttons-div mt-47">
      <div class="option-button-div">
        <button class="doctor-search-button">
          <mat-icon>search</mat-icon>
        </button>
        <button
          class="custom-button-default ml-10"
          style="margin-left: 10px"
          mat-stroked-button
        >
          Anamnesedaten ansehen
        </button>
      </div>
      <div class="option-button-div mt-15">
        <button class="doctor-search-button">
          <mat-icon>search</mat-icon>
        </button>
        <button
          class="custom-button-default ml-10"
          style="margin-left: 10px"
          mat-stroked-button
        >
          Kontakthistorie ansehen
        </button>
      </div>
    </div>
    <p class="p-272140-tablet mt-47">
      Kundennachricht 29.09.2020 18:10
    </p>
    <p class="p-272140-tablet mt-38">
      Terminablauf
    </p>
    <p class="p-14 mt-24">
      Hallo,
    </p>
    <p class="p-14 mt-24">
      ich habe Rückfragen zum Terminablauf, muss ich<br/>
      irgendwas vorbereiten? Oder muss ich vor der<br/>
      Blutentnahme auf etwas achten?
    </p>
    <p class="p-14 mt-24">
      Vielen Dank.<br/>
      Mit freundlichen Grüßen<br/>
      Sebastian Naumann
    </p>
    <span class="org-text d-flex mt-47">
        <img src="/assets/images/info_icon.svg" alt="info" class="mr-10">
      {{"In Bearbeitung durch Dr. Med. Jessica Johns"}}
    </span>
  </div>
</div>
