<mat-sidenav-container>
  <mat-sidenav [opened]="isOpen" [mode]="isMobile ? 'over' : 'side'" (closed)="isOpen = false">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="page-wrapper">
    <div class="background-container" *ngIf="!isMobile"></div>
    <app-header (setOpen)="setOpen($event)" [isMobile]="isMobile"></app-header>
    <div class="main-content-container">
      <div class="subheader">
        <h1>Willkommen zurück, <b>{{currentUser.role}}</b>.</h1>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



