<div class="sidebar-container">
  <div class="logo-container">
    <img src="/assets/images/logo.png" alt="logo">
  </div>
  <div>
    <ul class="ul-0">
      <li *ngFor="let item of sidebar" [ngClass]="{'nested': item.children.length > 0}">
        <a *ngIf="item.children.length === 0 && currentUser.role !== 'Doctor' && currentUser.role !== 'Patient'" class="ul-0-a" (click)="changeRoute(item.link, item.link)" routerLinkActive="active">
          <div class="icon-container">
            <img [src]="'/assets/images/' + item.icon" alt="menu-icon">
          </div>
          <span>{{item.name}}</span>
        </a>
        <a *ngIf="item.children.length === 0 && currentUser.role === 'Doctor'" class="ul-1-a" (click)="changeRoute(item.link, item.link)" routerLinkActive="active">
          <div [ngClass]="{'icon-container': selected === item.link}">
            <img class="icon-item" [src]="'/assets/images/' + item.icon" alt="menu-icon">
          </div>
          <span>{{item.name}}</span>
        </a>
        <a *ngIf="item.children.length === 0 && currentUser.role === 'Patient'" class="ul-1-a" (click)="changeRoute(item.link, item.link)" routerLinkActive="active">
          <div [ngClass]="{'icon-container': selected === item.link}" *ngIf="item.name === 'Dashboard'">
            <img class="icon-item" [src]="'/assets/images/' + item.icon" alt="menu-icon">
          </div>
          <div class="icon-container-0" *ngIf="item.name !== 'Dashboard'">
            <img [src]="'/assets/images/' + item.icon" alt="menu-icon">
          </div>
          <span>{{item.name}}</span>
        </a>
        <mat-accordion *ngIf="item.children.length > 0">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div [ngClass]="{'icon-container': selected === item.link}">
                  <img class="icon-item" [src]="'/assets/images/' + item.icon" alt="menu-icon">
                </div>
                <span>{{item.name}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="sub-list-container" *ngFor="let subItem of item.children">
              <div>
                <a class="ul-0-a" (click)="changeRoute(item.link, item.link + subItem.link)">
                  <span>{{subItem.name}}</span>
                </a>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </li>
    </ul>
  </div>
</div>
