<h3 class="header-title">Dashboard</h3>
<div class="dashboard-container">
  <div class="d-flex flex-column">
    <div class="card-container success">
      <div class="button-row">
        <button mat-icon-button aria-label="more">
          <mat-icon>lens</mat-icon>
        </button>
        <button [matMenuTriggerFor]="workingGroup" mat-icon-button aria-label="more">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
      <div class="info-row">
        <p>5</p>
        <p>Arbeitsgruppen</p>
      </div>
    </div>

    <div class="card-container danger">
      <div class="button-row">
        <button mat-icon-button aria-label="more">
          <img src="assets/images/dashboard/calendar.svg" alt="icon">
        </button>
        <button [matMenuTriggerFor]="calendar" mat-icon-button aria-label="more">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
      <div class="info-row">
        <p>8</p>
        <p>Kalenderverwaltung</p>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="card-container warning">
      <div class="button-row">
        <button mat-icon-button aria-label="more">
          <img src="assets/images/dashboard/user.svg" alt="icon">
        </button>
        <button [matMenuTriggerFor]="user" mat-icon-button aria-label="more">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
      <div class="info-row">
        <p>11</p>
        <p>Benutzer</p>
      </div>
    </div>

    <div class="card-container blue">
      <div class="button-row">
        <button mat-icon-button aria-label="more">
          <img src="assets/images/dashboard/language.svg" alt="icon">
        </button>
        <button [matMenuTriggerFor]="text" mat-icon-button aria-label="more">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
      <div class="info-row">
        <p>36</p>
        <p>Textvorlagen</p>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row flex-wrap">
    <div *ngIf="!isMobile" class="card-container light align-items-center justify-content-around">
      <div class="button-row">
        <button  class="green" mat-icon-button aria-label="more">
          <img src="assets/images/dashboard/clock.svg" alt="icon">
        </button>
      </div>
      <div class="info-row">
        <p><b>275</b></p>
        <p>Termine</p>
      </div>
      <div class="text-center">
        <img class="mb-1" src="assets/images/dashboard/up-icon.svg" alt="icon">
        <p style="font-size: 14px;">+20% innerhalb der letzten 7 Tage</p>
      </div>
    </div>

    <div *ngIf="isMobile" class="card-container light">
      <div class="button-row">
        <button class="" mat-icon-button aria-label="more">
          <mat-icon style="color: #89DF8C; font-size: 35px;">watch_later</mat-icon>
        </button>
        <button [matMenuTriggerFor]="termine" mat-icon-button aria-label="more">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
      <div class="info-row">
        <p><b>275</b></p>
        <p>Termine</p>
      </div>
    </div>

    <div class="card-container pink">
      <div class="button-row">
        <button mat-icon-button aria-label="more">
          <img src="assets/images/dashboard/package.svg" alt="icon">
        </button>
        <button [matMenuTriggerFor]="packages" mat-icon-button aria-label="more">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
      <div class="info-row">
        <p>7</p>
        <p>Pakete</p>
      </div>
    </div>
  </div>
  <mat-menu #workingGroup="matMenu">
    <button [routerLink]="'/working-group/overview'" mat-menu-item>
      <span>Übersicht</span>
    </button>
    <button [routerLink]="'/working-group/new'" mat-menu-item>
      <span>Neue Arbeitsgruppe</span>
    </button>
  </mat-menu>
  <mat-menu #user="matMenu">
    <button [routerLink]="'/user/overview'" mat-menu-item>
      <span>Übersicht</span>
    </button>
    <button [routerLink]="'/user/new'" mat-menu-item>
      <span>Neue Benutzer</span>
    </button>
  </mat-menu>
  <mat-menu #calendar="matMenu">
    <button [routerLink]="'/calendar/overview'" mat-menu-item>
      <span>Übersicht</span>
    </button>
    <button [routerLink]="'/calendar/new'" mat-menu-item>
      <span>Neue Kalenderverwaltung</span>
    </button>
  </mat-menu>
  <mat-menu #text="matMenu">
    <button [routerLink]="'/text/overview'" mat-menu-item>
      <span>Übersicht</span>
    </button>
    <button [routerLink]="'/text/new'" mat-menu-item>
      <span>Neue Textvorlagen</span>
    </button>
  </mat-menu>
  <mat-menu #packages="matMenu">
    <button [routerLink]="'/package/overview'" mat-menu-item>
      <span>Übersicht</span>
    </button>
    <button [routerLink]="'/package/new'" mat-menu-item>
      <span>Neue Pakete</span>
    </button>
  </mat-menu>
  <mat-menu #termine="matMenu">
    <button mat-menu-item>
      <span>Übersicht</span>
    </button>
    <button mat-menu-item>
      <span>Neue Termine</span>
    </button>
  </mat-menu>
</div>
