<div class="p-2">
  <h1>Paket <span style="font-weight: 100" *ngIf="!data">neu</span><span style="font-weight: 100" *ngIf="data">editieren</span></h1>

  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="newPackageForm" class="d-flex flex-wrap">
        <mat-form-field class="mt-4 w-100">
          <mat-label>Paketbezeichnung</mat-label>
          <input formControlName="name" autocomplete="off" matInput>
        </mat-form-field>
        <mat-form-field class="mt-4 w-100">
          <mat-label>Paket-Labornummer</mat-label>
          <input formControlName="number" type="number" autocomplete="off" matInput>
        </mat-form-field>
        <mat-form-field class="mt-4 w-100">
          <mat-label>Paket-Preis</mat-label>
          <input formControlName="price" type="number" autocomplete="off" matInput>
        </mat-form-field>
        <mat-form-field class="mt-4 width-50">
          <mat-label>Sonder-Preis</mat-label>
          <input type="number" formControlName="specialPrice" autocomplete="off" matInput [readonly]="!isActive">
        </mat-form-field>
        <div class="width-50 ml-3 d-flex align-items-center">
          <div class="checkbox-container" (click)="isActive = !isActive">
            <div *ngIf="isActive" class="check-mark"></div>
          </div>
          <span>Sonderpreis aktivieren</span>
        </div>
      </form>

      <mat-accordion class="position-relative">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="d-flex avatar green">
                <div class="round">
                  <mat-icon>stop_circle</mat-icon>
                </div>
                <div>Status</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="d-flex flex-wrap expansion-panel-container">
            <button
              type="button"
              mat-stroked-button
              class="select-button"
              *ngFor="let status of statuses"
              [ngClass]="{'primary': selectedStatus===status.value}"
              (click)="selectStatus(status.value)">
              {{status.name}}
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-md-6">
      <div class="mt-4">Paketinhalt</div>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label></mat-label>
        <textarea [(ngModel)]="content" matInput rows="25"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-5">
    <div class="d-flex align-items-center" style="width: 50%;">
    </div>
    <div class="d-flex align-items-center">
      <button class="custom-button mr-3" mat-stroked-button (click)="close()">Abbrechen</button>
      <button class="custom-button primary primary-button" mat-stroked-button (click)="onSubmit()">
        {{data ? 'Paket editieren' : 'Paket neu'}}
      </button>
    </div>
  </div>
</div>
