.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  color: white;
  padding-right: 20px;
}

.mobile-height {
  height: 100px;
}

.menu-icon {
  width: 30px;
  height: 24px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 25px;
}

.web-height {
  background: transparent;
  height: 70px;
}

.user-info {
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.logo-container {
  color: var(--primary-color);
  margin-top: 48px;
  img.logo {
    width: 111px;
    height: 32px;
  }
}

.tablet-header-button-384 {
  height: 35px;
  color: #ffffff;
  background-color: #384C61;
  border-radius: 23px;
  font-size: 14px;
  margin-right: 5px;
}
@media only screen and (max-width: 1023px) {
  .mobile-space {
    margin-top: 55px;
  }
}
