:host {
  padding: 170px 10px 55px 10px;
  display: flex;
  justify-content: center;
}
.login-form {
  width: 375px;
  //height: 300px;
  align-items: center;
  justify-content: center;
}
mat-card {
  height: 180px!important;
  border-radius: 23px;
  align-items: center;
}

button {
  margin-top: 20px;
}

mat-form-field {
  width: 290px;
  margin-top: 15px;
}

mat-card-title, mat-card-header {
  display: flex;
  justify-content: center;
}
mat-card-content {
  display: flex;
  flex-direction: column;
  margin-top: 40px!important;
  margin-left: 26px!important;
}
