<div class="d-flex justify-content-center flex-column position-relative disable-user-select" style="padding-left: 40px; padding-right: 40px;">
  <p>{{getDate(data[index])}}</p>
  <p class="opacity-50" *ngIf="data[index+1]">{{getDate(data[index+1])}}</p>
  <p class="opacity-50 border-bottom-0" *ngIf="data[index+2]">{{getDate(data[index+2])}}</p>
  <div class="up-down-container">
    <mat-icon class="less-icon" (click)="up()">expand_less</mat-icon>
    <mat-icon class="more-icon" (click)="down()">expand_more</mat-icon>
  </div>
</div>
