<div class="personal-info mt-15" *ngIf="showDetail && showDetailId === item.id && item.medicalQuestion">
  <p class="p-272140">{{medical.firstName}} {{medical.lastName}}</p>
  <p class="p-272140">{{gender[medical.gender]}}, {{medical.age}} Jahre, {{medical.height / 100}}m, {{medical.weight}}kg</p>
  <ul>
    <li class="p-272140">{{medical.smoking ? 'Raucher' : 'Nicht-Raucher'}}</li>
    <li class="p-272140">{{medical.alcohol ? 'Trinkt Alkohol regelmäßig' : 'Trinkt Alkohol unregelmäßig bis gar nicht'}}</li>
    <li class="p-272140">{{medical.takeMedication ? 'Nimmt Medikamente: gegen Diabetes' : 'Nimmt nicht regelmäßig Medikamente ein'}}</li>
    <li class="p-272140">{{medical.heartAttack ? 'Es sind Herzinfarkte / Schlaganfälle in der Familie bekannt' : 'keine Herzinfarkte / Schlaganfälle in der Familie bekannt'}}</li>
    <li class="p-272140">{{medical.previousIllness ? 'Es sind Vorerkrankungen bekannt' : 'Keine Vorerkrankungen bekannt'}}</li>
  </ul>
  <div class="d-flex mt-20 ml-20">
    <button mat-stroked-button class="custom-button">
      Rechnung
    </button>
    <button
      mat-stroked-button
      class="custom-button ml-20"
      (click)="openHistory(item)"
    >
      Historie
    </button>
  </div>
</div>
