<form [formGroup]="appointmentForm" class="p-2">
  <div class="pd-17">
    <h1 style="margin-top: 9px">Neuer <span style="font-weight: 100"> Termin</span></h1>
    <div class="mt-47">
      <mat-form-field class="w-100 mt-4">
        <mat-label>PLZ</mat-label>
        <input formControlName="plz" autocomplete="off" matInput (keyup)="checkPostalCode()">
        <mat-icon *ngIf="f.plz.touched && !f.plz.errors" style="color: greenyellow" matSuffix>done</mat-icon>
        <mat-icon *ngIf="f.plz.touched && f.plz.errors" style="color: red" matSuffix>close</mat-icon>
      </mat-form-field>
      <div style="margin-top: 101px" class="float-right">
        <div class="d-flex">
          <button
            mat-stroked-button
            (click)="close()"
            class="custom-button"
          >
            Abbrechen
          </button>
          <button
            mat-stroked-button
            class="custom-button-384 ml-10"
            (click)="submit()"
          >
            Nach Terminen suchen
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

