<form [formGroup]="scheduleForm" class="p-2">
  <h1>Kalenderressource neu</h1>

  <div class="d-flex flex-wrap">
    <mat-form-field class="mt-4 w-100">
      <mat-label>Kalenderressourcenname</mat-label>
      <input autocomplete="off" matInput formControlName="name">
    </mat-form-field>
  </div>

  <mat-accordion class="position-relative">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar pink">
            <div class="round">
              <mat-icon>place</mat-icon>
            </div>
            <div>Bezirke</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-wrap expansion-panel-container">
        <button
          type="button"
          mat-stroked-button
          *ngFor="let district of districts"
          [ngClass]="{'primary': selectedDistrict.includes(district.id)}"
          (click)="selectDistrict(district.id)"
        >
          {{district.name}}
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="d-flex flex-column mt-4">

  </div>

  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center" style="width: 50%;">
    </div>
    <div class="d-flex align-items-center">
      <button class="custom-button mr-3" mat-stroked-button (click)="onCloseDialog()">Abbrechen</button>
      <button class="custom-button primary primary-button" mat-stroked-button (click)="onSubmitForm()">Neue Kalenderressource anlegen</button>
    </div>
  </div>
</form>
