<form [formGroup]="callbackForm">
  <div class="pd-17">
    <h1 style="margin-top: 9px">Rückrufbitte  <span style="font-weight: 100"> Arzt</span></h1>
    <div class="main-container-div">
      <div class="left-border-div">
        <p class="p-272140">{{getTimeDuration(displayData?.startTime, displayData?.duration)}}</p>
        <p class="p-576E82">Check-Up: {{displayData?.packageName}}</p>
        <p class="p-272140" *ngIf="!displayData?.differentPlace">
          {{displayData?.addressStreet}} {{displayData?.addressPlz}}, {{displayData?.addressOrt}}
        </p>
        <p class="p-272140" *ngIf="displayData?.differentPlace">
          {{displayData?.otherStreet}} {{displayData?.otherPostalCode}}, {{displayData?.otherCity}}
        </p>
      </div>
      <div class="mt-24 d-flex">
        <button
          type="button"
          mat-stroked-button
          class="custom-button"
          (click)="selectDay('today')"
          [ngClass]="{'primary':selectedDay === 'today'}"
        >
          Ab heute
        </button>
        <button
          type="button"
          mat-stroked-button
          class="custom-button ml-10"
          (click)="selectDay('tomorrow')"
          [ngClass]="{'primary':selectedDay === 'tomorrow'}"
        >
          Ab morgen
        </button>
      </div>
      <div class="mt-24">
        <div class="d-flex-between flex-wrap a-center">
          <div class="time-board"
               *ngFor="let item of times"
               [ngClass]="{'opacity-50': selectedDay === 'today' && getConditionFromTime(item.time)}"
               (click)="selectTime(item)">
            <mat-icon *ngIf="selectedTime !== item.time">radio_button_unchecked</mat-icon>
            <mat-icon style="color: #384c61" *ngIf="selectedTime === item.time">lens</mat-icon>
            <p class="ml-10">{{item.label}}</p>
          </div>
        </div>
      </div>
      <div class="mt-24">
        <div class="d-flex avatar pink ml-24">
          <div class="round" (click)="isEditPhone = !isEditPhone">
            <mat-icon> stay_current_portrait</mat-icon>
          </div>
          <div>
            <span [hidden]="isEditPhone">{{this.f.phone.value && !this.f.phone.errors? this.f.phone.value:defaultPhone}}</span>
            <mat-form-field class="w-100" [hidden]="!isEditPhone">
              <mat-label>ddd</mat-label>
              <input autocomplete="off" matInput formControlName="phone">
              <mat-icon *ngIf="f.phone.touched && !f.phone.errors" style="color: greenyellow" matSuffix>done</mat-icon>
              <mat-icon *ngIf="f.phone.touched && f.phone.errors" style="color: red" matSuffix>close</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar green">
                  <div class="round">
                    <mat-icon>lens</mat-icon>
                  </div>
                  <div>Nachricht hinzufügen</div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-block expansion-panel-container" style="margin-left: 76px">
              <mat-form-field class="width-50 mt-4">
                <mat-label>Title</mat-label>
                <input formControlName="title" autocomplete="off" placeholder="Title" matInput>
              </mat-form-field>
              <br/>
              <mat-form-field appearance="outline" class="mt-15 width-50">
                <mat-label>Message</mat-label>
                <textarea
                  matInput
                  formControlName="message"
                  placeholder="message"
                  rows="7"
                ></textarea>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="mt-47" style="float: right">
        <div class="d-flex">
          <button
            type="button"
            mat-stroked-button
            (click)="close()"
            class="custom-button"
          >
            Abbrechen
          </button>
          <button
            mat-stroked-button
            class="custom-button-C7D ml-10"
            (click)="submit()"
            [disabled]="callbackForm.invalid"
            [ngClass]="{'primary':callbackForm.valid}"
          >
            Rückrufbitte senden
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
