<div class="side-container">
  <button mat-icon-button class="close" (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
  <div class="main-side-container">
    <h1>Anamnesebogen <span style="font-weight: 100">prüfen</span></h1>
    <div class="left-border-div mt-38">
      <p class="p-272140">12.09.2020 09:00 - 10:15</p>
      <p class="p-576E82">Check-Up: Männergesundheit</p>
      <p class="p-272140">Marienstraße 4, 15387 Berlin</p>
    </div>
    <div class="option-buttons-div mt-47">
      <div class="option-button-div">
        <button class="doctor-search-button">
          <mat-icon>search</mat-icon>
        </button>
        <button
          class="custom-button-default ml-10"
          style="margin-left: 10px"
          mat-stroked-button
        >
          Kontakthistorie ansehen
        </button>
      </div>
    </div>
    <p class="p-272140-tablet mt-47">
      Sebastian Naumann<br/>
      <span class="p-14">
        Männlich, 39 Jahre, 1,83 m, 95 kg
      </span>
    </p>
    <p class="p-14 mt-24">
      Rauchen Sie?
      <br/>
      Nein
    </p>
    <p class="p-14 mt-24">
      Trinken Sie täglich Alkohol?<br/>
      Nein
    </p>
    <p class="p-14 mt-24">
      Nehmen Sie regelmäßig Medikamente ein?<br/>
      Ja<br/>
      Gegen Diabetes
    </p>
    <p class="p-14 mt-24">
      Sind bei Ihnen relevante Vorerkrankungen bekannt?<br/>
      Nein
    </p>
    <p class="p-14 mt-24">
      Wollen Sie uns noch zusätzliche Informationen<br/> zukommen lassen?<br/>
      Nein
    </p>
    <span class="org-text d-flex mt-47">
        <img src="/assets/images/info_icon.svg" alt="info" class="mr-10">
      {{"In Bearbeitung durch Dr. Med. Jessica Johns"}}
    </span>
  </div>
</div>
