<div class="side-container">
  <button mat-icon-button class="close" (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
  <div class="main-side-container">
    <h1>Anamnesebogen <span style="font-weight: 100">prüfen</span></h1>
    <div class="left-border-div mt-38">
      <p class="p-272140">{{getTimeDuration(displayData?.startTime, displayData?.duration)}}</p>
      <p class="p-576E82">Check-Up: Männergesundheit</p>
      <p class="p-272140">{{displayData?.addressStreet}} {{displayData?.addressPlz}}, {{displayData?.addressOrt}}</p>
    </div>
    <div class="option-buttons-div mt-47">
      <div class="option-button-div">
        <button class="doctor-search-button">
          <mat-icon>search</mat-icon>
        </button>
        <button
          class="custom-button-default ml-10"
          style="margin-left: 10px"
          mat-stroked-button
        >
          Kontakthistorie ansehen
        </button>
      </div>
    </div>
    <div class="mt-47">
      <p class="p-272140-tablet">{{displayData?.patientFirstName}} {{displayData?.patientLastName}}</p>
      <p class="p-272140-tablet">{{displayData?.gender}}, {{displayData?.age}} Jahre, {{displayData?.height/100}} m, {{displayData?.weight}} kg</p>
      <p class="mt-20">Rauchen Sie?<br/>{{displayData?.smoking ? 'Ja' : 'Nein'}}</p>
      <p class="mt-20">Trinken Sie täglich Alkohol?<br/>{{displayData?.alcohol ? 'Ja' : 'Nein'}}</p>
      <p class="mt-20">Nehmen Sie regelmäßig Medikamente ein?<br/>{{displayData?.takeMedication ? 'Ja' : 'Nein'}}</p>
      <p class="mt-20">Gibt es in Ihrer Familie Herzinfarkte / Schlaganfälle?<br/>{{displayData?.heartAttack ? 'Ja' : 'Nein'}}</p>
      <p class="mt-20">Sind bei Ihnen relevante Vorerkrankungen bekannt?<br/>{{displayData?.previousIllness ? 'Ja' : 'Nein'}}</p>
      <p *ngIf="displayData?.previousIllness">{{displayData?.disease}}</p>
      <p class="mt-20">Wollen Sie uns noch zusätzliche Informationen<br/> zukommen lassen?<br/>{{displayData?.additionalInfo ? 'Ja': 'Nein'}}</p>
    </div>

    <span class="org-text d-flex mt-47">
        <img src="/assets/images/info_icon.svg" alt="info" class="mr-10">
      {{"In Bearbeitung durch Dr. Med. Jessica Johns"}}
    </span>
  </div>
</div>
