<div class="header-container" [ngClass]="{'web-height': !isMobile, 'mobile-height': isMobile} ">
  <div class="logo-container">
    <button *ngIf="isMobile" class="ml-3" mat-icon-button aria-label="more" (click)="openSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <img *ngIf="isMobile" src="assets/images/logo.svg" alt="logo">
  </div>
  <div class="d-flex align-items-center">
    <div class="user-info">
      <img src="/assets/images/avatar.png" alt="user-avatar">
      <span *ngIf="!isMobile" class="ml-2 text-capitalize">{{currentUser.role}}</span>
    </div>
    <button *ngIf="!isMobile && currentUser.role !== 'Patient'" (click)="logout()" class="ml-3" mat-icon-button aria-label="more">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <button *ngIf="!isMobile && currentUser.role === 'Patient'" (click)="openRightSidebar()" class="ml-3" mat-icon-button aria-label="more">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>
</div>
