.before-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #384C61;
  left: -6px;
}
.location-a {
  top: 120px;
}
.location-b {
  top: 205px;
}
.location-c {
  top: 264px;
}
.location-d {
  top: 327px
}
