.p-16 {
  color: #272140;
  font-size: 16px;
}
.p-14 {
  color: #272140;
  font-size: 14px;
}
.dot {
  width: 10px;
  height: 10px;
  font-size: 10px;
  margin-left: -6px;
  color: var(--primary-color);
}
h1 {
  font-size: 36px!important;
}
