<form [formGroup]="editAnamsForm">
  <div class="patient-popup-container">
    <button
      type="button"
      mat-icon-button
      class="close"
      (click)="close()"
    >
      <mat-icon>clear</mat-icon>
    </button>
    <div class="main-side-container" *ngIf="!saved">
      <h1 *ngIf="isTablet">Anamnese <span style="font-weight: 100">bearbeiten</span></h1>
      <p class="p-272140 mt-38">Ihre persönlichen Daten</p>
      <div class="d-flex-between w-90">
        <mat-form-field class="mt-4 w-45">
          <mat-label>Vorname</mat-label>
          <input formControlName="firstName" autocomplete="off" matInput>
        </mat-form-field>
        <mat-form-field class="mt-4 w-45">
          <mat-label>Nachname</mat-label>
          <input formControlName="lastName" autocomplete="off" matInput>
        </mat-form-field>
      </div>
      <div class="d-flex-between w-90">
        <mat-form-field class="w-45">
          <mat-label>Geschlecht</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="Female">Weiblich</mat-option>
            <mat-option value="Male">Männlich</mat-option>
            <mat-option value="Divers">Divers</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-45">
          <mat-label>Alter</mat-label>
          <mat-select formControlName="age">
            <mat-option [value]="index + 18" *ngFor="let age of ageRange; let index = index;">
              {{index + 18}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-flex-between w-90">
        <mat-form-field class="w-45">
          <mat-label>Größe</mat-label>
          <mat-select formControlName="height">
            <mat-option [value]="index + 100" *ngFor="let height of heightRange; let index = index;">
              {{index + 100}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-45">
          <mat-label>Gewicht</mat-label>
          <mat-select formControlName="weight">
            <mat-option [value]="index + 35" *ngFor="let weight of weightRange; let index = index;">
              {{index + 35}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mt-38">
        <div class="d-flex-between align-items-center">
          <p>Rauchen Sie?</p>
          <div class="d-flex">
            <button
              (click)="selectValues.smoking = true"
              mat-stroked-button
              type="button"
              [ngClass]="{'primary primary-button': selectValues.smoking, 'custom-button-37': !selectValues.smoking}"
            >
              Ja
            </button>
            <button
              (click)="selectValues.smoking = false"
              mat-stroked-button
              type="button"
              [ngClass]="{'primary primary-button': !selectValues.smoking, 'custom-button-37': selectValues.smoking}"
              class="ml-5"
            >
              Nein
            </button>
          </div>
        </div>
        <div class="d-flex-between align-items-center mt-18">
          <p>Trinken Sie täglich Alkohol?</p>
          <div class="d-flex">
            <button
              (click)="selectValues.alcohol = true"
              mat-stroked-button
              type="button"
              [ngClass]="{'primary primary-button': selectValues.alcohol, 'custom-button-37': !selectValues.alcohol}"
            >
              Ja
            </button>
            <button
              (click)="selectValues.alcohol = false"
              mat-stroked-button
              type="button"
              [ngClass]="{'primary primary-button': !selectValues.alcohol, 'custom-button-37': selectValues.alcohol}"
              class="ml-5"
            >
              Nein
            </button>
          </div>
        </div>
        <div class="d-flex-between align-items-center mt-18">
          <p>Nehmen Sie regelmäßig Medikamente ein?</p>
          <div class="d-flex">
            <button
              (click)="selectDiseaseStatus(true)"
              mat-stroked-button
              type="button"
              [ngClass]="{'primary primary-button': selectValues.takeMedication, 'custom-button-37': !selectValues.takeMedication}"
            >
              Ja
            </button>
            <button
              (click)="selectDiseaseStatus(false)"
              mat-stroked-button
              type="button"
              [ngClass]="{'primary primary-button': !selectValues.takeMedication, 'custom-button-37': selectValues.takeMedication}"
              class="ml-5"
            >
              Nein
            </button>
          </div>
        </div>
        <mat-form-field class="w-100">
          <mat-label>Gegen Diabetes</mat-label>
          <mat-select formControlName="disease">
            <mat-option [value]="disease" *ngFor="let disease of diseases">
              {{disease}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="d-flex-between align-items-center mt-18">
          <p>Gibt es in Ihrer Familie Herzinfarkte / Schlaganfälle?</p>
          <div class="d-flex">
            <button
              (click)="selectValues.heartAttack = true"
              mat-stroked-button
              type="button"
              [ngClass]="{'primary primary-button': selectValues.heartAttack, 'custom-button-37': !selectValues.heartAttack}"
            >
              Ja
            </button>
            <button
              (click)="selectValues.heartAttack = false"
              [ngClass]="{'primary primary-button': !selectValues.heartAttack, 'custom-button-37': selectValues.heartAttack}"
              mat-stroked-button
              type="button"
              class="ml-5"
            >
              Nein
            </button>
          </div>
        </div>
        <div class="d-flex-between align-items-center mt-18">
          <p>Sind bei Ihnen relevante Vorerkrankungen bekannt?</p>
          <div class="d-flex">
            <button
              (click)="selectValues.previousIllness = true"
              mat-stroked-button
              type="button"
              [ngClass]="{'primary primary-button': selectValues.previousIllness, 'custom-button-37': !selectValues.previousIllness}"
            >
              Ja
            </button>
            <button
              (click)="selectValues.previousIllness = false"
              mat-stroked-button
              type="button"
              [ngClass]="{'primary primary-button': !selectValues.previousIllness, 'custom-button-37': selectValues.previousIllness}"
              class="ml-5"
            >
              Nein
            </button>
          </div>
        </div>
        <div class="d-flex-between align-items-center mt-18">
          <p>Wollen Sie uns noch zusätzliche Informationen<br/> zukommen lassen?</p>
          <div class="d-flex">
            <button
              (click)="selectValues.additionalInfo = true"
              mat-stroked-button
              type="button"
              [ngClass]="{'primary primary-button': selectValues.additionalInfo, 'custom-button-37': !selectValues.additionalInfo}"
            >
              Ja
            </button>
            <button
              (click)="selectValues.additionalInfo = false"
              mat-stroked-button
              type="button"
              [ngClass]="{'primary primary-button': !selectValues.additionalInfo, 'custom-button-37': selectValues.additionalInfo}"
              class="ml-5"
            >
              Nein
            </button>
          </div>
        </div>
      </div>
      <div class="mt-85 text-center">
        <button
          mat-stroked-button
          class="custom-button-384"
          (click)="submit()"
        >
          Anamnesedaten speichern
        </button>
      </div>
    </div>
    <div class="main-side-container" *ngIf="saved">
      <h1>Anamnese <span style="font-weight: 100">bearbeiten</span></h1>
      <div class="d-flex mt-38">
        <mat-icon class="green-0">lens</mat-icon>
        <p
          class="p-green ml-10"
          style="margin-top: 3px"
        >Ihre Anamnese wurde geändert.<br/>
          Bitte warten Sie auf die erneute Freigabe durch<br/>
          Ihren Arzt. Ihr Termin bleibt bis dahin bestehen.</p>
      </div>
    </div>
  </div>
</form>
