.patient-popup-container {
  width: 495px;
  height: 100vh;
  padding: 33px;
  background-color: #ffffff;
  .close {
    position: absolute;
    top: 29px;
    right: 33px;
  }
  .main-side-container {
    padding-left: 31px;
    margin-top: 82px;
  }
}
h1 {
  font-size: 36px;
}
.custom-button-384C61 {
  background-color: #384C61;
  border-radius: 25px !important;
  height: 37px;
  color: #ffffff;
  font-size: 1rem;
}
.custom-button-37 {
  background-color: #E1EAF1;
  border-radius: 25px !important;
  height: 37px;
  font-size: 1rem;
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .patient-popup-container {
    width: 100% !important;
    height: 130vh;
    background-color: #ffffff;
    padding: 24px!important;
    top:50px;
    .close {
      position: absolute!important;
      top: 24px!important;
      right: 24px!important;
    }
    .main-side-container {
      margin-top: 26px;
      padding-left: 0px!important;
    }
  }
  .add-message {
    margin-top: 40px;
    .message-div {
      margin-top: 13px;
      width: 100%;
      height: 220px;
      padding-left: 0px!important;
      p {
        color: #A9BBC9;
        font-size: 14px!important;
      }
      hr.bottom-line {
        width: 210px;
        border: 1px solid #A9BBC9;
        float: left;
      }
    }
  }
}
p {
  color: #272140;
  font-size: 16px;
}
.w-90 {
  width: 90% !important
}
.w-45 {
  width: 45% !important
}

.mt-18 {
  margin-top: 18px!important;
}
.w-100 {
  width: 100% !important
}
.mt-85 {
  margin-top: 85px;
}
