<form [formGroup]="moveForm">
  <div class="pd-17">
    <h1 style="margin-top: 9px">Termin <span style="font-weight: 100"> verschieben</span></h1>
    <div class="main-container-div">
      <div class="left-border-div">
        <p class="p-272140">
          {{getTimeDuration(displayData?.startTime, displayData?.duration)}}
        </p>
        <p class="p-576E82">Check-Up: {{displayData?.packageName}}</p>
        <p class="p-272140" *ngIf="!displayData?.differentPlace">
          {{displayData?.addressStreet}} {{displayData?.addressPlz}}, {{displayData?.addressOrt}}
        </p>
        <p class="p-272140" *ngIf="displayData?.differentPlace">
          {{displayData?.otherStreet}} {{displayData?.otherPostalCode}}, {{displayData?.otherCity}}
        </p>
      </div>
      <div class="mt-47">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar pink">
                  <div class="round">
                    <mat-icon>place</mat-icon>
                  </div>
                  <div>Adresse ändern</div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-wrap expansion-panel-container">
              <div style="margin-left: 76px">
                <div class="d-flex-between w-100">
                  <mat-form-field class="w-45">
                    <mat-label>PLZ</mat-label>
                    <input formControlName="plz" autocomplete="off" matInput>
                  </mat-form-field>
                  <mat-form-field class="w-45">
                    <mat-label>Ort</mat-label>
                    <input formControlName="ort" autocomplete="off" matInput>
                  </mat-form-field>
                </div>
                <mat-form-field class="full-width">
                  <mat-label>Straße Hausnummer</mat-label>
                  <input formControlName="street" autocomplete="off" matInput>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar green">
                  <div class="round">
                    <img src="/assets/images/clock_icon.svg" alt="clock">
                  </div>
                  <div>Neuen Termin auswählen</div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-wrap expansion-panel-container">
              <div class="text-center mt-4">
                <app-datetime-picker [data]="allTimes" (setSelectedTime)="selectedPTime = $event"></app-datetime-picker>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar yellow justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="round">
                      <mat-icon>stop_circle</mat-icon>
                    </div>
                    <div>Nachricht hinzufügen</div>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-wrap expansion-panel-container">
              <mat-form-field
                appearance="fill"
                style="width: 100%;margin-left:76px"
              >
                <mat-label></mat-label>
                <textarea
                  matInput
                  formControlName="message"
                  placeholder=""
                  rows="13"
                ></textarea>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="determine-button-group">
        <div class="d-flex">
          <button
            type="button"
            mat-stroked-button
            class="custom-button"
            (click)="close()"
          >
            Abbrechen
          </button>
          <button
            mat-stroked-button
            class="custom-button-C7D ml-20"
            (click)="submit()"
            [disabled]="moveForm.invalid"
            [ngClass]="{'primary':moveForm.valid}"
          >
            Termin verschieben
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

