.patient-popup-container {
  width: 495px;
  height: 100%;
  padding: 33px;
  background-color: #ffffff;
  .close {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 29px;
    right: 33px;
    mat-icon {
      width: 14px;
      height: 14px;
    }
  }
  .main-side-container {
    padding-left: 31px;
    margin-top: 82px;
  }
}
h1 {
  font-size: 36px;
}
.p-green {
  color: #89DF8C;
  font-size: 16px;
}
.green-0 {
  color: #89DF8C;
}
