<div class="patient-sidebar">
  <div class="float-right">
    <button
      mat-icon-button
      (click)="close()"
      class="back-button"
      style="margin-top: 11px;margin-right: 10px"
    >
      <mat-icon class="p-white">keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <div class="float-right" style="margin-top: 15px">
    <ul>
      <li (click)="editProfile()">Profil bearbeiten</li>
      <li>Datenschutzerklärung</li>
      <li>Impressum</li>
      <li>Logout</li>
    </ul>
  </div>
</div>
