<form [formGroup]="patientForm" class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="notify-board mt-15"
           [ngStyle]="{'background': '#4A90E2'}"
      >
        <div class="d-flex align-items-center">
          <div class="n-circle" [ngStyle]="{'background': '#ffffff'}">
            <img
              [src]="'/assets/images/package/blue/' +
               (packageNames.includes(bookingData.package.name) ? bookingData.package.name : 'Männermedizin') + '.svg'"
              alt="male">
          </div>
          <p style="margin-left: 15px" class="p-white">{{bookingData.package.name}}</p>
        </div>
        <mat-icon class="p-white">done</mat-icon>
      </div>
      <div class="notify-board mt-15"
           style="background-color: #E1EAF1;"
      >
        <div class="d-flex align-items-center">
          <div class="n-circle">
            <img
              [src]="'/assets/images/package/blue/' +
               (packageNames.includes(bookingData.additionalPackage.name) ? bookingData.additionalPackage.name : 'Männermedizin') + '.svg'"
              alt="male">
          </div>
          <p style="margin-left: 15px">{{bookingData.additionalPackage.name}}</p>
        </div>
        <mat-icon style="color: var(--primary-color)">done</mat-icon>
      </div>
      <div class="d-flex avatar green mt-3">
        <div class="round">
          <img src="/assets/images/clock_icon.svg" alt="clock">
        </div>
        <div>{{getTimeDuration(bookingData.time)}}</div>
      </div>
    </div>
    <div class="col-md-8">
      <mat-card class="mb-5">
        <mat-card-content>
          <p class="font-size-16">
            {{bookingData.package.name}}
          </p>
          <p class="font-weight-300">
            {{bookingData.package.content}}
          </p>
          <div class="d-flex justify-content-end">
            <div>
              <p class="font-size-30">{{bookingData.package.price}}&euro;</p>
              <p>Inkl. 16% Mwst.</p>
            </div>
            <button
              (click)="deselectPackage()"
              mat-stroked-button class="custom-button primary-button primary ml-3">Wieder abwählen</button>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mb-5">
        <mat-card-content>
          <p class="font-size-16">{{bookingData.additionalPackage.name}}</p>
          <p class="font-weight-300">
            {{bookingData.additionalPackage.name}}
          </p>
          <div class="d-flex justify-content-end">
            <div>
              <p class="font-size-30">{{bookingData.additionalPackage.price}}&euro;</p>
              <p>Inkl. 16% Mwst.</p>
            </div>
            <button
              (click)="deselectAdditionalPackage()"
              mat-stroked-button class="custom-button primary-button primary ml-3">Wieder abwählen</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="d-flex avatar yellow justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="round">
                    <mat-icon>euro_symbol</mat-icon>
                  </div>
                  <div>Zahlungsmittel</div>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="d-flex flex-wrap expansion-panel-container">
            <div class="text-center w-100">
              <mat-form-field appearance="fill">
                <mat-label></mat-label>
                <mat-select formControlName="payment" (valueChange)="selectPayment($event)">
                  <mat-option
                    [value]="payment.value"
                    *ngFor="let payment of paymentOptions"
                  >
                    {{payment.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="d-flex avatar blue justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="round">
                    <mat-icon>lens</mat-icon>
                  </div>
                  <div>Nachricht hinzufügen</div>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="d-flex flex-wrap expansion-panel-container">
            <mat-form-field
              appearance="outline"
              style="width: 100%;margin-left:76px"
            >
              <mat-label></mat-label>
              <textarea
                matInput
                placeholder=""
                rows="10"
                formControlName="message"
              ></textarea>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-md-8">
      <div>
        <p class="font-size-16">Ihre persönlichen Daten</p>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-99">
              <mat-label>Vorname</mat-label>
              <input formControlName="firstName" autocomplete="off" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-99">
              <mat-label>Nachname</mat-label>
              <input formControlName="lastName" autocomplete="off" matInput>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-99">
              <mat-label>Straße Hausnummer</mat-label>
              <input formControlName="street" autocomplete="off" matInput>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="w-99">
              <mat-label>PLZ</mat-label>
              <input formControlName="plz" autocomplete="off" matInput (keyup)="checkPostalCode('plz')">
              <mat-icon *ngIf="f.plz.touched && !f.plz.errors" style="color: greenyellow" matSuffix>done</mat-icon>
              <mat-icon *ngIf="f.plz.touched && f.plz.errors" style="color: red" matSuffix>close</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-9">
            <mat-form-field class="w-99">
              <mat-label>Ort</mat-label>
              <input formControlName="ort" autocomplete="off" matInput>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="w-99">
              <mat-label>Geschlecht</mat-label>
              <mat-select formControlName="gender">
                <mat-option value="Female">Weiblich</mat-option>
                <mat-option value="Male">Männlich</mat-option>
                <mat-option value="Divers">Divers</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-9">
            <mat-form-field class="w-99">
              <mat-label>Geb.Datum</mat-label>
              <input matInput autocomplete="off" disabled formControlName="ageView" />
              <input style="display: none;" matInput [matDatepicker]="picker" formControlName="age" autocomplete="off" (dateChange)="setDateAndAge($event)" disabled>
              <mat-icon matSuffix (click)="picker.open()">event</mat-icon>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-99">
              <mat-label>Handynummer</mat-label>
              <input formControlName="phoneNumber" autocomplete="off" matInput>
              <mat-icon *ngIf="f.phoneNumber.touched && !f.phoneNumber.errors" style="color: greenyellow" matSuffix>done
              </mat-icon>
              <mat-icon *ngIf="f.phoneNumber.touched && f.phoneNumber.errors" style="color: red" matSuffix>close</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex" (click)="changeCheckboxValue()">
              <div class="d-flex align-items-center" style="cursor: pointer;">
                <div class="checkbox-container">
                  <div *ngIf="f.differentPlace.value" class="check-mark"></div>
                </div>
                <span>Abweichender Abnahmeort</span>
              </div>
            </div>
            <mat-checkbox *ngIf="false" formControlName="differentPlace">Abweichender Abnahmeort</mat-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-99">
              <mat-label>Straße Hausnummer</mat-label>
              <input formControlName="otherStreet" autocomplete="off" matInput>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="w-99">
              <mat-label>PLZ</mat-label>
              <input formControlName="otherPostalCode" autocomplete="off" matInput (keyup)="checkPostalCode('otherPostalCode')">
              <mat-icon *ngIf="f.otherPostalCode.touched && !f.otherPostalCode.errors" style="color: greenyellow" matSuffix>done</mat-icon>
              <mat-icon *ngIf="f.otherPostalCode.touched && f.otherPostalCode.errors" style="color: red" matSuffix>close</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-9">
            <mat-form-field class="w-99">
              <mat-label>Ort</mat-label>
              <input formControlName="otherCity" autocomplete="off" matInput>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <p class="font-size-16">Login Daten</p>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="w-99">
              <mat-label>E-Mail-Adresse</mat-label>
              <input formControlName="email" autocomplete="off" matInput>
              <mat-icon *ngIf="f.email.touched && !f.email.errors" style="color: greenyellow" matSuffix>done</mat-icon>
              <mat-icon *ngIf="f.email.touched && f.email.errors" style="color: red" matSuffix>close</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="w-99">
              <mat-label>Passwort</mat-label>
              <input formControlName="password" autocomplete="off" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="w-99">
              <mat-label>Passwort wiederholen</mat-label>
              <input formControlName="confirmPassword" autocomplete="off" matInput>
              <mat-error *ngIf="f.confirmPassword.errors?.mustMatch">Password must match.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row mt-4">
          <div class="d-flex justify-content-end">
            <div>
              <p class="font-size-30">150,95&euro;</p>
              <p>Inkl. 16% Mwst.</p>
            </div>
            <button
              (click)="submit()"
              mat-stroked-button class="custom-button primary-button primary ml-3">Termin buchen & bezahlen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="footer">
  <p>
    <span class="font-size-30">Prävention neu gedacht. </span>
    <span class="font-size-18 font-weight-300">Bluttests wann und wo Sie wollen, einfach & schnell! </span>
    <span class="font-size-18 font-weight-300 ml-3">Datenschutz</span>
    <span class="font-size-18 font-weight-300 ml-3">AGB & Impressum</span>
  </p>
</div>
