<h3 class="header-title">Arbeitsgruppen</h3>
<div class="main-container mt-5">
  <div class="table-toolbar">
    <div class="search-field-container">
      <input type="text" placeholder="Search..." [(ngModel)]="filterValue" (ngModelChange)="filter()">
      <mat-icon>search</mat-icon>
    </div>
    <button
      class="custom-button"
      mat-stroked-button
      [routerLink]="'/working-group/new'"
      *ngIf="currentUser.role === 'Superadmin'"
    >Neue Arbeitsgruppe anlegen
    </button>
  </div>
  <div class="table-container mt-5">
    <mat-card class="table-card mat-card-radius">
      <div>
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)">

          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> #</th>
            <td mat-cell *matCellDef="let element; let i = index"> {{currentPage * pageSize + i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Arbeitsgruppenname
              <app-order-icon columnName="name" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.name}}
            </td>
          </ng-container>

          <ng-container matColumnDef="group_admin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Arbeitsgruppen-Administrator
              <app-order-icon columnName="group_admin" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.admins[0].firstName}} {{element.admins[0].lastName}}
              <span *ngIf="element.admins.length > 1">
                (+{{element.admins.length - 1}})
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="calendar_resource">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Kalenderressourcen
              <app-order-icon columnName="calendar_resource" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.calendar.name}}
            </td>
          </ng-container>

          <ng-container matColumnDef="nurse">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Schwester
              <app-order-icon columnName="nurse" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.user.firstName}}
            </td>
          </ng-container>

          <ng-container matColumnDef="interval">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Terminvergabeintervall
              <app-order-icon columnName="interval" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.duration_appointment}} Min ({{element.rest_time}} Min Ruhezeit),
              {{getFloorValue(element.working_time_from / 2)}}:{{element.working_time_from % 2 === 0 ? '00' : '30'}}
              -
              {{getFloorValue(element.working_time_until / 2)}}:{{element.working_time_until % 2 === 0 ? '00' : '30'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="agency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Agentur
              <app-order-icon columnName="agency" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              {{element.agency.name}}
            </td>
          </ng-container>

          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Aktiv
              <app-order-icon columnName="active" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex">
                <mat-slide-toggle (change)="setActive($event, element.id)"
                                  [checked]="element.isActive"></mat-slide-toggle>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="text-align: right"> Aktionen</th>
            <td mat-cell *matCellDef="let element" style="text-align: right" class="position-relative">
              <button mat-icon-button aria-label="more" (click)="editItem(element.id)">
                <img src="/assets/images/edit.svg" alt="edit">
              </button>
              <button
                (click)="delete(element.id)"
                aria-label="more"
                mat-icon-button
                *ngIf="currentUser.role === 'Superadmin'"
              >
                <mat-icon class="delete-icon" [ngClass]="{'warning-color': selectedDeleteItem === element.id}">delete
                </mat-icon>
              </button>
              <div class="d-flex align-items-center delete-dialog" *ngIf="selectedDeleteItem === element.id">
                <span>Wirklich löschen?</span>
                <button mat-button class="ja-button" (click)="deleteItem()">JA</button>
                <button mat-button class="nein-button" (click)="selectedDeleteItem = null">NEIN</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator (page)="onPaginateChange($event)" [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons></mat-paginator>
      </div>
    </mat-card>
  </div>
</div>
