<h3 class="header-title">Agenturen</h3>
<div class="main-container mt-5">
  <div class="table-toolbar">
    <div class="search-field-container">
      <input type="text" placeholder="Search..." [(ngModel)]="filterValue" (ngModelChange)="filter()">
      <mat-icon>search</mat-icon>
    </div>
    <button class="custom-button" mat-stroked-button [routerLink]="'/agency/new'">Neues Agentur anlegen</button>
  </div>
  <div class="table-container mt-5">
    <mat-card class="table-card mat-card-radius">
      <div>
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)">

          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{currentPage * pageSize + i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Agenturbezeichnung
              <app-order-icon columnName="name" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="doctors">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Ärzte
              <app-order-icon columnName="doctors" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              {{'Dr. ' + element.doctors[0]?.firstName}} {{element.doctors[0]?.lastName}}{{element.doctors.length > 1 ? ',' : ''}}
              <span *ngIf="element.doctors.length > 1">
                {{'Dr. ' + element.doctors[1]?.firstName}} {{element.doctors[1]?.lastName}}
              </span>
              <span *ngIf="element.doctors.length > 2">
                (+{{element.doctors.length - 2}})
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="workingGroup">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Arbeitsgruppe
              <app-order-icon columnName="workingGroup" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.working_group?.name}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="text-align: right"> Aktionen </th>
            <td mat-cell *matCellDef="let element" style="text-align: right" class="position-relative">
              <button mat-icon-button aria-label="more" (click)="edit(element)">
                <img src="/assets/images/edit.svg" alt="edit">
              </button>
              <button (click)="delete(element.id)" aria-label="more"
                      mat-icon-button>
                <mat-icon class="delete-icon" [ngClass]="{'warning-color': selectedDeleteItem === element.id}">delete</mat-icon>
              </button>
              <div class="d-flex align-items-center delete-dialog" *ngIf="selectedDeleteItem === element.id">
                <span>Wirklich löschen?</span>
                <button mat-button class="ja-button" (click)="deleteItem()">JA</button>
                <button mat-button class="nein-button" (click)="selectedDeleteItem = null">NEIN</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator (page)="onPaginateChange($event)" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card>
  </div>
</div>
