table td {
  padding-right: 0;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 24px;
  padding-right: 24px;
}
.mat-header-cell {
  font-size: 14px;
  font-weight: 500;
}
.mat-cell, .mat-footer-cell {
  font-size: 12px;
}
.custom-button-pink {
  background-color: #F389CC;
  border-radius: 25px !important;
  height: 50px;
  font-size: 1rem;
  color: #FFFFFF;
}
.custom-button-green {
  background-color: #50E3C2;
  border-radius: 25px !important;
  height: 50px;
  font-size: 1rem;
  color: #FFFFFF;
  margin-left: 15px;
}
.custom-button-light-green {
  background-color: #89DF8C;
  border-radius: 25px !important;
  height: 50px;
  font-size: 1rem;
  color: #FFFFFF;
  margin-left: 15px;
}
.mb-201 {
  margin-bottom: 201px;
}
.spec-text {
  color: #E87C60;
  display: flex;
}
.mr-10 {
  margin-right: 10px;
}
.custom-doctor-button {
  border-radius: 18px !important;
  height: 71px;
  font-size: 1rem;
  padding-left: 40px;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  z-index: -1;
}

