.custom-button {
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  font-size: 36px;
}

.checkbox-container {
  border: 1px solid #CFDCE6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 16px;
  cursor: pointer;
  .check-mark {
    width: 12px;
    height: 12px;
    background-color: var(--primary-color);
    border-radius: 50%;
  }
}
