<mat-card class="p-3">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="d-flex flex-column login-form">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email">
        <mat-error *ngIf="registerForm.get('email').hasError('email') && !registerForm.get('email').hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="registerForm.get('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Password">
        <mat-error *ngIf="registerForm.get('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="w-100">Register</button>
      <p class="mat-error" *ngIf="error">{{error}}</p>
    </form>
    <div class="mt-4 text-center">
      <div class="text-secondary mb-1">
        Do you have already account?
      </div>
      <div>
        <a href="/login" class="black-link">Click here to login</a>
      </div>
    </div>
  </mat-card-content>

</mat-card>
