<form [formGroup]="appointmentForm" class="p-2">
<div class="patient-popup-container">
  <button
    type="button"
    mat-icon-button
    class="close"
    (click)="close(false)"
  >
    <mat-icon>clear</mat-icon>
  </button>
  <div class="main-side-container">
    <h1 *ngIf="isTablet">Neuer <span style="font-weight: 100">Termin</span></h1>
    <div class="mt-47">
      <mat-form-field class="w-100 mt-4">
        <mat-label>PLZ</mat-label>
        <input formControlName="plz" autocomplete="off" matInput (keyup)="checkPostalCode()">
        <mat-icon *ngIf="f.plz.touched && !f.plz.errors" style="color: greenyellow" matSuffix>done</mat-icon>
        <mat-icon *ngIf="f.plz.touched && f.plz.errors" style="color: red" matSuffix>close</mat-icon>
      </mat-form-field>
    </div>
    <div class="text-center" style="margin-top: 400px">
      <button
        mat-stroked-button
        class="custom-button-384"
        (click)="arrangeAppointment()"
      >
        Nach Terminen suchen
      </button>
    </div>
  </div>
</div>
</form>
