<div class="p-2">
  <h1>Arbeitsgruppe neu</h1>

  <form [formGroup]="groupForm" class="w-100 d-inline">
    <mat-form-field class="w-100 mt-4">
      <mat-label>Arbeitsgruppenname</mat-label>
      <input formControlName="name" autocomplete="off" matInput>
    </mat-form-field>
  </form>

  <mat-accordion class="position-relative">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar pink">
            <div class="round">
              <mat-icon>group</mat-icon>
            </div>
            <div>Arbeitsgruppen-Administrator</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-wrap expansion-panel-container">
        <button
          type="button"
          mat-stroked-button
          class="select-button"
          *ngFor="let admin of admins"
          [ngClass]="{'primary': selectedAdmin.includes(admin.id)}"
          (click)="selectAdmin(admin.id)">
          {{admin.firstName}} {{admin.lastName}}
        </button>
      </div>
    </mat-expansion-panel>
    <button (click)="showAddAdminPopup()" *ngIf="!isAddAdminPopup" mat-stroked-button class="add-button"><mat-icon>add</mat-icon></button>
    <form [formGroup]="userForm" class="add-admin-popup" *ngIf="isAddAdminPopup">
      <div class="position-relative">
        <div class="d-flex avatar pink">
          <div class="round">
            <mat-icon>group</mat-icon>
          </div>
          <div class="text-white">Neu</div>
        </div>
        <button (click)="showAddAdminPopup()" *ngIf="isAddAdminPopup" mat-stroked-button class="add-button white-pink"><mat-icon>add</mat-icon></button>
      </div>
      <mat-form-field class="w-100 mt-4 input-pink">
        <mat-label>Vorname</mat-label>
        <input formControlName="firstName" autocomplete="off" matInput>
        <mat-error *ngIf="userForm.get('firstName').hasError('required')">This field is required</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 input-pink">
        <mat-label>Nachname</mat-label>
        <input formControlName="lastName" autocomplete="off" matInput>
        <mat-error *ngIf="userForm.get('lastName').hasError('required')">This field is required</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 input-pink">
        <mat-label>E-Mail-Adresse</mat-label>
        <input formControlName="email" autocomplete="off" matInput>
        <mat-error *ngIf="userForm.get('email').hasError('required')">This field is required</mat-error>
        <mat-icon *ngIf="uf.email.touched && !uf.email.errors" style="color: greenyellow" matSuffix>done</mat-icon>
        <mat-icon *ngIf="uf.email.touched && uf.email.errors" style="color: red" matSuffix>close</mat-icon>
      </mat-form-field>
      <mat-form-field class="w-100 input-pink">
        <mat-label>Passwort</mat-label>
        <input formControlName="password" autocomplete="off" matInput>
        <mat-error *ngIf="userForm.get('password').hasError('required')">This field is required</mat-error>
      </mat-form-field>
      <button type="button" mat-stroked-button class="custom-button" (click)="generatePassword()">Generate Password</button>
    </form>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar green">
            <div class="round">
              <mat-icon>calendar_today</mat-icon>
            </div>
            <div>Kalenderressourcen</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-wrap expansion-panel-container">
        <button
          type="button"
          mat-stroked-button
          class="select-button"
          *ngFor="let calendar of calendars"
          [ngClass]="{'primary': selectedCalendar===calendar.id}"
          (click)="selectCalendar(calendar.id)">
          {{calendar.name}} <br> {{calendar.range}}
        </button>
      </div>
    </mat-expansion-panel>
<!--    <mat-expansion-panel hideToggle>-->
<!--      <mat-expansion-panel-header>-->
<!--        <mat-panel-title>-->
<!--          <div class="d-flex avatar pink">-->
<!--            <div class="round">-->
<!--              <mat-icon>group</mat-icon>-->
<!--            </div>-->
<!--            <div>Agentur</div>-->
<!--          </div>-->
<!--        </mat-panel-title>-->
<!--      </mat-expansion-panel-header>-->
<!--      <div class="d-flex flex-wrap expansion-panel-container">-->
<!--        <button-->
<!--          type="button"-->
<!--          mat-stroked-button-->
<!--          class="select-button"-->
<!--          *ngFor="let agency of allAgency"-->
<!--          [ngClass]="{'primary': selectedAgency===agency.id}"-->
<!--          (click)="selectAgency(agency.id)">-->
<!--          {{agency.name}}-->
<!--        </button>-->
<!--      </div>-->
<!--    </mat-expansion-panel>-->
    <mat-expansion-panel hideToggle disabled>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar yellow justify-content-between">
            <div class="d-flex align-items-center">
              <div class="round">
                <mat-icon>stop_circle</mat-icon>
              </div>
              <div>Aktiv</div>
            </div>
            <form [formGroup]="groupForm" class="d-flex">
              <mat-slide-toggle [disabled]="currentUser.role !== 'Superadmin'" formControlName="isActive"></mat-slide-toggle>
            </form>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="d-flex flex-column mt-4">

  </div>

  <div class="d-flex justify-content-end">
    <button class="custom-button" mat-stroked-button (click)="close()">Abbrechen</button>
    <button class="custom-button primary primary-button" mat-stroked-button (click)="onSubmit()">Neue Arbeitsgruppe anlegen</button>
  </div>
</div>
