<form [formGroup]="groupForm" class="p-2">
  <h1>Arbeitsgruppe neu</h1>

  <mat-form-field class="w-100 mt-4">
    <mat-label>Arbeitsgruppenname</mat-label>
    <input formControlName="name" autocomplete="off" matInput>
  </mat-form-field>

  <mat-accordion class="position-relative">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar pink">
            <div class="round">
              <mat-icon>group</mat-icon>
            </div>
            <div>Arbeitsgruppen-Administrator</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-wrap expansion-panel-container">
        <button
          type="button"
          mat-stroked-button
          *ngFor="let admin of admins"
          [ngClass]="{'primary': selectedAdmin.includes(admin.id)}"
          (click)="selectAdmin(admin.id)">
          {{admin.firstName}} {{admin.lastName}}
        </button>
      </div>
    </mat-expansion-panel>
    <button (click)="showAddAdminPopup($event)" *ngIf="!isAddAdminPopup" mat-stroked-button class="add-button"><mat-icon>add</mat-icon></button>
    <div class="add-admin-popup" *ngIf="isAddAdminPopup">
      <div class="position-relative">
        <div class="d-flex avatar pink">
          <div class="round">
            <mat-icon>group</mat-icon>
          </div>
          <div class="text-white">Neu</div>
        </div>
        <button (click)="showAddAdminPopup($event)" *ngIf="isAddAdminPopup" mat-stroked-button class="add-button white-pink"><mat-icon>add</mat-icon></button>
      </div>
      <mat-form-field class="w-100 mt-4 input-pink">
        <mat-label>Vor- und Nachname</mat-label>
        <input autocomplete="off" matInput>
      </mat-form-field>
      <mat-form-field class="w-100 mt-2 input-pink">
        <mat-label>E-Mail-Adresse</mat-label>
        <input autocomplete="off" matInput>
      </mat-form-field>
    </div>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar green">
            <div class="round">
              <mat-icon>calendar_today</mat-icon>
            </div>
            <div>Kalenderressourcen</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-wrap expansion-panel-container">
        <button
          type="button"
          mat-stroked-button
          *ngFor="let calendar of calendars"
          [ngClass]="{'primary': selectedCalendar===calendar.id}"
          (click)="selectCalendar(calendar.id)">
          {{calendar.name}} <br> {{calendar.range}}
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar pink">
            <div class="round">
              <mat-icon>group</mat-icon>
            </div>
            <div>Agentur</div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex flex-wrap expansion-panel-container">
        <button
          type="button"
          mat-stroked-button
          *ngFor="let agency of allAgency"
          [ngClass]="{'primary': selectedAgency===agency.id}"
          (click)="selectAgency(agency.id)">
          {{agency.name}}
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle disabled>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex avatar yellow justify-content-between">
            <div class="d-flex align-items-center">
              <div class="round">
                <mat-icon>stop_circle</mat-icon>
              </div>
              <div>Aktiv</div>
            </div>
            <div class="d-flex">
              <mat-slide-toggle formControlName="isActive"></mat-slide-toggle>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="d-flex flex-column mt-4">

  </div>

  <div class="d-flex justify-content-end">
    <button class="custom-button" mat-stroked-button (click)="close()">Abbrechen</button>
    <button class="custom-button primary primary-button" mat-stroked-button (click)="onSubmit()">Neue Arbeitsgruppe anlegen</button>
  </div>
</form>
