h1 {
  font-size: 36px;
}

.custom-button {
  padding-left: 30px;
  padding-right: 30px;
}

.add-button {
  position: absolute;
  left: calc(100% + 2px);
  top: 80px;
  transform: translateY(-50%);
}

mat-expansion-panel {
  overflow: visible;
}

.add-admin-popup {
  width: 300px;
  height: auto;
  background-color: var(--primary-color);
  position: absolute;
  left: calc(100% + 32px);
  top: 40px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.white-pink {
  background-color: #F389CC;
  color: white;
  top: 30px;
  left: calc(100% - 16px);
}
