<form [formGroup]="patientForm" class="p-2">
  <h1>Patient <span style="font-weight: 100">neu</span></h1>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="mt-4">
        <mat-label>E-Mail-Adresse</mat-label>
        <input formControlName="email" autocomplete="off" matInput>
        <mat-icon *ngIf="f.email.touched && !f.email.errors" style="color: greenyellow" matSuffix>done</mat-icon>
        <mat-icon *ngIf="f.email.touched && f.email.errors" style="color: red" matSuffix>close</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="mt-4">
        <mat-label>Handynummer</mat-label>
        <input type="text" formControlName="phoneNumber" autocomplete="off" matInput>
        <mat-icon *ngIf="f.phoneNumber.touched && !f.phoneNumber.errors" style="color: greenyellow" matSuffix>done
        </mat-icon>
        <mat-icon *ngIf="f.phoneNumber.touched && f.phoneNumber.errors" style="color: red" matSuffix>close</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="mt-4">
        <mat-label>Passwort</mat-label>
        <input formControlName="password" autocomplete="off" matInput>
      </mat-form-field>
    </div>
    <div class="col-md-6 d-flex">
      <mat-form-field class="mt-4">
        <mat-label>Passwort</mat-label>
        <input formControlName="confirmPassword" autocomplete="off" matInput>
        <mat-error *ngIf="f.confirmPassword.errors?.mustMatch">Password must match.</mat-error>
      </mat-form-field>
      <button type="button" class="custom-button mt-2" style="width: 190px;" mat-stroked-button
              (click)="generatePassword()">Generieren
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mt-4">
        <mat-label>Anrede</mat-label>
        <!--        <input formControlName="salutation" autocomplete="off" matInput>-->
        <mat-select formControlName="salutation">
          <mat-option value="Herr">Herr</mat-option>
          <mat-option value="Frau">Frau</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mt-4">
        <mat-label>Vorname</mat-label>
        <input formControlName="firstName" autocomplete="off" matInput>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mt-4">
        <mat-label>Nachname</mat-label>
        <input formControlName="lastName" autocomplete="off" matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mt-4">
        <mat-label>Straße Hausnummer</mat-label>
        <input formControlName="street" autocomplete="off" matInput>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mt-4">
        <mat-label>PLZ</mat-label>
        <input formControlName="plz" type="number" autocomplete="off" matInput (keyup)="checkPostalCode('plz')">
        <mat-icon *ngIf="f.plz.touched && !f.plz.errors" style="color: greenyellow" matSuffix>done</mat-icon>
        <mat-icon *ngIf="f.plz.touched && f.plz.errors" style="color: red" matSuffix>close</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mt-4">
        <mat-label>Ort</mat-label>
        <input formControlName="ort" autocomplete="off" matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="mt-4">
        <mat-label>Alter</mat-label>
        <input formControlName="age" autocomplete="off" type="number" matInput>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="mt-4">
        <mat-label>Geschlecht</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="Female">Weiblich</mat-option>
          <mat-option value="Male">Männlich</mat-option>
          <mat-option value="Divers">Divers</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-3">
      <div class="d-flex" (click)="changeCheckboxValue('differentPlace')">
        <div class="d-flex align-items-center">
          <div class="checkbox-container">
            <div *ngIf="f.differentPlace.value" class="check-mark"></div>
          </div>
          <span>Abweichender Abnahmeort</span>
        </div>
      </div>
      <mat-checkbox *ngIf="false" formControlName="differentPlace">Abweichender Abnahmeort</mat-checkbox>
    </div>
    <div class="col-md-3">
      <div class="d-flex" (click)="changeCheckboxValue('customerStore')">
        <div class="d-flex align-items-center">
          <div class="checkbox-container">
            <div *ngIf="f.customerStore.value" class="check-mark"></div>
          </div>
          <span class="checkbox-label">Kunde hinterlegt Zahlungsmittel</span>
        </div>
      </div>
      <mat-checkbox *ngIf="false" formControlName="customerStore">Kunde hinterlegt Zahlungsmittel</mat-checkbox>
    </div>
    <div class="col-md-3">
      <div class="d-flex" (click)="changeCheckboxValue('alternative')">
        <div class="d-flex align-items-center">
          <div class="checkbox-container">
            <div *ngIf="f.alternative.value" class="check-mark"></div>
          </div>
          <span>Alternatives Zahlungsmittel</span>
        </div>
      </div>
      <mat-checkbox *ngIf="false" formControlName="alternative">Alternatives Zahlungsmittel</mat-checkbox>
    </div>
    <div class="col-md-3">
      <div class="d-flex" (click)="changeCheckboxValue('sendSMS')">
        <div class="d-flex align-items-center">
          <div class="checkbox-container">
            <div *ngIf="f.sendSMS.value" class="check-mark"></div>
          </div>
          <span>Code via SMS senden</span>
        </div>
      </div>
      <mat-checkbox *ngIf="false" formControlName="sendSMS">Code via SMS senden</mat-checkbox>
    </div>
  </div>
  <div [ngClass]="{'justify-content-end mt-5': !f.differentPlace.value, 'justify-content-between mt-3': f.differentPlace.value}" class=" d-flex" >
    <div *ngIf="f.differentPlace.value" style="width: 210px;">
      <mat-form-field class="">
        <mat-label>Straße</mat-label>
        <input autocomplete="off" type="text" matInput formControlName="otherStreet">
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>PLZ</mat-label>
        <input autocomplete="off" type="number" matInput formControlName="otherPostalCode" (keyup)="checkPostalCode('otherPostalCode')">
        <mat-icon *ngIf="f.otherPostalCode.touched && !f.otherPostalCode.errors" style="color: greenyellow" matSuffix>done</mat-icon>
        <mat-icon *ngIf="f.otherPostalCode.touched && f.otherPostalCode.errors" style="color: red" matSuffix>close</mat-icon>
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>Ort</mat-label>
        <input autocomplete="off" type="text" matInput formControlName="otherCity">
      </mat-form-field>
    </div>
    <div class="d-flex align-items-end justify-content-end">
      <button class="custom-button mr-3" mat-stroked-button (click)="close()">
        Abbrechen
      </button>
      <button class="custom-button primary primary-button" mat-stroked-button (click)="createPatient()">
        Neuen Patienten anlegen
      </button>
    </div>
  </div>
</form>
