<form [formGroup]="patientForm" class="p-2">
  <h1>Patient <span style="font-weight: 100">neu</span></h1>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="mt-4">
        <mat-label>E-Mail-Adresse</mat-label>
        <input formControlName="email" autocomplete="off" matInput>
        <mat-icon *ngIf="f.email.touched && !f.email.errors?.email" style="color: greenyellow" matSuffix>done</mat-icon>
        <mat-icon *ngIf="f.email.touched && f.email.errors?.email" style="color: red" matSuffix>close</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="mt-4">
        <mat-label>Handynummer</mat-label>
        <input type="text" formControlName="phoneNumber" autocomplete="off" matInput>
        <mat-icon *ngIf="f.phoneNumber.touched && !f.phoneNumber.errors?.pattern" style="color: greenyellow" matSuffix>done</mat-icon>
        <mat-icon *ngIf="f.phoneNumber.touched && f.phoneNumber.errors?.pattern" style="color: red" matSuffix>close</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="mt-4">
        <mat-label>Passwort</mat-label>
        <input formControlName="password" autocomplete="off" matInput>
      </mat-form-field>
    </div>
    <div class="col-md-6 d-flex">
      <mat-form-field class="mt-4">
        <mat-label>Passwort</mat-label>
        <input formControlName="confirmPassword" autocomplete="off" matInput>
        <mat-error *ngIf="f.confirmPassword.errors?.mustMatch">Password must match.</mat-error>
      </mat-form-field>
      <button type="button" class="custom-button mt-2" style="width: 190px;" mat-stroked-button (click)="generatePassword()">Generieren</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mt-4">
        <mat-label>Anrede</mat-label>
        <input formControlName="salutation" autocomplete="off" matInput>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mt-4">
        <mat-label>Vorname</mat-label>
        <input formControlName="firstName" autocomplete="off" matInput>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mt-4">
        <mat-label>Nachname</mat-label>
        <input formControlName="lastName" autocomplete="off" matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="mt-4">
        <mat-label>Straße Hausnummer</mat-label>
        <input formControlName="street" autocomplete="off" matInput>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mt-4">
        <mat-label>PLZ</mat-label>
        <input formControlName="plz" autocomplete="off" matInput>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="mt-4">
        <mat-label>Ort</mat-label>
        <input formControlName="ort" autocomplete="off" matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="mt-4">
        <mat-label>Alter</mat-label>
        <input formControlName="age" autocomplete="off" matInput>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="mt-4">
        <mat-label>Geschlecht</mat-label>
        <input formControlName="gender" autocomplete="off" matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-3">
      <mat-checkbox formControlName="differentPlace">Abweichender Abnahmeort</mat-checkbox>
    </div>
    <div class="col-md-3">
      <mat-checkbox formControlName="customerStore">Abweichender Abnahmeort</mat-checkbox>
    </div>
    <div class="col-md-3">
      <mat-checkbox formControlName="alternative">Abweichender Abnahmeort</mat-checkbox>
    </div>
    <div class="col-md-3">
      <mat-checkbox formControlName="sendSMS">Abweichender Abnahmeort</mat-checkbox>
    </div>
  </div>
  <div class="mt-5">
    <div class="d-flex align-items-center justify-content-end w-100">
      <button class="custom-button mr-3" mat-stroked-button (click)="close()">
        Abbrechen
      </button>
      <button class="custom-button primary primary-button" mat-stroked-button (click)="createPatient()">
        Neuen Patienten anlegen
      </button>
    </div>
  </div>
</form>
