<form [formGroup]="PatientCallForm">
  <div class="left-side-container">
    <button mat-icon-button class="close" (click)="close()">
      <mat-icon>clear</mat-icon>
    </button>
    <div class="main-div">
      <h1>Patienten <span style="font-weight: 100"> rückruf</span></h1>
      <div class="mt-47">
        <button
          class="call-button"
        >
          <mat-icon>phone</mat-icon>
        </button>
        <p style="margin: 22px auto!important;text-align: center">
          {{callbackData.firstName}} {{callbackData.lastName}}<br/> {{callbackData.phoneNumber}}
        </p>
        <div class="select-form">
          <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="time">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker>
            </ngx-mat-datetime-picker>
          </mat-form-field>
        </div>
        <div class="textarea-form">
          <mat-form-field
            appearance="fill"
            class="mt-20"
            style="width: 100%"
          >
            <mat-label></mat-label>
            <textarea
              matInput
              formControlName="message"
              placeholder=""
              rows="5"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="mt-15">
          <mat-checkbox
            class="example-margin"
            formControlName="patient"
          >
            Patienten nicht erreicht
          </mat-checkbox>
        </div>
        <div style="margin-top: 100px;text-align: center">
          <button
            mat-stroked-button
            class="custom-button primary"
            (click)="submit()"
          >
            Speichern
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
