<div class="tablet-left-container">
  <button mat-icon-button class="close" (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
  <div class="main-div">
    <h1>
      Anamnese
    </h1>
    <p class="p-272140-tablet mt-47">
      Sebastian Naumann<br/>
      <span class="p-14">
        Männlich, 39 Jahre, 1,83 m, 95 kg
      </span>
    </p>
    <p class="p-14 mt-24">
      Rauchen Sie?
      <br/>
      Nein
    </p>
    <p class="p-14 mt-24">
      Trinken Sie täglich Alkohol?<br/>
      Nein
    </p>
    <p class="p-14 mt-24">
      Nehmen Sie regelmäßig Medikamente ein?<br/>
      Ja<br/>
      Gegen Diabetes
    </p>
    <p class="p-14 mt-24">
      Sind bei Ihnen relevante Vorerkrankungen bekannt?<br/>
      Nein
    </p>
    <p class="p-14 mt-24">
      Wollen Sie uns noch zusätzliche Informationen<br/> zukommen lassen?<br/>
      Nein
    </p>
  </div>
</div>

