.tablet-left-container {
  width: 295px;
  height: 100vh;
  background-color: #E1EAF1;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000!important;
  .main-div {
    margin-top: 115px;
    margin-left: 38px;
    h1 {
      font-size: 30px;
      color: #384C61
    }
    p {
      color: #272140;
      font-size: 16px;
    }
  }
}
.close {
  position: absolute;
  top: 48px;
  right: 33px;
}
