<div class="tablet-left-container">
  <button mat-icon-button class="close" (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
  <div class="main-div">
    <h1>
      Historie
    </h1>
    <div class="mt-47">
      <div class="left-border-div">
      <p class="p-16 ml-20">{{getTimeDuration(appointmentData?.startTime, appointmentData?.duration)}}</p>
      <p class="p-576E82">Check-up: <span>{{appointmentData?.packageName}}</span></p>
        <p class="p-14 ml-20" *ngIf="!appointmentData?.differentPlace">{{appointmentData?.addressStreet}} {{appointmentData?.addressPlz}}, {{appointmentData?.addressOrt}}</p>
        <p class="p-14 ml-20" *ngIf="appointmentData?.differentPlace">{{appointmentData?.otherStreet}} {{appointmentData?.otherPostalCode}}, {{appointmentData?.otherCity}}</p>
      <div *ngFor="let history of historyData">
        <div class="d-flex mt-24">
          <mat-icon class="dot">lens</mat-icon>
          <div class="d-block ml-20">
            <p class="p-16">{{formatTime(history.createdAt)}}</p>
            <p class="p-14">{{history.type}}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
