.tablet-left-container {
  width: 288px;
  height: 100vh;
  background-color: #E1EAF1;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000!important;
  .main-div {
    margin-top: 95px;
    margin-left: 30px;
    h1 {
      font-size: 30px;
      color: #384C61
    }
    .p-16 {
      color: #272140;
      font-size: 16px;
    }
    .p-14 {
      color: #272140;
      font-size: 14px;
    }
  }
}
.close {
  position: absolute;
  top: 48px;
  right: 33px;
}
.dot {
  width: 10px;
  height: 10px;
  font-size: 10px;
  margin-left: -6px;
  color: var(--primary-color);
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background:none!important;
}
