table td {
  padding-right: 0;
}

::ng-deep .mat-sort-header-arrow[style] {

  // Hide default arrow stem
  .mat-sort-header-stem {
    display: none;
  }
  .mat-sort-header-indicator {
    opacity: 1;
    color: black;
    font-weight: bold;

    // Hide default arrow as its composed of left, right and middle
    .mat-sort-header-pointer-left, .mat-sort-header-pointer-right, .mat-sort-header-pointer-middle  {
      display: none;
    }
  }
}

.warning-status {
  background-color: #E87C60;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-status {
  background-color: #89DF8C;
}

.warning-status, .success-status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

