<h3 class="header-title">Dashboard</h3>
<div class="main-container mt-5 d-none d-md-block">
  <div class="table-toolbar">
    <div>
      <button
        type="button"
        class="custom-button-pink"
        [routerLink]="'/doctor/dashboard/patient-inquiry'"
        mat-stroked-button
        *ngIf="currentUser.role === 'Doctor'"
      >Patientenrückfragen</button>
      <button
        type="button"
        class="custom-button-green"
        [routerLink]="'/doctor/dashboard/anamnes-release'"
        mat-stroked-button
        *ngIf="currentUser.role === 'Doctor'"
      >Anamnesefreigaben</button>
      <button
        type="button"
        class="custom-button-light-green"
        [routerLink]="'/doctor/dashboard/event'"
        mat-stroked-button
        *ngIf="currentUser.role === 'Doctor'"
      >Termine</button>
    </div>
    <div class="search-field-container">
      <input type="text" placeholder="Suchen ..." [(ngModel)]="filterValue" (ngModelChange)="filter()">
      <mat-icon>search</mat-icon>
    </div>
  </div>
  <div class="table-container mt-54">
    <mat-card class="table-card mat-card-radius" style="position: relative">
      <div>
        <table mat-table [dataSource]="activeCallbackDataSource" matSort (matSortChange)="onInquirySort($event)">
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{currentPage * pageSize + i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="patientName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Patientenname
              <app-order-icon columnName="patientName" [orderStatus]="orderStatusA"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.patientFirstName}} {{element.patientLastName}} </td>
          </ng-container>

          <ng-container matColumnDef="appointmentDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Termindatum
              <app-order-icon columnName="appointmentDate" [orderStatus]="orderStatusA"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element" class="t-width"> {{getTimeDuration(element.startTime, element.duration)}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Status
              <app-order-icon columnName="status" [orderStatus]="orderStatusA"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element" class="t-width">
              <span *ngIf="conditionEditing(element, 1) === -1">
                {{'Anfrage offen'}}
              </span>
              <span *ngIf="conditionEditing(element, 1) >= 0" class="spec-text">
                <img src="/assets/images/info_icon.svg" alt="info" class="mr-10" style="margin-left: -10px">
                {{"In Bearbeitung durch Dr. Med. "}}
                {{editingAppointment[conditionEditing(element, 1)].doctorFirstName}}
                {{editingAppointment[conditionEditing(element, 1)].doctorLastName}}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Anfrage bearbeiten </th>
            <td mat-cell *matCellDef="let element" style="text-align: center">
              <button *ngIf="conditionEditing(element, 1) === -1" mat-icon-button aria-label="more" (click)="openAnswer(element.id)">
                <img src="/assets/images/chat_icon.svg" alt="edit">
              </button>
              <button *ngIf="conditionEditing(element, 1) > -1" mat-icon-button aria-label="more" (click)="searchItem()">
                <mat-icon>search</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <button
        type="button"
        class="custom-doctor-button pink-b-0"
        mat-stroked-button
      >
        <span>Patientenrückfragen</span>
      </button>
    </mat-card>
  </div>
  <div class="table-container mt-30">
    <mat-card class="table-card mat-card-radius" style="position: relative">
      <div>
        <table mat-table [dataSource]="anamnesisDataSource" matSort (matSortChange)="onAnamsSort($event)">
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{currentPage * pageSize + i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="patientName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Patientenname
              <app-order-icon columnName="patientName" [orderStatus]="orderStatusB"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.patientFirstName}} {{element.patientLastName}} </td>
          </ng-container>

          <ng-container matColumnDef="appointmentDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Termindatum
              <app-order-icon columnName="appointmentDate" [orderStatus]="orderStatusB"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element" class="t-width"> {{getTimeDuration(element.startTime, element.duration)}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Status
              <app-order-icon columnName="status" [orderStatus]="orderStatusB"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element" class="t-width">
              <span *ngIf="conditionEditing(element, 2) === -1">
                {{'Anfrage offen'}}
              </span>
              <span *ngIf="conditionEditing(element, 2) > -1" class="spec-text">
                <img src="/assets/images/info_icon.svg" alt="info" class="mr-10" style="margin-left: -10px">
                {{"In Bearbeitung durch Dr. Med. "}}
                {{editingAppointment[conditionEditing(element, 2)].doctorFirstName}}
                {{editingAppointment[conditionEditing(element, 2)].doctorLastName}}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Anamnesebogen prüfen </th>
            <td mat-cell *matCellDef="let element" style="text-align: center">
              <button *ngIf="conditionEditing(element, 2) === -1" mat-icon-button aria-label="more" (click)="checkAnamnes(element.id)">
                <img src="/assets/images/edit.svg" alt="edit">
              </button>
              <button mat-icon-button aria-label="more" (click)="anamnesView()"  *ngIf="conditionEditing(element, 2) > -1">
                <mat-icon>search</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsA"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsA;"></tr>
        </table>
      </div>
      <button
        type="button"
        class="custom-doctor-button blue-b-0"
        mat-stroked-button
      >
        <span>Anamnesefreigaben</span>
      </button>
    </mat-card>
  </div>
  <div class="table-container mt-30 mb-201">
    <mat-card class="table-card mat-card-radius" style="position: relative">
      <div>
        <table mat-table [dataSource]="dataSourceE" matSort (matSortChange)="onEventSort($event)">
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{currentPage * pageSize + i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Datum
              <app-order-icon columnName="date" [orderStatus]="orderStatusC"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{getDate(element.startTime)}} </td>
          </ng-container>

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Uhrzeit
              <app-order-icon columnName="time" [orderStatus]="orderStatusC"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{getTime(element.startTime)}} </td>
          </ng-container>

          <ng-container matColumnDef="package">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Paket
              <app-order-icon columnName="package" [orderStatus]="orderStatusC"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.packageName}} </td>
          </ng-container>

          <ng-container matColumnDef="appointmentLocation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Terminort
              <app-order-icon columnName="appointmentLocation" [orderStatus]="orderStatusC"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.addressPlz}} {{element.addressOrt}} </td>
          </ng-container>

          <ng-container matColumnDef="doctorLast">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Arzt zuletzt
              <app-order-icon columnName="doctorLast" [orderStatus]="orderStatusC"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              Dr. med. {{element.doctors[0].firstName}}
              {{element.doctors[0].lastName}}
              <span *ngIf="element.doctors.length > 1">(+{{element.doctors.length - 1}})</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Status
              <app-order-icon columnName="status" [orderStatus]="orderStatusC"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.id !== 1">
                {{status[element.adminStatus]}}
              </span>
              <span *ngIf="element.id === 1" class="spec-text">
                <img src="/assets/images/info_icon.svg" alt="info" class="mr-10" style="margin-left: -10px">
                {{"In Bearbeitung durch Dr. Med. Jessica Johns"}}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Aktionen </th>
            <td mat-cell *matCellDef="let element" style="text-align: center">
              <button mat-icon-button aria-label="more" (click)="viewAppointment(element.id)">
                <mat-icon>search</mat-icon>
              </button>
              <!--<button mat-icon-button aria-label="more" (click)="editItem(element.id)" *ngIf="element.id === 2">
                <img src="/assets/images/edit.svg" alt="edit">
              </button>-->
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsE"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsE;"></tr>
        </table>
      </div>
      <button
        type="button"
        class="custom-doctor-button green-b-0"
        mat-stroked-button
      >
        <span>Termine</span>
      </button>
    </mat-card>
  </div>
</div>
<!--<div class="main-container mt-5 d-block d-md-none">
  <div class="table-toolbar flex-column">
    <div class="row">
      <div class="col-8">
        <button
          class="custom-button-pink w-100"
          [routerLink]="'/doctor/dashboard/patient-inquiry'"
          mat-stroked-button
          *ngIf="currentUser.role === 'Doctor'"
        >Patientenrückfragen</button>
      </div>
      <div class="col-4 px-0">
        <button
          class="custom-button-light-green w-100"
          [routerLink]="'/doctor/dashboard/event'"
          mat-stroked-button
          *ngIf="currentUser.role === 'Doctor'"
        >Termine</button>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-8">
        <button
          class="custom-button-green w-100"
          [routerLink]="'/doctor/dashboard/anamnes-release'"
          mat-stroked-button
          *ngIf="currentUser.role === 'Doctor'"
        >Anamnesefreigaben</button>
      </div>
      <div class="col-4 px-0">
        <div class="search-field-container" (click)="openSearchDialog()">
          <input type="text" placeholder="   ..." [(ngModel)]="filterValue" (ngModelChange)="filter()">
          <mat-icon>search</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="table-container mt-54">
      <div style="margin-left: -30px; margin-right: -30px;border-top: 4px solid #F389CC;position: relative;">
        <div style="height: 50px; width: 100%; background: #384C61;position:absolute;top: 115px;display: flex;align-items: center;color:#fff;">
          <button mat-icon-button aria-label="more"  class="mx-2">
            <img src="/assets/images/chat.svg" alt="edit">
          </button>
          Patientenrückfrage bearbeiten
        </div>
        <table mat-table [dataSource]="activeCallbackDataSource" matSort (matSortChange)="onSort($event)">
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{currentPage * pageSize + i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="patientName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Patientenname
              <app-order-icon columnName="patientName" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.patientFirstName}} {{element.patientLastName}} </td>
          </ng-container>

          <ng-container matColumnDef="appointmentDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Datum
              <app-order-icon columnName="appointmentDate" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element" class="t-width"> {{getTimeDuration(element.startTime, element.duration)}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Status
              <app-order-icon columnName="status" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element" class="t-width">
              <span>
                {{'Anfrage offen'}}
              </span>
             &lt;!&ndash; <span *ngIf="element.id === 1" class="spec-text">
                {{"In Bearbeitung durch Dr. Med. Jessica Johns"}}
              </span>&ndash;&gt;
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Anfrage bearbeiten </th>
            <td mat-cell *matCellDef="let element" style="text-align: center">
              <button mat-icon-button aria-label="more" (click)="openAnswer(element.id)">
                <img src="/assets/images/chat_icon.svg" alt="edit">
              </button>
             &lt;!&ndash; <button mat-icon-button aria-label="more" (click)="searchItem()" *ngIf="element.id === 1">
                <mat-icon>search</mat-icon>
              </button>&ndash;&gt;
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns.slice(0, displayedColumns.length - 1)"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns.slice(0, displayedColumns.length - 1);"></tr>
        </table>
      </div>
  </div>
  <div class="table-container mt-30">
    <div style="margin-left: -30px; margin-right: -30px;border-top: 4px solid #50E3C2;position:relative;">
&lt;!&ndash;      <div style="height: 50px; width: 100%; background: #384C61;position:absolute;top: 115px;display: flex;align-items: center;color: #fff;" (click)="checkAnamnes()">&ndash;&gt;
      <div style="height: 50px; width: 100%; background: #384C61;position:absolute;top: 115px;display: flex;align-items: center;color: #fff;">
        <button mat-icon-button aria-label="more" class="mx-2">
          <img src="/assets/images/edit_icon.svg" alt="edit">
        </button>
        Amnamnesebogen prüfen
      </div>
      <table mat-table [dataSource]="anamnesisDataSource" matSort (matSortChange)="onSort($event)">
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> # </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{currentPage * pageSize + i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="patientName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Patientenname
            <app-order-icon columnName="patientName" [orderStatus]="orderStatus"></app-order-icon>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.patientName}} </td>
        </ng-container>

        <ng-container matColumnDef="appointmentDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Datum
            <app-order-icon columnName="appointmentDate" [orderStatus]="orderStatus"></app-order-icon>
          </th>
          <td mat-cell *matCellDef="let element" class="t-width"> {{element.appointmentDate}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Status
            <app-order-icon columnName="status" [orderStatus]="orderStatus"></app-order-icon>
          </th>
          <td mat-cell *matCellDef="let element" class="t-width">
            <span *ngIf="element.id !== 1">
              {{element.status}}
            </span>
            <span *ngIf="element.id === 1" class="spec-text">
              {{"In Bearbeitung durch Dr. Med. Marius Wilhelm"}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef style="text-align: center"> Anamnesebogen prüfen </th>
          <td mat-cell *matCellDef="let element" style="text-align: center">
            <button mat-icon-button aria-label="more" (click)="checkAnamnes(element.id)">
              <img src="/assets/images/edit.svg" alt="edit">
            </button>
           &lt;!&ndash; <button mat-icon-button aria-label="more" (click)="anamnesView()" *ngIf="element.id === 1">
              <mat-icon>search</mat-icon>
            </button>&ndash;&gt;
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns.slice(0, displayedColumns.length - 1)"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns.slice(0, displayedColumns.length - 1);"></tr>
      </table>
    </div>
  </div>
  <div class="table-container mt-30 mb-201">
    <div style="margin-left: -30px; margin-right: -30px;border-top: 4px solid #89DF8C;position:relative;">
      <div style="height: 65px; width: 100%; background: #384C61;position:absolute;top: 115px;display: flex;align-items: center;color: #fff;">
        <button mat-icon-button aria-label="more" class="mx-2">
          <mat-icon>search</mat-icon>
        </button>
        Termindetails ansehen
      </div>
      <table mat-table [dataSource]="dataSourceE" matSort (matSortChange)="onSort($event)">
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{currentPage * pageSize + i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Datum
              <app-order-icon columnName="date" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Uhrzeit
              <app-order-icon columnName="time" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.time}} </td>
          </ng-container>

          <ng-container matColumnDef="package">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Paket
              <app-order-icon columnName="package" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element" style="max-width: 50px; overflow: hidden;"> {{element.package}} </td>
          </ng-container>

          <ng-container matColumnDef="appointmentLocation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Terminort
              <app-order-icon columnName="appointmentLocation" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.appointmentLocation}} </td>
          </ng-container>

          <ng-container matColumnDef="doctorLast">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Arzt
              <app-order-icon columnName="doctorLast" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.doctorLast}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Status
              <app-order-icon columnName="status" [orderStatus]="orderStatus"></app-order-icon>
            </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.id !== 1">
                {{element.status}}
              </span>
              <span *ngIf="element.id === 1" class="spec-text">
                {{"In Bearbeitung durch Dr. Med. Jessica Johns"}}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Aktionen </th>
            <td mat-cell *matCellDef="let element" style="text-align: center">
              <button mat-icon-button aria-label="more" (click)="viewAppointment(element.id)">
                <mat-icon>search</mat-icon>
              </button>
              &lt;!&ndash;<button mat-icon-button aria-label="more" (click)="editItem(element.id)" *ngIf="element.id === 2">
                <img src="/assets/images/edit.svg" alt="edit">
              </button>&ndash;&gt;
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['no', 'date', 'package', 'doctorLast', 'status']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['no', 'date', 'package', 'doctorLast', 'status'];"></tr>
        </table>
    </div>
  </div>
</div>-->
