table td {
  padding-right: 0;
}
.custom-button-pink {
  background-color: #F389CC;
  border-radius: 25px !important;
  height: 50px;
  font-size: 1rem;
  color: #FFFFFF;
}
.custom-button-green {
  background-color: #50E3C2;
  border-radius: 25px !important;
  height: 50px;
  font-size: 1rem;
  color: #FFFFFF;
  margin-left: 15px;
}
.custom-button-light-green {
  background-color: #89DF8C;
  border-radius: 25px !important;
  height: 50px;
  font-size: 1rem;
  color: #FFFFFF;
  margin-left: 15px;
}
.mb-201 {
  margin-bottom: 201px;
}
.spec-text {
  color: #E87C60;
  display: flex;
}
.mr-10 {
  margin-right: 10px;
}
.custom-doctor-button-pink {
  background-color: #F389CC;
  border-radius: 18px !important;
  height: 60px;
  font-size: 1rem;
  padding-left: 20px;
  color: #FFFFFF;
  margin-left: -20px;
}
