<div class="d-flex justify-content-start">
  <div *ngFor="let item of data" style="margin-left: 10px; margin-right: 10px;">
    <div class="d-flex flex-column align-items-center justify-content-center item-container">
      <div class="positive-container">
        <span class="positive-label">{{item?.positive}}</span>
        <div class="positive-part" [ngStyle]="{'height.px': 100 * item?.positive / maxValue}">
        </div>
      </div>
      <span class="middle-label">{{item?.label}}</span>
      <div class="negative-container">
        <div class="negative-part" [ngStyle]="{'height.px': 100 * item?.negative / maxValue}">
        </div>
        <span class="negative-label">{{item?.negative}}</span>
      </div>

    </div>
  </div>
</div>
