<h1 style="margin-top: 9px">Anamnesebogen <span style="font-weight: 100">ansehen</span></h1>
<div class="main-modal-container">
  <div class="modal-left-div">
    <div class="des-div">
      <p class="p-272140">03.10.2020 09:00 - 10:15</p>
      <p class="p-576E82">Check-Up: Männergesundheit</p>
      <p class="p-272140">Marienstraße 4, 15387 Berlin</p>
    </div>
    <div class="option-buttons-div">
      <div class="option-button-div">
        <button
          type="button"
          class="doctor-search-button"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button
          type="button"
          class="custom-button-default ml-10"
          mat-stroked-button
        >
          Kontakthistorie ansehen
        </button>
      </div>
      <div class="option-button-div mt-14">
        <button
          type="button"
          class="doctor-search-button"
          style="background: #C7D7E3;color:#FFFFFF"
        >
          <mat-icon>phone</mat-icon>
        </button>
        <button
          type="button"
          class="custom-button-default ml-10"
          style="background: #C7D7E3;color:#FFFFFF"
          mat-stroked-button
        >
          Sebastian Naumann
        </button>
      </div>
    </div>
    <p class="p-272140">Rückrufwunsch</p>
    <p class="p-272140">28.09.2020</p>
    <p class="p-272140">Vormittags 09:00 - 12:00</p>
  </div>
  <div class="modal-right-div">
    <p style="margin-top: 56px">
      Anamnesedaten
    </p>
    <p style="margin-top: 57px">Sebastian Naumann<br/> Männlich, 39 Jahre, 1,83 m, 95 kg</p>
    <p style="margin-top: 24px">Rauchen Sie? <br/>Nein</p>
    <p style="margin-top: 24px">Trinken Sie täglich Alkohol? <br/>Nein</p>
    <p style="margin-top: 24px">Nehmen Sie regelmäßig Medikamente ein? <br/>Ja<br/> Gegen Diabetes</p>
    <p style="margin-top: 24px">Gibt es in Ihrer Familie Herzinfarkte / Schlaganfälle?<br/>Nein</p>
    <p style="margin-top: 24px">Sind bei Ihnen relevante Vorerkrankungen bekannt?<br/>Nein</p>
    <p style="margin-top: 24px">Wollen Sie uns noch zusätzliche Informationen<br/> zukommen lassen?<br/>Nein</p>
    <div class="d-flex mt-38">
      <span class="org-text d-flex">
        <img src="/assets/images/info_icon.svg" alt="info" class="mr-10">
        {{"In Bearbeitung durch Dr. Med. Jessica Johns"}}
      </span>
      <button
        class="custom-button ml-20"
        mat-stroked-button
      >
        Schließen
      </button>
    </div>
  </div>
</div>
