<form [formGroup]="appointmentForm" class="p-2">
  <div class="patient-popup-container">
    <button
      type="button"
      mat-icon-button
      class="close"
      (click)="close()"
    >
      <mat-icon>clear</mat-icon>
    </button>
    <div class="main-side-container">
      <h1 *ngIf="isTablet">Neuer <span style="font-weight: 100">Termin</span></h1>
      <div class="mt-47">
        <div class="w-100 d-flex-between">
          <div class="col-md-4">
            <mat-form-field appearance="fill" class="w-99">
              <mat-label></mat-label>
              <input formControlName="plz" autocomplete="off" matInput>
            </mat-form-field>
          </div>
          <div class="col-md-8">
            <mat-form-field appearance="fill" class="w-99">
              <mat-label></mat-label>
              <input formControlName="ort" autocomplete="off" matInput>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="mt-47">
        <div class="notify-board"
             (click)="selectBoard(packageData[0]?.id)"
             [ngStyle]="{'background': selectedBoard === packageData[0]?.id ? '#4A90E2' : '#ffffff'}"
        >
          <div class="d-flex a-center">
            <div class="n-circle" [ngStyle]="{'background': selectedBoard === packageData[0]?.id ? '#ffffff' : '#4A90E2'}">
              <img
                [src]="'/assets/images/package/white/' + (packageNames.includes(packageData[0].name) ? packageData[0].name : 'Männermedizin') + '.svg'"
                alt="male" *ngIf="selectedBoard !== packageData[0].id">
              <img
                [src]="'/assets/images/package/blue/' + (packageNames.includes(packageData[0].name) ? packageData[0].name : 'Männermedizin') + '.svg'"
                alt="male" *ngIf="selectedBoard === packageData[0].id">
            </div>
            <p style="margin-left: 15px" [ngClass]="{'p-white':selectedBoard === packageData[0]?.id}">{{packageData[0]?.name}}</p>
          </div>
          <mat-icon class="p-white">done</mat-icon>
        </div>
        <div class="mt-10 text-center" *ngIf="!isShow && packageData.length > 1">
          <button
            mat-icon-button
            (click)="moreItems()"
          >
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
        <div class="mt-15" *ngIf="isShow">
          <div class="notify-board mt-10"
               *ngFor="let item of packageData.slice(1)"
               (click)="selectBoard(item.id)"
               [ngStyle]="{'background': selectedBoard === item.id ? '#4A90E2' : '#ffffff'}"
          >
            <div class="d-flex a-center">
              <div class="n-circle" [ngStyle]="{'background': selectedBoard === item.id ? '#ffffff' : '#4A90E2'}">
                <img
                  [src]="'/assets/images/package/white/' + (packageNames.includes(item.name) ? item.name : 'Männermedizin') + '.svg'"
                  alt="male" *ngIf="selectedBoard !== item.id">
                <img
                  [src]="'/assets/images/package/blue/' + (packageNames.includes(item.name) ? item.name : 'Männermedizin') + '.svg'"
                  alt="male" *ngIf="selectedBoard === item.id">
              </div>
              <p style="margin-left: 15px" [ngClass]="{'p-white':selectedBoard === item.id}">{{item.name}}</p>
            </div>
            <mat-icon class="p-0" *ngIf="selectedBoard !== item.id">more_horiz</mat-icon>
            <mat-icon class="p-white" *ngIf="selectedBoard === item.id">done</mat-icon>
          </div>
          <div class="mt-10 text-center">
            <button
              mat-icon-button
              (click)="moreItems()"
            >
              <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="detail-options">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar pink">
                  <div class="round">
                    <mat-icon>group_work</mat-icon>
                  </div>
                  <div>Zusatzpakete</div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-wrap expansion-panel-container">
              <div style="margin-left: 55px">
                <button
                  type="button"
                  mat-stroked-button
                  class="select-button"
                  *ngFor="let item of packages"
                  [ngClass]="{'primary': selectedPackage === item.id}"
                  (click)="selectPackage(item.id)">
                  {{item.name}}
                </button>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar green">
                  <div class="round">
                    <img src="/assets/images/clock_icon.svg" alt="clock">
                  </div>
                  <div>Neuen Termin auswählen</div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-wrap expansion-panel-container">
              <div class="text-center mt-4 w-100" style="margin-left: 55px">
                <app-booking-time-picker [data]="allTimes" (setSelectedTime)="selectedPTime = $event"></app-booking-time-picker>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar yellow justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="round">
                      <mat-icon>euro_symbol</mat-icon>
                    </div>
                    <div>Zahlungsmittel</div>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-wrap expansion-panel-container">
              <mat-form-field appearance="fill" style="margin-left: 55px">
                <mat-label></mat-label>
                <mat-select formControlName="payment" [disabled]="!(userInfo?.alternative && userInfo?.customerStore)">
                  <mat-option
                    [value]="payment.value"
                    *ngFor="let payment of paymentOptions"
                  >
                    {{payment.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar blue justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="round">
                      <mat-icon>lens</mat-icon>
                    </div>
                    <div>Nachricht hinzufügen</div>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-wrap expansion-panel-container">
              <mat-form-field
                appearance="outline"
                style="width: 100%;margin-left:55px"
              >
                <mat-label></mat-label>
                <textarea
                  matInput
                  formControlName="message"
                  placeholder=""
                  rows="10"
                ></textarea>
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div style="margin-top: 30px" class="text-center">
        <button
          mat-stroked-button
          class="custom-button-C7D"
          [ngClass]="{'primary': appointmentForm.valid}"
          [disabled]="appointmentForm.invalid"
          (click)="submit()"
        >
          Termin buchen
        </button>
      </div>
    </div>
  </div>
</form>
