.patient-popup-container {
  width: 495px;
  height: 100%;
  padding: 33px;
  background-color: #ffffff;
  .close {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 29px;
    right: 33px;
    mat-icon {
      width: 14px;
      height: 14px;
    }
  }
  .main-side-container {
    padding-left: 31px;
    margin-top: 82px;
  }
}
h1 {
  font-size: 36px;
}
.w-99 {
  width: 99%
}
.notify-board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  width: 100%;
  border-radius: 25px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 4px 16px #E3E8F4;
  p {
    color: #272140;
    font-size: 16px;
    align-items: center;
    margin-top: 10px;
  }
}
.n-circle {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.a-center {
  align-items: center;
}
.p-0 {
  color: #B9C8D4!important;
}
.detail-options {
  margin-top: 45px;
}
.mat-expansion-panel {
  box-shadow: none;
}
.custom-package-button {
  background-color: #C7D7E3;
  color: #ffffff;
  border-radius: 25px;
  height: 50px;
  font-size: 1rem;
}
.mt-37 {
  margin-top: 37px!important;
}
