<form [formGroup]="appointmentForm" class="p-2">
  <div class="patient-popup-container">
    <button mat-icon-button class="close" (click)="close()">
      <mat-icon>clear</mat-icon>
    </button>
    <div class="main-side-container">
      <h1>Neuer <span style="font-weight: 100">Termin</span></h1>
      <div class="mt-47">
        <div class="w-100 d-flex-between">
          <div class="col-md-4">
            <mat-form-field appearance="fill" class="w-99">
              <mat-label>10555</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-md-8">
            <mat-form-field appearance="fill" class="w-99">
              <mat-label>Ort</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="mt-47">
        <div class="notify-board" style="background: #4A90E2">
          <div class="d-flex a-center">
            <div class="n-circle" style="background: #ffffff">
              <img src="/assets/images/blue-male.svg" alt="male">
            </div>
            <p class="p-white" style="margin-left: 15px">Männermedizin</p>
          </div>
          <mat-icon class="p-white">done</mat-icon>
        </div>
        <div class="notify-board mt-15">
          <div class="d-flex a-center">
            <div class="n-circle" style="background: #F389CC">
              <img src="/assets/images/female.svg" alt="mail">
            </div>
            <p style="margin-left: 15px">Frauenmedizin</p>
          </div>
          <mat-icon class="p-0">more_horiz</mat-icon>
        </div>
        <div class="notify-board mt-15">
          <div class="d-flex a-center">
            <div class="n-circle" style="background: #E87C60">
              <mat-icon style="color: white">bug_report</mat-icon>
            </div>
            <p style="margin-left: 15px">Corona</p>
          </div>
          <mat-icon class="p-0">more_horiz</mat-icon>
        </div>
        <div class="notify-board mt-15">
          <div class="d-flex a-center">
            <div class="n-circle" style="background: #89DF8C">
              <p style="color:#ffffff">+</p>
            </div>
            <p style="margin-left: 15px">Gutes Immunsystem</p>
          </div>
          <mat-icon class="p-0">more_horiz</mat-icon>
        </div>
        <div class="notify-board mt-15">
          <div class="d-flex a-center">
            <div class="n-circle" style="background: #ffffff">
              <img src="/assets/images/fire.svg" alt="mail">
            </div>
            <p style="margin-left: 15px">Sexuelle Gesundheit</p>
          </div>
          <mat-icon class="p-0">more_horiz</mat-icon>
        </div>
      </div>
      <div class="detail-options">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar pink">
                  <div class="round">
                    <mat-icon>group_work</mat-icon>
                  </div>
                  <div>Zusatzpakete</div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-wrap expansion-panel-container">
              <div style="margin-left: 76px">
                <button
                  type="button"
                  mat-stroked-button
                  class="select-button"
                  *ngFor="let item of packages"
                  [ngClass]="{'primary': selectedPackage === item.id}"
                  (click)="selectPackage(item.id)">
                  {{item.name}}
                </button>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar green">
                  <div class="round">
                    <img src="/assets/images/clock_icon.svg" alt="clock">
                  </div>
                  <div>Neuen Termin auswählen</div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar yellow justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="round">
                      <mat-icon>euro_symbol</mat-icon>
                    </div>
                    <div>Zahlungsmittel</div>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="d-flex avatar blue justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="round">
                      <mat-icon>lens</mat-icon>
                    </div>
                    <div>Nachricht hinzufügen</div>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div style="margin-top: 66px" class="text-center">
        <button
          mat-stroked-button
          class="custom-button-C7D"
          [ngClass]="{'primary-button': isValid}"
        >
          Termin buchen
        </button>
      </div>
    </div>
  </div>
</form>
