<mat-sidenav-container (backdropClick)="sidenav.close(); rightSidenav.close()">
  <mat-sidenav
    [opened]="isOpen"
    [mode]="'over'"
    (closed)="isOpen = false"
    #sidenav
    (keydown.escape)="sidenav.close()"
    disableClose>
    <div class="side-bar">
      <button mat-icon-button (click)="sidenav.close()" class="back-button">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <ul>
        <li>Dashboard</li>
        <li>Dashboard</li>
        <li>Dashboard</li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav
    [opened]="isRightMenuOpen"
    [mode]="'over'"
    (closed)="close()"
    #rightSidenav
    (keydown.escape)="rightSidenav.close()"
    position="end"
    disableClose>
    <div class="side-bar right-sidenav" *ngIf="isProfileMenuOpen">
      <button mat-icon-button (click)="rightSidenav.close()" class="back-button">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <ul>
        <li>Profil bearbeiten</li>
        <li (click)="logout()">Logout</li>
      </ul>
    </div>
    <div style="height: fit-content; background-color: #F2F7FB;">
      <div *ngIf="isMobile">
        <div class="main-content-container">
          <div class="header">
            <div class="sub-header">
              <div>
                <button mat-icon-button>
                  <img src="assets/images/menu.svg" alt="icon">
                </button>
                <img class="logo" src="assets/images/logo_new.png" alt="logo">
              </div>
              <img class="avatar"
                   src="/assets/images/avatar.png" alt="user-avatar">
            </div>
            <h1 class="title" *ngIf="isPatientPreparedMenuOpen"><span>Patient</span> vorbereitet</h1>
            <h1 class="title" *ngIf="isAppointmentDelayMenuOpen"><span>Termin</span> Verspätung</h1>
            <h1 class="title" *ngIf="isShiftScheduleMenuOpen"><span>Termin</span> verschieben</h1>
            <h1 class="title" *ngIf="isAppointmentTakenMenuOpen"><span>Termin</span> erledigt</h1>
            <h1 class="title" *ngIf="isPatientNotThereMenuOpen"><span>Patient</span> nicht da</h1>
          </div>
        </div>
      </div>
      <!--    1-->
      <div *ngIf="isPatientPreparedMenuOpen" class="right-popup">
        <div style="padding-left: 12%;">
          <div class="text-right close-icon">
            <button mat-icon-button (click)="rightSidenav.close()" class="back-button">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div>
            <h1 style="font-size: 36px;" *ngIf="!isMobile">
              <span>Patient </span>
              <span style="font-weight: 100">vorbereitet</span>
            </h1>
            <div class="schedule">
              <div>{{selectedAppointment.patientFirstName}} {{selectedAppointment.patientLastName}}</div>
              <div *ngIf="!selectedAppointment.differentPlace">{{selectedAppointment.addressStreet}} {{selectedAppointment.addressOrt}}
                , {{selectedAppointment.addressPlz}} Berlin</div>
              <div *ngIf="selectedAppointment.differentPlace">{{selectedAppointment.otherStreet}} {{selectedAppointment.otherCity}}
                , {{selectedAppointment.otherPostalCode}} Berlin</div>
              <div>{{selectedAppointment.packageName}}</div>
              <div>{{getTimeString(selectedAppointment.startTime, 'DD.MM.YYYY, HH:mm')}} — {{getEndTime(selectedAppointment.startTime, selectedAppointment.duration)}}</div>
            </div>
            <div>
              <div class="d-flex avatar pink">
                <div class="round">
                  <mat-icon>email</mat-icon>
                </div>
                <div>
                  {{defaultEmail}}
                </div>
              </div>
              <div class="d-flex avatar green">
                <div class="round">
                  <mat-icon>smartphone</mat-icon>
                </div>
                <div>
                  {{selectedAppointment.patientNumber}}
                </div>
              </div>
              <div class="d-flex avatar yellow">
                <div class="round">
                  <mat-icon>lens</mat-icon>
                </div>
                <div>
                  Patient vorbereitet
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="button-container">
          <button mat-raised-button class="primary-button" color="primary" (click)="patientPrepared()">Patient
            vorbereitet
          </button>
        </div>
      </div>
      <!--    2-->
      <div *ngIf="isAppointmentDelayMenuOpen" class="right-popup" [ngClass]="{'loading-background':isLoading}">
        <div style="padding-left: 12%;">
          <div class="text-right close-icon">
            <button mat-icon-button (click)="rightSidenav.close()" class="back-button">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div>
            <h1 style="font-size: 36px;" *ngIf="!isMobile">
              <span>Termin </span>
              <span style="font-weight: 100">Verspätung</span>
            </h1>
            <div class="schedule">
              <div>{{selectedAppointment.patientFirstName}} {{selectedAppointment.patientLastName}}</div>
              <div *ngIf="!selectedAppointment.differentPlace">{{selectedAppointment.addressStreet}} {{selectedAppointment.addressOrt}}
                , {{selectedAppointment.addressPlz}} Berlin</div>
              <div *ngIf="selectedAppointment.differentPlace">{{selectedAppointment.otherStreet}} {{selectedAppointment.otherCity}}
                , {{selectedAppointment.otherPostalCode}} Berlin</div>
              <div>{{selectedAppointment.packageName}}</div>
              <div>{{getTimeString(selectedAppointment.startTime, 'DD.MM.YYYY, HH:mm')}} — {{getEndTime(selectedAppointment.startTime, selectedAppointment.duration)}}</div>
            </div>
            <div>
              <div class="d-flex justify-content-center" *ngIf="isLoading">
                <mat-spinner></mat-spinner>
              </div>
              <div class="d-flex avatar pink">
                <div class="round">
                  <mat-icon>email</mat-icon>
                </div>
                <div>
<!--                  <span *ngIf="!isEditEmail">{{customEmail ? customEmail : defaultEmail}}</span>-->
<!--                  <mat-form-field class="w-100" *ngIf="isEditEmail">-->
<!--                    <input autocomplete="off" matInput [(ngModel)]="customEmail">-->
<!--                  </mat-form-field>-->
                  {{defaultEmail}}
                </div>
              </div>
              <div class="d-flex avatar green">
                <div class="round" (click)="isEditNumber = !isEditNumber">
                  <mat-icon>smartphone</mat-icon>
                </div>
                <div>
                  <span *ngIf="!isEditNumber">{{customNumber ? customNumber : defaultNumber}}</span>
                  <mat-form-field class="w-100" *ngIf="isEditNumber">
                    <input autocomplete="off" matInput [(ngModel)]="customNumber">
                  </mat-form-field>
                </div>
              </div>
              <div class="d-flex avatar yellow">
                <div class="round" (click)="isEditText = !isEditText">
                  <mat-icon>lens</mat-icon>
                </div>
                <div>
                  <span>Terminverspätung</span>
                </div>
              </div>
              <div class="text-template" *ngIf="isEditText">
                <ckeditor
                  [editor]="Editor" [(ngModel)]="customText" [config]="{ toolbar: [ 'bold', 'italic' ] }" data=""></ckeditor>
              </div>
            </div>
          </div>
        </div>
        <div class="button-container">
          <button mat-raised-button class="primary-button" color="primary" (click)="appointmentDelay()">Terminverspätung
            melden
          </button>
          <button mat-fab class="ml-2 phone-button">
            <mat-icon>phone</mat-icon>
          </button>
        </div>
      </div>
      <!--    3-->
      <div *ngIf="isShiftScheduleMenuOpen" class="right-popup" [ngClass]="{'loading-background':isLoading}">
        <div style="padding-left: 12%;">
          <div class="text-right close-icon">
            <button mat-icon-button (click)="rightSidenav.close()" class="back-button">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div>
            <h1 style="font-size: 36px;" *ngIf="!isMobile">
              <span>Termin </span>
              <span style="font-weight: 100">verschieben</span>
            </h1>
            <div class="schedule">
              <div>{{selectedAppointment.patientFirstName}} {{selectedAppointment.patientLastName}}</div>
              <div *ngIf="!selectedAppointment.differentPlace">{{selectedAppointment.addressStreet}} {{selectedAppointment.addressOrt}}
                , {{selectedAppointment.addressPlz}} Berlin</div>
              <div *ngIf="selectedAppointment.differentPlace">{{selectedAppointment.otherStreet}} {{selectedAppointment.otherCity}}
                , {{selectedAppointment.otherPostalCode}} Berlin</div>
              <div>{{selectedAppointment.packageName}}</div>
              <div>{{getTimeString(selectedAppointment.startTime, 'DD.MM.YYYY, HH:mm')}} — {{getEndTime(selectedAppointment.startTime, selectedAppointment.duration)}}</div>
            </div>
            <div>
              <div class="d-flex justify-content-center" *ngIf="isLoading">
                <mat-spinner></mat-spinner>
              </div>
              <div class="d-flex avatar pink">
                <div class="round" (click)="isEditEmail = !isEditEmail">
                  <mat-icon>email</mat-icon>
                </div>
                <div>
                  <span *ngIf="!isEditEmail">{{customEmail ? customEmail : defaultEmail}}</span>
                  <mat-form-field class="w-100" *ngIf="isEditEmail">
                    <input autocomplete="off" matInput [(ngModel)]="customEmail">
                  </mat-form-field>
                </div>
              </div>
              <div class="d-flex avatar green">
                <div class="round" (click)="isEditNumber = !isEditNumber">
                  <mat-icon>smartphone</mat-icon>
                </div>
                <div>
                  <span *ngIf="!isEditNumber">{{customNumber ? customNumber : defaultNumber}}</span>
                  <mat-form-field class="w-100" *ngIf="isEditNumber">
                    <input autocomplete="off" matInput [(ngModel)]="customNumber">
                  </mat-form-field>
                </div>
              </div>
              <div class="d-flex avatar yellow">
                <div class="round" (click)="isEditText = !isEditText">
                  <mat-icon>lens</mat-icon>
                </div>
                <div>
                  Terminverschiebung
                </div>
              </div>
              <div class="text-template" *ngIf="isEditText">
                <ckeditor
                  [editor]="Editor" [(ngModel)]="customText" [config]="{ toolbar: [ 'bold', 'italic' ] }" data=""></ckeditor>
              </div>
            </div>
          </div>
        </div>
        <div class="button-container">
          <button mat-raised-button class="primary-button" color="primary" (click)="shiftSchedule()">Termin
            verschieben
          </button>
        </div>
      </div>
      <!--    4-->
      <div *ngIf="isAppointmentTakenMenuOpen" class="right-popup" [ngClass]="{'loading-background':isLoading}">
        <div style="padding-left: 12%;">
          <div class="text-right close-icon">
            <button mat-icon-button (click)="rightSidenav.close()" class="back-button">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div>
            <h1 style="font-size: 36px;" *ngIf="!isMobile">
              <span>Termin </span>
              <span style="font-weight: 100">erledigt</span>
            </h1>
            <div *ngIf="isSubmit" class="submit-page">
              <div class="green-circle"></div>
              <div class="green-text">Daten erfolgreich übermittelt.</div>
            </div>
            <div class="schedule" *ngIf="!isSubmit">
              <div>{{selectedAppointment.patientFirstName}} {{selectedAppointment.patientLastName}}</div>
              <div *ngIf="!selectedAppointment.differentPlace">{{selectedAppointment.addressStreet}} {{selectedAppointment.addressOrt}}
                , {{selectedAppointment.addressPlz}} Berlin</div>
              <div *ngIf="selectedAppointment.differentPlace">{{selectedAppointment.otherStreet}} {{selectedAppointment.otherCity}}
                , {{selectedAppointment.otherPostalCode}} Berlin</div>
              <div>{{selectedAppointment.packageName}}</div>
              <div>{{getTimeString(selectedAppointment.startTime, 'DD.MM.YYYY, HH:mm')}} — {{getEndTime(selectedAppointment.startTime, selectedAppointment.duration)}}</div>
            </div>
            <div class="d-flex justify-content-center" *ngIf="isLoading">
              <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="!isSubmit">
              <div class="d-flex avatar pink">
                <div class="round" (click)="isEditEmail = !isEditEmail">
                  <mat-icon>email</mat-icon>
                </div>
                <div>
                  <span *ngIf="!isEditEmail">{{customEmail ? customEmail : defaultEmail}}</span>
                  <mat-form-field class="w-100" *ngIf="isEditEmail">
                    <input autocomplete="off" matInput [(ngModel)]="customEmail">
                  </mat-form-field>
                </div>
              </div>
              <div class="d-flex avatar green">
                <div class="round">
                  <mat-icon>smartphone</mat-icon>
                </div>
                <div>
                  {{selectedAppointment.patientNumber}}
                </div>
              </div>
              <div class="d-flex avatar yellow">
                <div class="round" (click)="isEditText = !isEditText">
                  <mat-icon>lens</mat-icon>
                </div>
                <div>
                  Termin wahrgenommen
                </div>
              </div>
              <form [formGroup]="appointmentForm" *ngIf="isEditText" style="padding-right: 60px;">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <mat-label>Blutdruck</mat-label>
                      <input autocomplete="off" matInput formControlName="pressure">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <mat-label>Puls</mat-label>
                      <input autocomplete="off" matInput formControlName="pulse">
                    </mat-form-field>
                  </div>
                </div>
                <div>
                  <mat-form-field class="w-100">
                    <mat-label>Sauerstoffsättigung</mat-label>
                    <input autocomplete="off" matInput formControlName="oxygen">
                  </mat-form-field>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <mat-label>Größe in cm</mat-label>
                      <input autocomplete="off" matInput formControlName="height">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <mat-label>Gewicht in kg</mat-label>
                      <input autocomplete="off" matInput formControlName="weight">
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <div class="text-template" *ngIf="isEditText">
                <ckeditor
                  [editor]="Editor" [(ngModel)]="customText" [config]="{ toolbar: [ 'bold', 'italic' ] }" data=""></ckeditor>
              </div>
            </div>
          </div>
        </div>
        <div class="button-container" *ngIf="!isSubmit">
          <button [disabled]="appointmentForm.invalid" mat-raised-button class="primary-button" color="primary" (click)="appointmentTaken()">Termin
            erledigt
          </button>
        </div>
      </div>

      <!--    5-->
      <div *ngIf="isPatientNotThereMenuOpen" class="right-popup" [ngClass]="{'loading-background':isLoading}">
        <div style="padding-left: 12%;">
          <div class="text-right close-icon">
            <button mat-icon-button (click)="rightSidenav.close()" class="back-button">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div>
            <h1 style="font-size: 36px;" *ngIf="!isMobile">
              <span>Patient </span>
              <span style="font-weight: 100">nicht da</span>
            </h1>
            <div *ngIf="isSubmit" class="submit-page">
              <div class="green-circle"></div>
              <div class="green-text">E-Mail-Versand war erfolgreich.</div>
            </div>
            <div class="schedule" *ngIf="!isSubmit">
              <div>{{selectedAppointment.patientFirstName}} {{selectedAppointment.patientLastName}}</div>
              <div *ngIf="!selectedAppointment.differentPlace">{{selectedAppointment.addressStreet}} {{selectedAppointment.addressOrt}}
                , {{selectedAppointment.addressPlz}} Berlin</div>
              <div *ngIf="selectedAppointment.differentPlace">{{selectedAppointment.otherStreet}} {{selectedAppointment.otherCity}}
                , {{selectedAppointment.otherPostalCode}} Berlin</div>
              <div>{{selectedAppointment.packageName}}</div>
              <div>{{getTimeString(selectedAppointment.startTime, 'DD.MM.YYYY, HH:mm')}} — {{getEndTime(selectedAppointment.startTime, selectedAppointment.duration)}}</div>
            </div>
            <div class="d-flex justify-content-center" *ngIf="isLoading">
              <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="!isSubmit">
              <div class="d-flex avatar pink">
                <div class="round" (click)="isEditEmail = !isEditEmail">
                  <mat-icon>email</mat-icon>
                </div>
                <div>
                  <span *ngIf="!isEditEmail">{{customEmail ? customEmail : defaultEmail}}</span>
                  <mat-form-field class="w-100" *ngIf="isEditEmail">
                    <input autocomplete="off" matInput [(ngModel)]="customEmail">
                  </mat-form-field>
                </div>
              </div>
              <div class="d-flex avatar green">
                <div class="round" (click)="isEditNumber = !isEditNumber">
                  <mat-icon>smartphone</mat-icon>
                </div>
                <div>
                  <span *ngIf="!isEditNumber">{{customNumber ? customNumber : defaultNumber}}</span>
                  <mat-form-field class="w-100" *ngIf="isEditNumber">
                    <input autocomplete="off" matInput [(ngModel)]="customNumber">
                  </mat-form-field>
                </div>
              </div>
              <div class="d-flex avatar yellow">
                <div class="round" (click)="isEditText = !isEditText">
                  <mat-icon>lens</mat-icon>
                </div>
                <div>
                  Patienten nicht angetroffen
                </div>
              </div>
              <div class="text-template" *ngIf="isEditText">
                <ckeditor
                  [editor]="Editor" [(ngModel)]="customText" [config]="{ toolbar: [ 'bold', 'italic' ] }" data=""></ckeditor>
              </div>
            </div>
          </div>
        </div>
        <div class="button-container" *ngIf="!isSubmit">
          <button mat-raised-button class="primary-button" color="primary" (click)="patientNotThere()">Um neuen Termin
            bitten
          </button>
        </div>
      </div>
    </div>
  </mat-sidenav>

<!--  main content -->

  <mat-sidenav-content class="page-wrapper">
    <div class="main-content-container">
      <div class="header">
        <div class="sub-header">
          <div>
            <button mat-icon-button (click)="isOpen = true">
              <img src="assets/images/menu.svg" alt="icon">
            </button>
            <img class="logo" src="assets/images/logo_new.png" alt="logo">
          </div>
          <img (click)="isRightMenuOpen = true; isProfileMenuOpen = true;" class="avatar"
               src="/assets/images/avatar.png" alt="user-avatar">
        </div>
        <h1 class="title"><span>Hallo Schwester 1</span>, Dashboard</h1>
      </div>
      <div class="main-body">
        <div class="calendar-container">
          <div class="calendar-body disable-user-select">
            <button mat-icon-button (click)="prevDay()"><mat-icon>skip_previous</mat-icon></button>
            <div class="date-item" (click)="selectDay(index)" [ngClass]="{'active': index === 2}"
                 *ngFor="let i of Arr(5).fill(1); let index = index;">
              <div class="date-item-date">{{getDate(currentDay + (index - 2) * 86400 * 1000, 'date')}}</div>
              <div
                class="date-item-month">{{monthNames[getDate(currentDay + (index - 2) * 86400 * 1000, 'month')]}}</div>
            </div>
            <button mat-icon-button (click)="nextDay()"><mat-icon>skip_next</mat-icon></button>
          </div>
          <div class="date-range-container disable-user-select" *ngIf="!isMobile">
            <div class="date-range-5 active" (click)="setCalendarRange(0)">5 Tage</div>
            <div class="date-range-month" (click)="setCalendarRange(1)">Monat</div>
          </div>
        </div>
        <div class="schedule-container">
          <div *ngFor="let hour of workingHourArray; let index = index;" class="time-label">
            <div class="time-label-item time-label-hour">
              <div>{{getFloor(workingStartHour / 2 + index)}}:{{'00'}}</div>
              <div class="w-100">
                <div class="w-100" *ngFor="let appointment of appointments">
                  <div class="w-100 position-relative"
                       *ngIf="workingStartHour / 2 + index === getDate(appointment.startTime, 'hour')">
                    <div class="appointment-container">
                      <div class="appointment-inner-container"
                           [ngClass]="{'border-green' : appointment.nurseStatus === 'taken', 'border-pink': appointment.nurseStatus === 'ready',
                           'border-black': appointment.nurseStatus === 'standard'}">
                        <div *ngIf="appointment.nurseStatus === 'taken'" class="appointment-status-green">Termin wahrgenommen</div>
                        <div *ngIf="appointment.nurseStatus === 'ready'" class="appointment-status-pink">Patient vorbereitet</div>
                        <div *ngIf="appointment.nurseStatus === 'standard'" class="appointment-status-black">Buchung bestätigt</div>
                        <div class="patient-name">{{appointment.patientFirstName}} {{appointment.patientLastName}}</div>
                        <div class="patient-address" *ngIf="!appointment.differentPlace">{{appointment.addressStreet}} {{appointment.addressOrt}}
                          , {{appointment.addressPlz}} Berlin
                        </div>
                        <div class="patient-address" *ngIf="appointment.differentPlace">{{appointment.otherStreet}} {{appointment.otherCity}}
                          , {{appointment.otherPostalCode}} Berlin
                        </div>
                        <div class="patient-package">{{appointment.packageName}}</div>
                        <div class="patient-time">{{getStartTime(appointment.startTime)}}
                          — {{getEndTime(appointment.startTime, appointment.duration)}}</div>
                      </div>
                    </div>
                    <button class="detail-menu" mat-icon-button (click)="selectedAppointment = appointment" [matMenuTriggerFor]="menu">
                      <mat-icon>more_horiz</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="time-label-item">
              <div
                class="line-bar"
                [ngClass]="{'active': now.getHours() === workingStartHour / 2 + index && now.getMinutes() <= 15}"
              ></div>
              <div class="current-time" *ngIf="now.getHours() === workingStartHour / 2 + index && now.getMinutes() <= 15">
                {{getCurrentTimeFormat()}}
              </div>
            </div>
            <div class="time-label-item">
              <div
                class="double-line-bar"
                [ngClass]="{'active': now.getHours() === workingStartHour / 2 + index && now.getMinutes() > 15 && now.getMinutes() <= 30}"></div>
              <div class="current-time" *ngIf="now.getHours() === workingStartHour / 2 + index && now.getMinutes() > 15 && now.getMinutes() <= 30">
                {{getCurrentTimeFormat()}}
              </div>
            </div>
            <div class="time-label-item">
              <div
                class="line-bar"
                [ngClass]="{'active': now.getHours() === workingStartHour / 2 + index && now.getMinutes() > 30 && now.getMinutes() <= 45}"
              ></div>
              <div class="current-time" *ngIf="now.getHours() === workingStartHour / 2 + index && now.getMinutes() > 30 && now.getMinutes() <= 45">
                {{getCurrentTimeFormat()}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-menu #menu="matMenu">
        <div class="d-flex flex-row">
          <button class="panel-width" mat-menu-item (click)="openRightMenu(0)">
            <span>Patient vorbereitet</span>
          </button>
          <button class="ml-1" mat-icon-button>
            <mat-icon class="close-icon">close</mat-icon>
          </button>
        </div>
        <button mat-menu-item (click)="openRightMenu(1)">
          <span>Termin Verspätung</span>
        </button>
        <button mat-menu-item (click)="openRightMenu(2)">
          <span>Termin verschieben</span>
        </button>
        <button mat-menu-item (click)="openRightMenu(3)">
          <span>Termin wahrgenommen</span>
        </button>
        <button mat-menu-item (click)="openRightMenu(4)">
          <span>Patient nicht da</span>
        </button>
      </mat-menu>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
