.page-wrapper {
  min-height: 100vh;
  position: relative;
  background-color: #F2F7FB;
}

.right-sidenav {
  align-items: flex-end;
}

.side-bar, .right-popup {
  width: 384px;
  background-color: var(--primary-color);
  height: 100%;
  color: white;
  padding-top: 56px;
  display: flex;
  flex-direction: column;

  .back-button {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .back-button:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  ul {
    list-style-type: none;
    font-size: 22px;
    font-weight: 100;
    padding: 0;

    li {
      padding: 15px 30px 15px 30px;
      cursor: pointer;
    }

    li:hover {
      opacity: 0.7;
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}

.right-popup {
  background-color: #FDFEFE;
  width: 480px;
  color: #384C61;
  max-height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  .close-icon {
    color: #CDD4E2;
  }

  .text-template {
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 53px;
  }
}

.schedule {
  border-left: 2px solid #384C61;
  padding: 5px;
  margin-bottom: 32px;

  div {
    padding-left: 20px;
    font-size: 14px;
    color: #272140;
  }

  div:first-child {
    font-size: 16px;
    font-weight: 500;
  }

  div:last-child {
    color: #576E82;
  }
}

.avatar {
  margin-bottom: 20px;
}

.button-container {
  text-align: center;

  .primary-button {
    background-color: #384C61;
    margin-bottom: 43px;
    font-weight: 100;
    height: 50px;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
  }
}


.main-content-container {
  padding-left: 30px;
  padding-top: 56px;
  padding-right: 30px;

  .header {
    .sub-header {
      display: flex;
      justify-content: space-between;

      .logo {
        height: 32px;
      }

      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }

    .title {
      font-size: 36px;
      margin-top: 30px;
      font-weight: 300;
      color: #384C61;

      span {
        font-weight: 400;
      }
    }
  }

  .main-body {
    .calendar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
      min-height: 72px;
      border-radius: 10px;
      padding-left: 45px;
      padding-right: 45px;

      .calendar-body {
        display: flex;
        width: 50%;
        justify-content: space-between;

        .date-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #CAD2E1;

          .date-item-date {
            font-size: 20px;
          }

          .date-item-month {
            font-size: 12px;
          }
        }

        .active {
          color: #384C61;
        }
      }

      .date-range-container {
        display: flex;
        width: 150px;
        justify-content: space-between;
        font-size: 20px;
        color: #CAD2E1;

        .date-range-month {
          cursor: pointer;
          margin-left: 30px;
        }

        .date-range-5 {
          cursor: pointer;
        }

        .active {
          color: #384C61;
        }
      }
    }

    .schedule-container {
      margin-top: 14px;
      color: #576E82;

      .time-label {
        font-size: 12px;
        display: flex;
        flex-direction: column;

        .line-bar {
          margin-bottom: 10px;
          margin-top: 10px;
          width: 10px;
          border: 1px solid #A9BBC9;
        }

        .double-line-bar {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 20px;
          border: 1px solid #A9BBC9;
        }

        .time-label-hour {
          margin-bottom: 8px;
          margin-top: 10px;
        }

        .active {
          width: 50px;
          border-color: #FF5B74;
        }

        div.time-label-item {
          position: relative;
          display: flex;

          .appointment-container {
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 40px;
            width: calc(100% - 40px);
            background-color: white;
            border-radius: 10px;

            .appointment-inner-container {
              margin: 8px 14px 8px 10px;
              border-left: 2px solid #97DC50;
              padding-left: 20px;

              .appointment-status-green {
                font-size: 10px;
                color: #97DC50;
              }

              .appointment-status-pink {
                font-size: 10px;
                color: #F389CC;
              }

              .patient-name {
                font-size: 16px;
                font-weight: 400;
                margin-top: 8px;
                margin-bottom: 3px;
              }

              .patient-address, .patient-package {
                font-size: 14px;
                color: #272140;
              }

              .patient-time {
                font-size: 14px;
                color: #576E82;
              }
            }

            .border-green {
              border-color: #97DC50;
            }

            .border-pink {
              border-color: #F389CC;
            }
          }

          .detail-menu {
            position: absolute;
            right: 10px;
            top: 10px;
          }

          .current-time {
            color: #272140;
            font-size: 28px;
            font-weight: bold;
            position: absolute;
            top: 0;
            left: 70px;
          }
        }
      }
    }
  }
}

.phone-button {
  background-color: #89DF8C;
}

@media only screen and (max-width: 599px) {
  .right-popup, .side-bar {
    width: 100vw;
  }
  .main-content-container {
    .main-body {
      .calendar-container {
        .calendar-body {
          width: 100%;
        }
      }
    }
  }
}
