button:focus {
  outline: none;
}

.header-title {
  font-size: 20px;
  color: white;
}

.search-field-container {
  position: relative;
  width: 300px;
  input {
    width: 100%;
    height: 50px;
    color: var(--primary-color);
    padding: 5px 40px 5px 20px;
    border: 0;
    border-radius: 25px;
  }
  input:focus {
    outline: none;
  }
  mat-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

table {
  width: 100%
}

.custom-button {
  background-color: #E1EAF1;
  border-radius: 25px!important;
  height: 50px;
  font-size: 1rem;
}

.table-toolbar {
  display: flex;
  justify-content: space-between;
}

.table-card {
  border-radius: 15px;
}

.main-container {
  padding-right: 10vw;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #F5A623!important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: white!important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(20px, 0, 0) !important;
}

mat-slide-toggle {
  .mat-slide-toggle-thumb {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 50%;
    transform: translate(4px, -3px);
  }

  .mat-slide-toggle-bar {
    width: 54px;
    height: 34px;
    border-radius: 17px;
    background-color: #E1EAF1!important;
  }
}

.delete-dialog {
  position: absolute;
  background-color: #384c61;
  justify-content: center;
  //box-shadow: 0 1px 10px #E87C607A;
  border-radius: 5px;
  height: 100%;
  left: calc(100% + 17px);
  top: 0;
  width: 14vw;
  color: white;
  box-shadow: 0 1px 10px #E87C607A;

  .ja-button {
    color: #E87C60!important;
    padding: 0;
    min-width: 40px;
  }

  .nein-button {
    color: white;
    padding: 0;
    min-width: 40px;
  }
}

.add-button, .add-calendar {
  width: 60px;
  height: 60px;
  background-color: #E1EAF1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% !important;
  z-index: 1050;
  overflow: visible;
}

button {
  border: none!important;
}

.mat-dialog-container {
  overflow: visible!important;
}

.input-pink {
  mat-label {
    color: #F389CC;
  }
  input {
    color: #fff;
    caret-color: #ffffff;
  }
}

.input-blue {
  mat-label {
    color: #4A90E2;
  }
  input {
    color: #fff;
    caret-color: #ffffff;
  }
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 1px!important;
}

.input-pink .mat-form-field-underline {
  background-color: #F389CC;
  span {
    background-color: #F389CC!important;
  }
}

.input-pink .mat-form-field-ripple {
  background-color: #F389CC;
}

.input-blue .mat-form-field-underline {
  background-color: #4A90E2;
  span {
    background-color: #4A90E2!important;
  }
}

.input-blue .mat-form-field-ripple {
  background-color: #4A90E2;
}

.avatar {
  align-items: center;
  font-size: 16px;
  width: 100%;
  color: black;
  .round {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
  }
}

.pink {
  .round {
    background-color: #FEF0F9;
    mat-icon {
      color: #F389CC;
    }
  }
}

.yellow {
  .round {
    background-color: #FEEACA;
    mat-icon {
      color: #F5A623;
    }
  }
}

.green {
  .round {
    background-color: #E1F7F2;
    mat-icon {
      color: #50E3C2;
    }
  }
}

.blue {
  .round {
    background-color: #E1EAF1;
    mat-icon {
      color: #4A90E2;
    }
  }
}

.mat-expansion-panel-header {
  height: 80px;
}

.expansion-panel-container {
  button {
    margin: 5px;
    box-shadow: 0 1px 10px #E5ECF3!important;
    height: 44px!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
  }
}

.primary {
  margin-left: 16px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px!important;
}

.primary-button {
  border-radius: 25px!important;
}

.width-50 {
  width: calc(50% - 8px);
}

//table tbody tr td:last-child {
//  width: 80px;
//}

.mat-menu-panel {
  border-radius: 10px!important;
}

.delete-icon {
  color: #BDD0DF;
}

.warning-color {
  color: #E87C60
}

.mat-card-radius {
  border-radius: 12px!important;
}

mat-dialog-container {
  border-radius: 12px!important;
}

.mat-form-field-hide-placeholder .mat-form-field-label {
  top: 10px!important;
  padding-left: 16px;
}

.text-black {
  color: #202331;
}

table thead tr th {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
