.main-edit-container {
  display: flex;
  margin-top: 47px;
  .left-div {
    width: 45%;
    p {
      color: #272140;
      font-size: 16px;
    }
    .w-90 {
      width: 90% !important
    }
    .w-45 {
      width: 45% !important
    }
  }
  .right-dev {
    width: 55%;
    padding-left: 30px;
    p {
      color: #272140;
      font-size: 16px;
    }
  }
}
.custom-button-384C61 {
  background-color: #384C61;
  border-radius: 25px !important;
  height: 37px;
  color: #ffffff;
  font-size: 1rem;
}
.custom-button-37 {
  background-color: #E1EAF1;
  border-radius: 25px !important;
  height: 37px;
  font-size: 1rem;
  color: #ffffff;
}
.mt-18 {
  margin-top: 18px!important;
}
.w-100 {
  width: 100% !important
}
.mt-85 {
  margin-top: 85px;
}
.ml-166 {
  margin-left: 166px;
}
.custom-button-s-384C61 {
  background-color: #384C61;
  border-radius: 25px !important;
  height: 50px;
  font-size: 1rem;
  color: #ffffff;
}
h1 {
  font-size: 36px!important;
}
