<div class="left-side-container">
  <button mat-icon-button class="close" (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
  <div class="main-div">
    <h1>Kontakt <span style="font-weight: 100"> historie</span></h1>
    <div class="mt-47">
      <div class="left-border-div">
        <p class="p-16 ml-20">{{historyData.ddd.date}}</p>
        <p class="p-576E82">Check-up: <span>{{historyData.ddd.check_up}}</span></p>
        <p class="p-14 ml-20">{{historyData.ddd.address}}</p>
        <div *ngFor="let history of historyData.data">
          <div class="d-flex mt-24">
            <mat-icon class="dot">lens</mat-icon>
            <div class="d-block ml-20">
              <p class="p-16">{{history.time}}</p>
              <p class="p-14">{{history.status}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
